/* screen - adultos-pollo */

.adultos-pollo {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 5889.08px;
  overflow: hidden;
  width: 1920px;
}

.adultos-pollo .grou-container {
  height: 5902px;
  margin-left: -206px;
  margin-top: -14.36px;
  position: relative;
  width: 4375px;
}

.adultos-pollo .overlap-group16 {
  height: 5834px;
  left: 2121px;
  position: absolute;
  top: 12px;
  width: 2254px;
}

.adultos-pollo .rectangle-275 {
  background-color: var(--banana);
  height: 1428px;
  left: 191px;
  position: absolute;
  top: 4407px;
  width: 1920px;
}

.adultos-pollo .path {
  height: 2325px;
  left: 191px;
  object-fit: cover;
  position: absolute;
  top: 2265px;
  width: 1926px;
}

.adultos-pollo .path-1 {
  height: 1207px;
  left: 191px;
  object-fit: cover;
  position: absolute;
  top: 1291px;
  width: 1924px;
}

.adultos-pollo .path-2 {
  height: 1454px;
  left: 191px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 1920px;
}

.adultos-pollo .otros-productos {
  left: 748px;
  letter-spacing: 0;
  line-height: 73.1px;
  position: absolute;
  text-align: center;
  top: 4783px;
  white-space: nowrap;
}

.adultos-pollo .group-container {
  height: 678px;
  left: 510px;
  position: absolute;
  top: 539px;
  width: 612px;
}

.adultos-pollo .group-592 {
  display: flex;
  height: 678px;
  left: 13px;
  position: absolute;
  top: 0;
  width: 599px;
}

.adultos-pollo .group-591 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 601.02px;
}

.adultos-pollo .overlap-group-10 {
  height: 676px;
  margin-top: 0;
  position: relative;
  width: 601px;
}

.adultos-pollo .adultos-mar {
  height: 110px;
  left: 0;
  letter-spacing: 0;
  line-height: 46.7px;
  position: absolute;
  text-align: center;
  top: 566px;
  width: 601px;
}

.adultos-pollo .group-590 {
  background-image: url(../img/rectangle-184@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 608px;
  left: 70px;
  position: absolute;
  top: 0;
  width: 473px;
}

.adultos-pollo .group-597 {
  display: flex;
  height: 129px;
  left: 0;
  position: absolute;
  top: 441px;
  width: 229px;
}

.adultos-pollo .group-596 {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 229.02px;
}

.adultos-pollo .group-595 {
  background-image: url(../img/group-373@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 82px;
  width: 110px;
}

.adultos-pollo .ellipse-43 {
  background-color: var(--sunglow);
  border-radius: 566.81px/58.51px;
  height: 117px;
  left: 584px;
  position: absolute;
  top: 5382px;
  width: 1134px;
}

.adultos-pollo .rectangle-279 {
  height: 526px;
  left: 1276px;
  object-fit: cover;
  position: absolute;
  top: 4957px;
  width: 409px;
}

.adultos-pollo .adultos-pollo-1 {
  height: 130px;
  left: 1027px;
  line-height: 29.6px;
  top: 5522px;
  width: 243px;
}

.adultos-pollo .adultoscontrol-peso {
  height: 138px;
  left: 1355px;
  letter-spacing: 0;
  line-height: 31.5px;
  position: absolute;
  text-align: center;
  top: 5521px;
  width: 258px;
}

.adultos-pollo .gatitos {
  height: 133px;
  left: 699px;
  letter-spacing: 0;
  line-height: 30.3px;
  position: absolute;
  text-align: center;
  top: 5529px;
  width: 248px;
}

.adultos-pollo .group-601 {
  display: flex;
  height: 530px;
  left: 623px;
  position: absolute;
  top: 4958px;
  width: 412px;
}

.adultos-pollo .group-600 {
  display: flex;
  flex: 1;
  width: 412.33px;
}

.adultos-pollo .group-599 {
  background-image: url(../img/rectangle-188@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  width: 412.33px;
}

.adultos-pollo .rectangle-281 {
  flex: 1;
  margin-left: 0;
  margin-right: 0;
  object-fit: cover;
  width: 412.33px;
}

.adultos-pollo .rectangle-282 {
  height: 536px;
  left: 945px;
  object-fit: cover;
  position: absolute;
  top: 4952px;
  width: 417px;
}

.adultos-pollo .group-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3px;
  left: 1719px;
  min-height: 216px;
  position: absolute;
  top: 1246px;
  width: 169px;
}

.adultos-pollo .path-3 {
  height: 39px;
  margin-left: 21.33px;
  object-fit: cover;
  width: 47px;
}

.adultos-pollo .overlap-group3 {
  height: 174px;
  position: relative;
  width: 169px;
}

.adultos-pollo .overlap-group {
  height: 174px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 160px;
}

.adultos-pollo .path-container {
  height: 164px;
  left: 40px;
  position: absolute;
  top: 10px;
  width: 120px;
}

.adultos-pollo .path-4 {
  height: 125px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 106px;
}

.adultos-pollo .path-5 {
  height: 41px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 123px;
  width: 44px;
}

.adultos-pollo .path-6 {
  height: 39px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 44px;
}

.adultos-pollo .path-7 {
  height: 40px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 42px;
}

.adultos-pollo .group-6-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 1410px;
  min-height: 175px;
  position: absolute;
  top: 1239px;
  width: 166px;
}

.adultos-pollo .path-container-15 {
  align-items: flex-start;
  display: flex;
  gap: 30px;
  height: 49px;
  margin-left: 17.59px;
  min-width: 109px;
}

.adultos-pollo .path-8 {
  align-self: flex-end;
  height: 38px;
  object-fit: cover;
  width: 39px;
}

.adultos-pollo .path-9 {
  height: 39px;
  object-fit: cover;
  width: 40px;
}

.adultos-pollo .flex-row {
  gap: 3px;
  height: 121px;
  min-width: 166px;
}

.adultos-pollo .path-container-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-height: 103px;
  width: 58px;
}

.adultos-pollo .path-10 {
  height: 38px;
  object-fit: cover;
  width: 37px;
}

.adultos-pollo .path-11 {
  align-self: flex-end;
  height: 40px;
  object-fit: cover;
  width: 39px;
}

.adultos-pollo .path-12 {
  height: 110px;
  object-fit: cover;
  width: 105px;
}

.adultos-pollo .group-6-2 {
  height: 184px;
  left: 1092px;
  position: absolute;
  top: 1275px;
  width: 149px;
}

.adultos-pollo .path-container-2 {
  height: 135px;
  left: 38px;
  position: absolute;
  top: 0;
  width: 112px;
}

.adultos-pollo .path-13 {
  height: 109px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 92px;
}

.adultos-pollo .path-14 {
  height: 33px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 41px;
}

.adultos-pollo .path-15 {
  height: 35px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: 149px;
  width: 39px;
}

.adultos-pollo .path-16 {
  height: 33px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 38px;
}

.adultos-pollo .path-17 {
  height: 34px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 120px;
  width: 37px;
}

.adultos-pollo .group-6-3 {
  display: flex;
  height: 467px;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 3715px;
  width: 453px;
}

.adultos-pollo .group-6-4 {
  flex: 1;
  position: relative;
  width: 452.8px;
}

.adultos-pollo .path-container-3 {
  height: 411px;
  left: 0;
  position: absolute;
  top: 56px;
  width: 397px;
}

.adultos-pollo .path-18 {
  height: 284px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 127px;
  width: 325px;
}

.adultos-pollo .path-19 {
  height: 144px;
  left: 272px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 125px;
}

.adultos-pollo .path-20 {
  height: 135px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 114px;
}

.adultos-pollo .path-21 {
  height: 147px;
  left: 145px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 122px;
}

.adultos-pollo .path-22 {
  height: 131px;
  left: 332px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 120px;
}

.adultos-pollo .group-6-5 {
  height: 181px;
  left: 758px;
  position: absolute;
  top: 1332px;
  width: 157px;
}

.adultos-pollo .path-container-4 {
  height: 159px;
  left: 25px;
  position: absolute;
  top: 22px;
  width: 133px;
}

.adultos-pollo .path-23 {
  height: 107px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 98px;
}

.adultos-pollo .path-24 {
  height: 38px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 121px;
  width: 38px;
}

.adultos-pollo .path-25 {
  height: 36px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 38px;
}

.adultos-pollo .path-26 {
  height: 36px;
  left: 88px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 40px;
}

.adultos-pollo .path-27 {
  height: 36px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 87px;
  width: 36px;
}

.adultos-pollo .group-6-6 {
  height: 182px;
  left: 353px;
  position: absolute;
  top: 1352px;
  width: 155px;
}

.adultos-pollo .path-container-5 {
  height: 158px;
  left: 25px;
  position: absolute;
  top: 0;
  width: 130px;
}

.adultos-pollo .path-28 {
  height: 110px;
  left: 34px;
  object-fit: cover;
  position: absolute;
  top: 21px;
  width: 96px;
}

.adultos-pollo .path-29 {
  height: 34px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 41px;
}

.adultos-pollo .path-30 {
  height: 35px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 124px;
  width: 37px;
}

.adultos-pollo .path-31 {
  height: 35px;
  left: 84px;
  object-fit: cover;
  position: absolute;
  top: 147px;
  width: 40px;
}

.adultos-pollo .path-32 {
  height: 34px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 58px;
  width: 38px;
}

.adultos-pollo .group-6-7 {
  display: flex;
  height: 492px;
  left: 105px;
  opacity: 0.5;
  position: absolute;
  top: 2543px;
  width: 479px;
}

.adultos-pollo .group-609 {
  flex: 1;
  position: relative;
  width: 479.17px;
}

.adultos-pollo .path-container-6 {
  height: 492px;
  left: 0;
  position: absolute;
  top: 0;
  width: 431px;
}

.adultos-pollo .path-33 {
  height: 301px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 190px;
  width: 335px;
}

.adultos-pollo .path-34 {
  height: 150px;
  left: 296px;
  object-fit: cover;
  position: absolute;
  top: 68px;
  width: 135px;
}

.adultos-pollo .path-35 {
  height: 154px;
  left: 169px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 129px;
}

.adultos-pollo .path-36 {
  height: 142px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 51px;
  width: 121px;
}

.adultos-pollo .path-37 {
  height: 135px;
  left: 351px;
  object-fit: cover;
  position: absolute;
  top: 226px;
  width: 128px;
}

.adultos-pollo .group-6-8 {
  display: flex;
  height: 471px;
  left: 1769px;
  opacity: 0.5;
  position: absolute;
  top: 3082px;
  width: 456px;
}

.adultos-pollo .group-6-9 {
  flex: 1;
  position: relative;
  width: 456.29px;
}

.adultos-pollo .path-container-7 {
  height: 414px;
  left: 56px;
  position: absolute;
  top: 57px;
  width: 400px;
}

.adultos-pollo .path-38 {
  height: 286px;
  left: 73px;
  object-fit: cover;
  position: absolute;
  top: 128px;
  width: 327px;
}

.adultos-pollo .path-39 {
  height: 145px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 126px;
}

.adultos-pollo .path-40 {
  height: 137px;
  left: 277px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 115px;
}

.adultos-pollo .path-41 {
  height: 149px;
  left: 187px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 123px;
}

.adultos-pollo .path-42 {
  height: 132px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 204px;
  width: 121px;
}

.adultos-pollo .los-gatos-adultos-re {
  height: 370px;
  left: 532px;
  letter-spacing: 0.38px;
  line-height: 46px;
  position: absolute;
  top: 1774px;
  width: 600px;
}

.adultos-pollo .overlap-group-1 {
  background-color: var(--white);
  border: 17.23px solid;
  border-color: var(--congress-blue);
  border-radius: 67.01px;
  height: 155px;
  left: 520px;
  position: absolute;
  top: 1610px;
  width: 244px;
}

.adultos-pollo .protena {
  height: 60px;
  left: 33px;
  letter-spacing: 0.28px;
  line-height: 33.9px;
  position: absolute;
  text-align: center;
  top: 61px;
  width: 143px;
}

.adultos-pollo .group-6-10 {
  align-items: flex-start;
  display: flex;
  height: 43px;
  left: 46px;
  min-width: 116px;
  position: absolute;
  top: 22px;
}

.adultos-pollo .path-43 {
  height: 43px;
  object-fit: cover;
  width: 32px;
}

.adultos-pollo .path-44 {
  height: 43px;
  margin-left: 2px;
  object-fit: cover;
  width: 32px;
}

.adultos-pollo .path-45 {
  align-self: flex-end;
  height: 43px;
  margin-left: 4px;
  object-fit: cover;
  width: 46px;
}

.adultos-pollo .group-617 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 55px;
  left: 197px;
  min-height: 377px;
  position: absolute;
  top: 3312px;
  width: 1910px;
}

.adultos-pollo .group-616 {
  align-items: flex-start;
  background-image: url(../img/path-1379@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: 10.13px;
  min-height: 88px;
  padding: 12.7px 72.8px;
  width: 169px;
}

.adultos-pollo .path-container-8 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 2px;
  margin-left: 0.09px;
  margin-top: 43px;
  min-width: 13px;
}

.adultos-pollo .path-46 {
  height: 5px;
  object-fit: cover;
  width: 5px;
}

.adultos-pollo .path-47 {
  align-self: flex-end;
  height: 5px;
  object-fit: cover;
  width: 5px;
}

.adultos-pollo .path-container-9 {
  height: 14px;
  position: relative;
  width: 23px;
}

.adultos-pollo .path-48 {
  height: 11px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 15px;
}

.adultos-pollo .path-49 {
  height: 4px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 5px;
}

.adultos-pollo .path-50 {
  height: 4px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.adultos-pollo .overlap-group8 {
  height: 264px;
  position: relative;
  width: 1910px;
}

.adultos-pollo .cmo-alimentar-a-tu-minino {
  height: 230px;
  left: 403px;
  letter-spacing: 0;
  line-height: 75.7px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1105px;
}

.adultos-pollo .considera-su-peso-y {
  left: 0;
  letter-spacing: 0;
  line-height: 44.1px;
  position: absolute;
  text-align: center;
  top: 117px;
  white-space: nowrap;
}

.adultos-pollo .overlap-group9 {
  height: 499px;
  left: 517px;
  position: absolute;
  top: 3750px;
  width: 1267px;
}

.adultos-pollo .gua-de-alimentacin-diaria {
  height: 211px;
  left: 93px;
  letter-spacing: 0;
  line-height: 48.3px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1051px;
}

.adultos-pollo .group-618 {
  align-items: flex-end;
  display: flex;
  height: 414px;
  left: 0;
  min-width: 1267px;
  position: absolute;
  top: 85px;
}

.adultos-pollo .overlap-group-container {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-left: -1px;
  min-height: 413px;
  width: 404px;
}

.adultos-pollo .overlap-group-2 {
  height: 94px;
  margin-left: 0.58px;
  position: relative;
  width: 403px;
}

.adultos-pollo .rectangle {
  background-color: var(--cerulean);
  border-radius: 41.33px;
  height: 93px;
  left: 0;
  position: absolute;
  top: 0;
  width: 403px;
}

.adultos-pollo .peso-kg {
  height: 70px;
  left: 57px;
  letter-spacing: 0;
  line-height: 54.1px;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 318px;
}

.adultos-pollo .overlap-group-3 {
  height: 310px;
  position: relative;
  width: 402px;
}

.adultos-pollo .rectangle-1 {
  background-color: var(--white);
  border: 1.17px solid;
  border-color: var(--congress-blue);
  border-radius: 46.77px;
  height: 308px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 402px;
}

.adultos-pollo .address {
  height: 284px;
  left: 107px;
  letter-spacing: 0;
  line-height: 96.2px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 191px;
}

.adultos-pollo .line {
  height: 2px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: 106px;
  width: 252px;
}

.adultos-pollo .line-1 {
  height: 2px;
  left: 74px;
  top: 213px;
  width: 252px;
}

.adultos-pollo .overlap-group-container-1 {
  gap: 4px;
  margin-left: 18px;
  width: 398px;
}

.adultos-pollo .overlap-group1 {
  height: 95px;
  margin-left: 2.03px;
  position: relative;
  width: 395px;
}

.adultos-pollo .rectangle-2 {
  background-color: var(--cerulean);
  border-radius: 37.06px;
  height: 93px;
  left: 0;
  position: absolute;
  top: 0;
  width: 395px;
}

.adultos-pollo .cantidades-g {
  height: 70px;
  left: 44px;
  letter-spacing: 0;
  line-height: 54.1px;
  position: absolute;
  text-align: center;
  top: 25px;
  width: 318px;
}

.adultos-pollo .overlap-group-4 {
  height: 315px;
  position: relative;
  width: 398px;
}

.adultos-pollo .rectangle-3 {
  background-color: var(--white);
  border: 1.17px solid;
  border-color: var(--congress-blue);
  border-radius: 48.77px;
  height: 309px;
  left: 3px;
  position: absolute;
  top: 6px;
  width: 395px;
}

.adultos-pollo .address-1 {
  height: 287px;
  left: 0;
  letter-spacing: 0;
  line-height: 96.2px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 398px;
}

.adultos-pollo .line-2 {
  height: 2px;
  left: 78px;
  top: 110px;
  width: 252px;
}

.adultos-pollo .line-3 {
  height: 2px;
  left: 78px;
  top: 213px;
  width: 252px;
}

.adultos-pollo .overlap-group-container-2 {
  gap: 3px;
  margin-left: 22px;
  width: 426px;
}

.adultos-pollo .overlap-group5 {
  align-items: flex-end;
  background-color: var(--cerulean);
  border-radius: 38.55px;
  display: flex;
  height: 93px;
  justify-content: flex-end;
  margin-left: 0.93px;
  min-width: 425px;
  padding: 0.5px 35.6px;
}

.adultos-pollo .cantidad-tazas {
  height: 70px;
  letter-spacing: 0;
  line-height: 54.1px;
  text-align: center;
  width: 352px;
}

.adultos-pollo .overlap-group-5 {
  height: 317px;
  position: relative;
  width: 425px;
}

.adultos-pollo .rectangle-4 {
  background-color: var(--white);
  border: 1.17px solid;
  border-color: var(--congress-blue);
  border-radius: 43.04px;
  height: 309px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 425px;
}

.adultos-pollo .line-4 {
  height: 2px;
  left: 73px;
  top: 112px;
  width: 252px;
}

.adultos-pollo .line-5 {
  height: 2px;
  left: 73px;
  top: 215px;
  width: 252px;
}

.adultos-pollo .overlap-group10 {
  height: 552px;
  left: 668px;
  position: absolute;
  top: 2655px;
  width: 967px;
}

.adultos-pollo .overlap-group-11 {
  height: 552px;
  left: 0;
  position: absolute;
  top: 0;
  width: 967px;
}

.adultos-pollo .rectangle-290 {
  background-color: var(--lochmara);
  border-radius: 0px 0px 0px 11.42px;
  height: 456px;
  left: 0;
  position: absolute;
  top: 95px;
  width: 650px;
}

.adultos-pollo .rectangle-5 {
  background-color: var(--white);
  border-radius: 0px 0px 11.27px 0px;
  height: 434px;
  left: 650px;
  position: absolute;
  top: 117px;
  width: 315px;
}

.adultos-pollo .path-1945 {
  height: 116px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 964px;
}

.adultos-pollo .percent {
  left: 742px;
  letter-spacing: 2.07px;
  line-height: 34.2px;
  position: absolute;
  text-align: center;
  top: 124px;
  white-space: nowrap;
}

.adultos-pollo .percent-4 {
  left: 744px;
  top: 183px;
}

.adultos-pollo .percent-1 {
  left: 753px;
  top: 242px;
}

.adultos-pollo .percent-2 {
  left: 753px;
  top: 304px;
}

.adultos-pollo .percent-5 {
  left: 756px;
  top: 423px;
}

.adultos-pollo .percent-3 {
  left: 754px;
  top: 484px;
}

.adultos-pollo .line-93 {
  height: 1px;
  left: 2px;
  top: 174px;
  width: 964px;
}

.adultos-pollo .line-94 {
  height: 1px;
  left: 2px;
  top: 235px;
  width: 964px;
}

.adultos-pollo .line-95 {
  height: 1px;
  left: 2px;
  top: 292px;
  width: 964px;
}

.adultos-pollo .line-96 {
  height: 1px;
  left: 2px;
  top: 354px;
  width: 964px;
}

.adultos-pollo .line-97 {
  height: 1px;
  left: 2px;
  top: 415px;
  width: 964px;
}

.adultos-pollo .line-98 {
  height: 1px;
  left: 2px;
  top: 477px;
  width: 964px;
}

.adultos-pollo .line-99 {
  height: 434px;
  left: 650px;
  top: 117px;
  width: 1px;
}

.adultos-pollo .rectangle-292 {
  border: 2.34px solid;
  border-color: var(--congress-blue-3);
  border-radius: 29.79px 29.79px 10.81px 10.81px;
  height: 552px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 966px;
}

.adultos-pollo .anlisis-garantizado {
  left: 137px;
  letter-spacing: 3.54px;
  line-height: 58.6px;
  position: absolute;
  top: 39px;
  white-space: nowrap;
}

.adultos-pollo .percent-6 {
  left: 745px;
  top: 363px;
}

.adultos-pollo .protena-cruda-mn {
  -webkit-text-stroke: 5.6px var(--lochmara);
  left: 74px;
  letter-spacing: 2.07px;
  line-height: 34.2px;
  position: absolute;
  top: 133px;
  white-space: nowrap;
}

.adultos-pollo .grasa-cruda-mn {
  -webkit-text-stroke: 5.6px var(--lochmara);
  left: 74px;
  letter-spacing: 2.07px;
  line-height: 34.2px;
  position: absolute;
  top: 189px;
  white-space: nowrap;
}

.adultos-pollo .fibra-cruda-mx {
  -webkit-text-stroke: 5.6px var(--lochmara);
  left: 74px;
  letter-spacing: 2.07px;
  line-height: 34.2px;
  position: absolute;
  top: 251px;
  white-space: nowrap;
}

.adultos-pollo .ceniza-mx {
  -webkit-text-stroke: 5.6px var(--lochmara);
  left: 74px;
  letter-spacing: 2.07px;
  line-height: 34.2px;
  position: absolute;
  top: 313px;
  white-space: nowrap;
}

.adultos-pollo .calcio-mn {
  -webkit-text-stroke: 5.6px var(--lochmara);
  left: 74px;
  letter-spacing: 2.07px;
  line-height: 34.2px;
  position: absolute;
  top: 432px;
  white-space: nowrap;
}

.adultos-pollo .fsforo-mn {
  -webkit-text-stroke: 5.6px var(--lochmara);
  left: 74px;
  letter-spacing: 2.07px;
  line-height: 34.2px;
  position: absolute;
  top: 493px;
  white-space: nowrap;
}

.adultos-pollo .humedad-mx {
  -webkit-text-stroke: 5.6px var(--lochmara);
  left: 74px;
  letter-spacing: 2.07px;
  line-height: 34.2px;
  position: absolute;
  top: 372px;
  white-space: nowrap;
}

.adultos-pollo .protena-cruda-mn-1 {
  top: 128px;
}

.adultos-pollo .grasa-cruda-mn-1 {
  top: 184px;
}

.adultos-pollo .fibra-cruda-mx-1 {
  top: 246px;
}

.adultos-pollo .ceniza-mx-1 {
  top: 308px;
}

.adultos-pollo .calcio-mn-1 {
  top: 427px;
}

.adultos-pollo .fsforo-mn-1 {
  top: 488px;
}

.adultos-pollo .humedad-mx-1 {
  top: 367px;
}

.adultos-pollo .group-6-11 {
  align-items: flex-end;
  background-color: var(--congress-blue-2);
  border-radius: 43.74px;
  display: flex;
  height: 87px;
  justify-content: flex-end;
  left: 958px;
  min-width: 385px;
  padding: 0 75.3px;
  position: absolute;
  top: 184px;
}

.adultos-pollo .adultos {
  letter-spacing: 0;
  line-height: 61.8px;
  margin-bottom: -2.07px;
  min-height: 72px;
  min-width: 233px;
  text-align: center;
  white-space: nowrap;
}

.adultos-pollo .group-6-12 {
  display: flex;
  height: 467px;
  left: 1801px;
  opacity: 0.5;
  position: absolute;
  top: 4072px;
  width: 453px;
}

.adultos-pollo .group-623 {
  flex: 1;
  position: relative;
  width: 452.8px;
}

.adultos-pollo .path-container-10 {
  height: 411px;
  left: 56px;
  position: absolute;
  top: 56px;
  width: 397px;
}

.adultos-pollo .path-51 {
  height: 284px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  top: 127px;
  width: 325px;
}

.adultos-pollo .path-52 {
  height: 144px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 125px;
}

.adultos-pollo .path-53 {
  height: 135px;
  left: 275px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 114px;
}

.adultos-pollo .path-54 {
  height: 147px;
  left: 186px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 122px;
}

.adultos-pollo .path-55 {
  height: 131px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 120px;
}

.adultos-pollo .group-6-13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1161px;
  min-height: 494px;
  position: absolute;
  top: 621px;
  width: 492px;
}

.adultos-pollo .overlap-group1-1 {
  height: 118px;
  margin-left: -1.44px;
  margin-top: -1px;
  position: relative;
  width: 494px;
}

.adultos-pollo .overlap-group-6 {
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 494px;
}

.adultos-pollo .rectangle-294 {
  background-color: var(--white);
  border-radius: 38.46px;
  height: 84px;
  left: 51px;
  position: absolute;
  top: 17px;
  width: 443px;
}

.adultos-pollo .ellipse-4 {
  background-color: var(--lucky-point);
  border: 2.88px solid;
  border-color: var(--white);
  border-radius: 57.44px;
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 118px;
}

.adultos-pollo .salud-urinaria {
  height: 69px;
  left: 126px;
  letter-spacing: 0.32px;
  line-height: 38.1px;
  position: absolute;
  text-align: center;
  top: 26px;
  width: 340px;
  margin-top: 10px;
}

.adultos-pollo .group-6-14 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 23px;
  min-height: 57px;
  position: absolute;
  top: 26px;
  width: 72px;
}

.adultos-pollo .path-container-11 {
  align-items: flex-start;
  display: flex;
  gap: 2px;
  height: 19px;
  margin-left: 11.05px;
  min-width: 31px;
}

.adultos-pollo .path-56 {
  align-self: flex-end;
  height: 17px;
  object-fit: cover;
  width: 18px;
}

.adultos-pollo .path-57 {
  height: 10px;
  object-fit: cover;
  width: 10px;
}

.adultos-pollo .overlap-group3-1 {
  background-image: url(../img/path-1399@1x.png);
  justify-content: flex-end;
}

.adultos-pollo .flex-col {
  align-self: flex-end;
  flex-direction: column;
  min-height: 12px;
  width: 13px;
}

.adultos-pollo .path-container-12 {
  align-items: flex-start;
  display: flex;
  gap: 2px;
  height: 4px;
  margin-left: 3.56px;
  min-width: 8px;
}

.adultos-pollo .path-58 {
  align-self: flex-end;
  height: 3px;
  object-fit: cover;
  width: 3px;
}

.adultos-pollo .path-59 {
  height: 3px;
  object-fit: cover;
  width: 3px;
}

.adultos-pollo .path-container-13 {
  height: 8px;
  position: relative;
  width: 13px;
}

.adultos-pollo .path-60 {
  height: 8px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 11px;
}

.adultos-pollo .path-61 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 2px;
}

.adultos-pollo .path-62 {
  height: 2px;
  margin-top: 7.18px;
  object-fit: cover;
  width: 2px;
}

.adultos-pollo .overlap-group12 {
  height: 132px;
  margin-left: 2.37px;
  margin-top: 69px;
  position: relative;
  width: 490px;
}

.adultos-pollo .overlap-group1-2 {
  height: 132px;
  left: 0;
  position: absolute;
  top: 0;
  width: 490px;
}

.adultos-pollo .overlap-group-7 {
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 490px;
}

.adultos-pollo .rectangle-295 {
  background-color: var(--white);
  border-radius: 38.46px;
  height: 84px;
  left: 0;
  position: absolute;
  top: 17px;
  width: 443px;
}

.adultos-pollo .ellipse-46 {
  background-color: var(--lucky-point);
  border: 2.88px solid;
  border-color: var(--white);
  border-radius: 57.44px;
  height: 118px;
  left: 372px;
  position: absolute;
  top: 0;
  width: 118px;
}

.adultos-pollo .line-100 {
  height: 86px;
  left: 389px;
  top: 16px;
  width: 86px;
}

.adultos-pollo .path-63 {
  height: 62px;
  left: 391px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 80px;
}

.adultos-pollo .overlap-group2 {
  height: 118px;
  margin-left: -0.92px;
  margin-top: 62px;
  position: relative;
  width: 493px;
}

.adultos-pollo .overlap-group-8 {
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 493px;
}

.adultos-pollo .rectangle-296 {
  background-color: var(--white);
  border-radius: 38.46px;
  height: 84px;
  left: 50px;
  position: absolute;
  top: 17px;
  width: 443px;
}

.adultos-pollo .overlap-group1-3 {
  height: 77px;
  left: 32px;
  position: absolute;
  top: 22px;
  width: 53px;
}

.adultos-pollo .path-64 {
  height: 63px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 46px;
}

.adultos-pollo .path-65 {
  height: 77px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 53px;
}

.adultos-pollo .path-66 {
  height: 3px;
  left: 23px;
  object-fit: cover;
  position: absolute;
  top: 59px;
  width: 9px;
}

.adultos-pollo .path-67 {
  height: 3px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 64px;
  width: 44px;
}

.adultos-pollo .group-629 {
  background-image: url(../img/path-1395@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 10px;
  left: 30px;
  position: absolute;
  top: 9px;
  width: 3px;
}

.adultos-pollo .group-630 {
  background-image: url(../img/path-1396@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 37px;
  position: absolute;
  top: 15px;
  width: 8px;
}

.adultos-pollo .group-631 {
  background-image: url(../img/path-1397@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 10px;
  left: 34px;
  position: absolute;
  top: 11px;
  width: 6px;
}

.adultos-pollo .path-68 {
  height: 23px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 45px;
  width: 8px;
}

.adultos-pollo .group-container-1 {
  height: 531px;
  left: 1122px;
  position: absolute;
  top: 1610px;
  width: 607px;
}

.adultos-pollo .group-636 {
  background-image: url(../img/path-1408@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 358px;
  left: 248px;
  position: absolute;
  top: 49px;
  width: 359px;
}

.adultos-pollo .group-638 {
  background-image: url(../img/rectangle-205@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 523px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 407px;
}

.adultos-pollo .overlap-group1-4 {
  height: 131px;
  left: 38px;
  position: absolute;
  top: 0;
  width: 131px;
}

.adultos-pollo .overlap-group-12 {
  align-items: flex-end;
  background-image: url(../img/path-1409@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 131px;
  left: 0;
  min-width: 131px;
  padding: 8.2px 8.2px;
  position: absolute;
  top: 0;
}

.adultos-pollo .ellipse-48 {
  background-color: var(--white);
  border-radius: 57.1px;
  height: 114px;
  width: 114px;
}

.adultos-pollo .path-1970 {
  height: 25px;
  left: 46px;
  object-fit: cover;
  position: absolute;
  top: 45px;
  width: 23px;
}

.adultos-pollo .path-1971 {
  height: 27px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  top: 44px;
  width: 13px;
}

.adultos-pollo .group-640 {
  height: 35px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 98px;
}

.adultos-pollo .group-641 {
  height: 31px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 81px;
}

.adultos-pollo .group-644 {
  background-image: url(../img/path-1438@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 238px;
  left: 1359px;
  position: absolute;
  top: 4322px;
  width: 310px;
}

.adultos-pollo .path-container-14 {
  height: 73px;
  left: 83px;
  position: absolute;
  top: 80px;
  width: 37px;
}

.adultos-pollo .path-69 {
  height: 50px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 29px;
}

.adultos-pollo .path-20-1 {
  height: 27px;
  left: 0;
  top: 46px;
  width: 13px;
}

.adultos-pollo .path-20-2 {
  height: 28px;
  left: 78px;
  top: 62px;
  width: 12px;
}

.adultos-pollo .group {
  height: 155px;
  left: 260px;
  position: absolute;
  top: 0;
  width: 1781px;
}

.adultos-pollo .overlap-group-9 {
  height: 155px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1781px;
}

.adultos-pollo .line-1-1 {
  height: 3px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 128px;
  width: 1781px;
}

.adultos-pollo .group-1 {
  background-image: url(../img/group-130@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 155px;
  left: 753px;
  position: absolute;
  top: 0;
  width: 275px;
}

.adultos-pollo .sobre-nosotros {
  left: 64px;
  letter-spacing: 0;
  line-height: 43.2px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
}

.adultos-pollo .productos {
  left: 478px;
  letter-spacing: 0;
  line-height: 43.2px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
}

.adultos-pollo .tqpets {
  left: 1133px;
  letter-spacing: 0;
  line-height: 43.2px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
}

.adultos-pollo .contctanos {
  left: 1494px;
  letter-spacing: 0;
  line-height: 43.2px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
}

.adultos-pollo .overlap-group17 {
  height: 5832px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2254px;
}

.adultos-pollo .rectangle-302 {
  background-color: var(--banana);
  height: 1420px;
  left: 191px;
  position: absolute;
  top: 4413px;
  width: 1920px;
}

.adultos-pollo .ntrelos-con-una-alimentacin-premium {
  left: 340px;
  letter-spacing: 0;
  line-height: 126.9px;
  position: absolute;
  text-align: center;
  top: 355px;
  white-space: nowrap;
}

.adultos-pollo .overlap-group1-5 {
  height: 174px;
  margin-left: 0;
  position: relative;
  width: 169px;
}

.adultos-pollo .path-container-16 {
  align-items: flex-start;
  display: flex;
  gap: 30px;
  height: 49px;
  margin-left: 17.6px;
  min-width: 109px;
}

.adultos-pollo .flex-row-1 {
  gap: 3px;
  height: 121px;
  margin-right: 0;
  min-width: 166px;
}

.adultos-pollo .group-652 {
  flex: 1;
  position: relative;
  width: 452.8px;
}

.adultos-pollo .group-656 {
  flex: 1;
  position: relative;
  width: 479.17px;
}

.adultos-pollo .path-2045 {
  height: 347px;
  left: 1383px;
  object-fit: cover;
  position: absolute;
  top: 1666px;
  width: 348px;
}

.adultos-pollo .path-2509 {
  height: 533px;
  left: 1130px;
  object-fit: cover;
  position: absolute;
  top: 1619px;
  width: 420px;
}

.adultos-pollo .path-2046 {
  height: 127px;
  left: 1179px;
  object-fit: cover;
  position: absolute;
  top: 1619px;
  width: 127px;
}

.adultos-pollo .ellipse-50 {
  background-color: var(--white);
  border-radius: 55.4px;
  height: 111px;
  left: 1187px;
  position: absolute;
  top: 1627px;
  width: 111px;
}

.adultos-pollo .path-2047 {
  height: 24px;
  left: 1224px;
  object-fit: cover;
  position: absolute;
  top: 1663px;
  width: 22px;
}

.adultos-pollo .path-2048 {
  height: 26px;
  left: 1250px;
  object-fit: cover;
  position: absolute;
  top: 1661px;
  width: 12px;
}

.adultos-pollo .path-2049 {
  height: 8px;
  left: 1195px;
  object-fit: cover;
  position: absolute;
  top: 1663px;
  width: 11px;
}

.adultos-pollo .path-2050 {
  height: 13px;
  left: 1198px;
  object-fit: cover;
  position: absolute;
  top: 1653px;
  width: 14px;
}

.adultos-pollo .path-2051 {
  height: 11px;
  left: 1209px;
  object-fit: cover;
  position: absolute;
  top: 1646px;
  width: 11px;
}

.adultos-pollo .path-2052 {
  height: 12px;
  left: 1218px;
  object-fit: cover;
  position: absolute;
  top: 1640px;
  width: 12px;
}

.adultos-pollo .path-2053 {
  height: 12px;
  left: 1229px;
  object-fit: cover;
  position: absolute;
  top: 1637px;
  width: 9px;
}

.adultos-pollo .path-2054 {
  height: 11px;
  left: 1240px;
  object-fit: cover;
  position: absolute;
  top: 1636px;
  width: 9px;
}

.adultos-pollo .path-2055 {
  height: 11px;
  left: 1250px;
  object-fit: cover;
  position: absolute;
  top: 1637px;
  width: 5px;
}

.adultos-pollo .path-2056 {
  height: 13px;
  left: 1255px;
  object-fit: cover;
  position: absolute;
  top: 1638px;
  width: 10px;
}

.adultos-pollo .path-2057 {
  height: 14px;
  left: 1263px;
  object-fit: cover;
  position: absolute;
  top: 1643px;
  width: 13px;
}

.adultos-pollo .path-2058 {
  height: 11px;
  left: 1273px;
  object-fit: cover;
  position: absolute;
  top: 1650px;
  width: 11px;
}

.adultos-pollo .path-2059 {
  height: 12px;
  left: 1277px;
  object-fit: cover;
  position: absolute;
  top: 1658px;
  width: 13px;
}

.adultos-pollo .path-2060 {
  height: 2px;
  left: 1256px;
  object-fit: cover;
  position: absolute;
  top: 1692px;
  width: 3px;
}

.adultos-pollo .path-2061 {
  height: 12px;
  left: 1203px;
  object-fit: cover;
  position: absolute;
  top: 1695px;
  width: 8px;
}

.adultos-pollo .path-2062 {
  height: 12px;
  left: 1214px;
  object-fit: cover;
  position: absolute;
  top: 1695px;
  width: 9px;
}

.adultos-pollo .path-2063 {
  height: 12px;
  left: 1224px;
  object-fit: cover;
  position: absolute;
  top: 1695px;
  width: 11px;
}

.adultos-pollo .path-2064 {
  height: 12px;
  left: 1236px;
  object-fit: cover;
  position: absolute;
  top: 1695px;
  width: 9px;
}

.adultos-pollo .path-2065 {
  height: 12px;
  left: 1246px;
  object-fit: cover;
  position: absolute;
  top: 1695px;
  width: 7px;
}

.adultos-pollo .path-2066 {
  height: 12px;
  left: 1256px;
  object-fit: cover;
  position: absolute;
  top: 1695px;
  width: 3px;
}

.adultos-pollo .path-2067 {
  height: 12px;
  left: 1261px;
  object-fit: cover;
  position: absolute;
  top: 1695px;
  width: 9px;
}

.adultos-pollo .path-2068 {
  height: 12px;
  left: 1272px;
  object-fit: cover;
  position: absolute;
  top: 1695px;
  width: 10px;
}

.adultos-pollo .path-2069 {
  height: 12px;
  left: 1212px;
  object-fit: cover;
  position: absolute;
  top: 1710px;
  width: 10px;
}

.adultos-pollo .path-2070 {
  height: 12px;
  left: 1224px;
  object-fit: cover;
  position: absolute;
  top: 1710px;
  width: 9px;
}

.adultos-pollo .path-2071 {
  height: 12px;
  left: 1235px;
  object-fit: cover;
  position: absolute;
  top: 1710px;
  width: 3px;
}

.adultos-pollo .path-2072 {
  height: 12px;
  left: 1240px;
  object-fit: cover;
  position: absolute;
  top: 1710px;
  width: 11px;
}

.adultos-pollo .path-2073 {
  height: 12px;
  left: 1253px;
  object-fit: cover;
  position: absolute;
  top: 1710px;
  width: 10px;
}

.adultos-pollo .path-2074 {
  height: 12px;
  left: 1265px;
  object-fit: cover;
  position: absolute;
  top: 1710px;
  width: 7px;
}

.adultos-pollo .group-672 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 55px;
  left: 244px;
  min-height: 358px;
  position: absolute;
  top: 3194px;
  width: 1815px;
}

.adultos-pollo .group-671 {
  align-items: flex-start;
  background-image: url(../img/path-2078@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: 10.13px;
  min-height: 88px;
  padding: 12.7px 72.8px;
  width: 169px;
}

.adultos-pollo .overlap-group7 {
  height: 230px;
  position: relative;
  width: 1815px;
}

.adultos-pollo .cmo-alimentar-a-tu-minino-1 {
  height: 230px;
  left: 0;
  letter-spacing: 0;
  line-height: 75.7px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1815px;
}

.adultos-pollo .considera-su-peso-y-1 {
  left: 150px;
  letter-spacing: 0;
  line-height: 64px;
  position: absolute;
  text-align: center;
  top: 79px;
  white-space: nowrap;
}

.adultos-pollo .group-673 {
  background-image: url(../img/path-2084@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 238px;
  left: 1359px;
  position: absolute;
  top: 4322px;
  width: 310px;
}

.adultos-pollo .overlap-group9-1 {
  height: 508px;
  left: 292px;
  position: absolute;
  top: 3741px;
  width: 1719px;
}

.adultos-pollo .gua-de-alimentacin-diaria-1 {
  height: 211px;
  left: 0;
  letter-spacing: 0;
  line-height: 84.2px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1719px;
}

.adultos-pollo .group-674 {
  align-items: flex-end;
  display: flex;
  height: 414px;
  left: 225px;
  min-width: 1267px;
  position: absolute;
  top: 93px;
}

.adultos-pollo .overlap-group10-1 {
  border-radius: 29.79px 29.79px 10.81px 10.81px;
  height: 552px;
  left: 661px;
  position: absolute;
  top: 2541px;
  width: 966px;
}

.adultos-pollo .overlap-group-13 {
  border-radius: 29.79px 29.79px 10.81px 10.81px;
  height: 552px;
  left: 0;
  position: absolute;
  top: 0;
  width: 966px;
}

.adultos-pollo .rectangle-312 {
  background-color: var(--lochmara);
  border-radius: 0px 0px 0px 11.42px;
  height: 449px;
  left: 2px;
  position: absolute;
  top: 102px;
  width: 647px;
}

.adultos-pollo .path-2088 {
  height: 116px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 964px;
}

.adultos-pollo .percent-7 {
  left: 743px;
  top: 183px;
}

.adultos-pollo .percent-8 {
  left: 755px;
  top: 423px;
}

.adultos-pollo .line-108 {
  height: 1px;
  left: 1px;
  top: 174px;
  width: 964px;
}

.adultos-pollo .line-109 {
  height: 1px;
  left: 1px;
  top: 235px;
  width: 964px;
}

.adultos-pollo .line-110 {
  height: 1px;
  left: 1px;
  top: 292px;
  width: 964px;
}

.adultos-pollo .line-111 {
  height: 1px;
  left: 1px;
  top: 354px;
  width: 964px;
}

.adultos-pollo .line-112 {
  height: 1px;
  left: 1px;
  top: 415px;
  width: 964px;
}

.adultos-pollo .line-113 {
  height: 1px;
  left: 1px;
  top: 477px;
  width: 964px;
}

.adultos-pollo .line-114 {
  height: 434px;
  left: 649px;
  top: 117px;
  width: 1px;
}

.adultos-pollo .rectangle-314 {
  border: 2.34px solid;
  border-color: var(--congress-blue-3);
  border-radius: 29.79px 29.79px 10.81px 10.81px;
  height: 552px;
  left: 0;
  position: absolute;
  top: 0;
  width: 966px;
}

.adultos-pollo .anlisis-garantizado-1 {
  left: 136px;
  letter-spacing: 3.54px;
  line-height: 58.6px;
  position: absolute;
  top: 39px;
  white-space: nowrap;
}

.adultos-pollo .percent-9 {
  left: 744px;
  top: 363px;
}

.adultos-pollo .protena-cruda-mn-2 {
  top: 123px;
}

.adultos-pollo .grasa-cruda-mn-2 {
  top: 183px;
}

.adultos-pollo .fibra-cruda-mx-2 {
  top: 241px;
}

.adultos-pollo .ceniza-mx-2 {
  top: 304px;
}

.adultos-pollo .calcio-mn-2 {
  top: 425px;
}

.adultos-pollo .fsforo-mn-2 {
  top: 495px;
}

.adultos-pollo .humedad-mx-2 {
  top: 362px;
}

.adultos-pollo .group-container-2 {
  height: 716px;
  left: 576px;
  position: absolute;
  top: 4918px;
  width: 1150px;
}

.adultos-pollo .group-678 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  left: 0;
  min-height: 716px;
  position: absolute;
  top: 0;
  width: 1150px;
}

.adultos-pollo .overlap-group-14 {
  height: 554px;
  position: relative;
  width: 1150px;
}

.adultos-pollo .ellipse-51 {
  background-color: var(--sunglow);
  border-radius: 574.83px/59.34px;
  height: 119px;
  left: 0;
  position: absolute;
  top: 436px;
  width: 1150px;
}

.adultos-pollo .rectangle-315 {
  cursor: pointer;
  height: 534px;
  left: 364px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 415px;
  transition: 0.2s;
}

.adultos-pollo .rectangle-315:hover {
  transform: scale(1.05);
}

.adultos-pollo .rectangle-316 {
  height: 543px;
  left: 700px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 423px;
}

.adultos-pollo .rectangle-317 {
  cursor: pointer;
  height: 543px;
  left: 700px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 423px;
  transition: 0.2s;
}

.adultos-pollo .rectangle-317:hover {
  transform: scale(1.05);
}

.adultos-pollo .flex-row-2 {
  height: 145px;
  margin-left: 11.3px;
  min-width: 927px;
}

.adultos-pollo .gatitos-1 {
  align-self: center;
  color: var(--eerie-black);
  font-family: var(--font-family-richardsamuels);
  font-size: 39.5px;
  height: 135px;
  letter-spacing: 0;
  line-height: 30.7px;
  margin-top: 2.72px;
  text-align: center;
  width: 252px;
}

.adultos-pollo .span1 {
  color: var(--eerie-black);
  font-family: var(--font-family-be_vietnam);
  font-size: 30px;
}

.adultos-pollo .senior {
  align-self: flex-end;
  color: var(--eerie-black);
  font-family: var(--font-family-richardsamuels);
  font-size: 41px;
  height: 140px;
  letter-spacing: 0;
  line-height: 31.9px;
  margin-left: 86px;
  text-align: center;
  width: 261px;
}

.adultos-pollo .group-681 {
  cursor: pointer;
  display: flex;
  height: 538px;
  left: 40px;
  position: absolute;
  top: 6px;
  width: 418px;
}

.adultos-pollo .group-680 {
  display: flex;
  flex: 1;
  width: 418.17px;
}

.adultos-pollo .group-679 {
  background-image: url(../img/rectangle-318@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex: 1;
  width: 418.17px;
}

.adultos-pollo .rectangle-319 {
  flex: 1;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  object-fit: cover;
  width: 418.17px;
  transition: 0.2s;
}

.adultos-pollo .rectangle-319:hover {
  transform: scale(1.05);
}

.adultos-pollo .group-686 {
  display: flex;
  height: 674px;
  left: 548px;
  position: absolute;
  top: 556px;
  width: 596px;
}

.adultos-pollo .group-685 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 598.2px;
}

.adultos-pollo .overlap-group-15 {
  height: 673px;
  margin-top: 0;
  position: relative;
  width: 598px;
}

.adultos-pollo .adultos-pollo-2 {
  height: 110px;
  left: 0;
  line-height: 46.7px;
  top: 563px;
  width: 598px;
}

.adultos-pollo .group-684 {
  background-image: url(../img/rectangle-321@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 606px;
  left: 69px;
  position: absolute;
  top: 0;
  width: 471px;
}

.adultos-pollo .rectangle-322 {
  background-color: var(--congress-blue);
  border-radius: 38.46px;
  height: 84px;
  left: 51px;
  position: absolute;
  top: 17px;
  width: 443px;
}

.adultos-pollo .ellipse-5 {
  background-color: var(--bright-sun);
  border: 2.88px solid;
  border-color: var(--white);
  border-radius: 57.44px;
  height: 118px;
  left: 0;
  position: absolute;
  top: 0;
  width: 118px;
}

.adultos-pollo .overlap-group3-2 {
  background-image: url(../img/path-2097@1x.png);
}

.adultos-pollo .rectangle-323 {
  background-color: var(--congress-blue);
  border-radius: 38.46px;
  height: 84px;
  left: 0;
  position: absolute;
  top: 17px;
  width: 443px;
}

.adultos-pollo .ellipse-53 {
  background-color: var(--bright-sun);
  border: 2.88px solid;
  border-color: var(--white);
  border-radius: 57.44px;
  height: 118px;
  left: 372px;
  position: absolute;
  top: 0;
  width: 118px;
}

.adultos-pollo .line-115 {
  height: 76px;
  left: 394px;
  top: 21px;
  width: 76px;
}

.adultos-pollo .rectangle-324 {
  background-color: var(--congress-blue);
  border-radius: 38.46px;
  height: 84px;
  left: 50px;
  position: absolute;
  top: 17px;
  width: 443px;
}

.adultos-pollo .group-691 {
  background-image: url(../img/path-2093@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 10px;
  left: 30px;
  position: absolute;
  top: 9px;
  width: 3px;
}

.adultos-pollo .group-692 {
  background-image: url(../img/path-2094@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 8px;
  left: 37px;
  position: absolute;
  top: 15px;
  width: 8px;
}

.adultos-pollo .group-693 {
  background-image: url(../img/path-2095@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 10px;
  left: 34px;
  position: absolute;
  top: 11px;
  width: 6px;
}

.adultos-pollo .group-701 {
  background-image: url(../img/group-130@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 155px;
  left: 753px;
  position: absolute;
  top: 0;
  width: 275px;
}

.adultos-pollo .sobre-nosotros-1 {
  cursor: pointer;
  left: 64px;
  letter-spacing: 0;
  line-height: 43.2px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
}

.adultos-pollo .productos-1 {
  cursor: pointer;
  left: 478px;
  letter-spacing: 0;
  line-height: 43.2px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
}

.adultos-pollo .tqpets-1 {
  cursor: pointer;
  left: 1133px;
  letter-spacing: 0;
  line-height: 43.2px;
  position: absolute;
  top: 50px;
  white-space: nowrap;
}

.adultos-pollo .group-708 {
  height: 263px;
  left: 206px;
  position: absolute;
  top: 5639px;
  width: 1920px;
}

.adultos-pollo .overlap-group18 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 109px;
  justify-content: flex-end;
  left: 0;
  min-width: 1920px;
  padding: 34.6px 424px;
  position: absolute;
  top: 155px;
}

.adultos-pollo .x2024-pro-cat-care-c {
  letter-spacing: 0;
  line-height: 28.8px;
  min-height: 37px;
  min-width: 1070px;
  text-align: center;
  white-space: nowrap;
}

.adultos-pollo .group-707 {
  height: 155px;
  left: 108px;
  position: absolute;
  top: 0;
  width: 1785px;
}

.adultos-pollo .line-117 {
  height: 3px;
  left: 0;
  top: 152px;
  width: 1781px;
}

.adultos-pollo .group-888 {
  align-items: flex-start;
  display: flex;
  gap: 7px;
  height: 71px;
  left: 1561px;
  min-width: 224px;
  position: absolute;
  top: 58px;
}

.adultos-pollo .group-892 {
  align-items: flex-start;
  display: flex;
  gap: 7px;
  min-width: 147px;
}

.adultos-pollo .group-895 {
  align-self: flex-end;
  background-image: url(../img/group-894-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 71px;
  margin-bottom: 0;
  width: 71px;
}

.adultos-pollo .overlap-group-16 {
  align-items: flex-end;
  background-image: url(../img/path-2490-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 69px;
  justify-content: flex-end;
  min-width: 69px;
  padding: 11.9px 24.5px;
}

.adultos-pollo .overlap-group1-6 {
  height: 69px;
  margin-top: 0;
  position: relative;
  width: 69px;
}

.adultos-pollo .group-893 {
  align-items: flex-end;
  background-image: url(../img/path-2491-2-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 69px;
  justify-content: flex-end;
  left: 0;
  min-width: 69px;
  padding: 17.6px 18.3px;
  position: absolute;
  top: 0;
}

.adultos-pollo .adorable-red-cat-iso {
  height: 365px;
  left: 1399px;
  object-fit: cover;
  position: absolute;
  top: 1765px;
  width: 336px;
}

.adultos-pollo .adultos-pollo-3 {
  letter-spacing: 0;
  position: absolute;
  text-align: center;
}

.adultos-pollo .flex-row-3 {
  align-items: flex-start;
  display: flex;
}

.adultos-pollo .line-6 {
  object-fit: cover;
  position: absolute;
}

.adultos-pollo .overlap-group-container-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: -0.58px;
  min-height: 414px;
}

.adultos-pollo .overlap-group3-3 {
  align-items: center;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 33px;
  min-width: 72px;
  padding: 5.7px 28.4px;
}

.adultos-pollo .path-20-3 {
  object-fit: cover;
  position: absolute;
}

.adultos-pollo .percent-10 {
  letter-spacing: 2.07px;
  line-height: 34.2px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
