/* screen - adultos-pollo */

.adultos-pollo {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3198px;
  overflow: hidden;
  width: 412px;
}

.adultos-pollo .overlap-group3 {
  height: 3268px;
  margin-left: -28px;
  margin-top: -4px;
  position: relative;
  width: 490px;
}

.adultos-pollo .path-2004 {
  height: 1323px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 447px;
}

.adultos-pollo .path-2518 {
  height: 735px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 1135px;
  width: 412px;
}

.adultos-pollo .path-464 {
  height: 490px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 2778px;
  width: 412px;
}

.adultos-pollo .path-466 {
  height: 1053px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 1814px;
  width: 412px;
}

.adultos-pollo .path-467 {
  height: 596px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 1294px;
  width: 412px;
}

.adultos-pollo .otros-productos {
  left: 103px;
  letter-spacing: 0;
  line-height: 33.6px;
  position: absolute;
  top: 2889px;
  white-space: nowrap;
}

.adultos-pollo .span-1 {
  letter-spacing: -0.36px;
}

.adultos-pollo .span-2 {
  letter-spacing: -0.59px;
}

.adultos-pollo .path-465 {
  height: 40px;
  left: 39px;
  object-fit: cover;
  position: absolute;
  top: 3075px;
  width: 391px;
}

.adultos-pollo .group-112 {
  cursor: pointer;
  height: 182px;
  left: 163px;
  object-fit: cover;
  position: absolute;
  top: 2929px;
  width: 141px;
}

.adultos-pollo .adultos {
  left: 211px;
  letter-spacing: 0;
  line-height: 15.8px;
  position: absolute;
  top: 3122px;
  white-space: nowrap;
}

.adultos-pollo .span0 {
  letter-spacing: -0.26px;
}

.adultos-pollo .span-3 {
  letter-spacing: -0.12px;
}

.adultos-pollo .span-4 {
  letter-spacing: -0.09px;
}

.adultos-pollo .span3 {
  letter-spacing: -0.07px;
}

.adultos-pollo .control-peso {
  left: 203px;
  line-height: 12.3px;
  top: 3133px;
}

.adultos-pollo .span-5 {
  letter-spacing: -0.19px;
}

.adultos-pollo .senior {
  left: 329px;
  letter-spacing: 0;
  line-height: 16.7px;
  position: absolute;
  top: 3122px;
  white-space: nowrap;
}

.adultos-pollo .span-6 {
  letter-spacing: -0.06px;
}

.adultos-pollo .group-116 {
  height: 185px;
  left: 277px;
  object-fit: cover;
  position: absolute;
  top: 2927px;
  width: 144px;
}

.adultos-pollo .group-120 {
  cursor: pointer;
  height: 185px;
  left: 277px;
  object-fit: cover;
  position: absolute;
  top: 2927px;
  width: 144px;
}

.adultos-pollo .gatitos {
  left: 100px;
  letter-spacing: 0;
  line-height: 16.1px;
  position: absolute;
  top: 3123px;
  white-space: nowrap;
}

.adultos-pollo .span1-1 {
  letter-spacing: -0.20px;
}

.adultos-pollo .group-124 {
  height: 184px;
  left: 50px;
  object-fit: cover;
  position: absolute;
  top: 2927px;
  width: 143px;
}

.adultos-pollo .group-128 {
  cursor: pointer;
  height: 184px;
  left: 50px;
  object-fit: cover;
  position: absolute;
  top: 2927px;
  width: 143px;
}

.adultos-pollo .path-468 {
  height: 1187px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 417px;
}

.adultos-pollo .rectangle-128 {
  height: 55px;
  left: 185px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 97px;
}

.adultos-pollo .line-2 {
  height: 1px;
  left: 37px;
  top: 56px;
  width: 394px;
}

.adultos-pollo .nutre-su-vida-con {
  left: 82px;
  letter-spacing: 0;
  line-height: 43.2px;
  position: absolute;
  top: 154px;
  white-space: nowrap;
}

.adultos-pollo .span0-1 {
  letter-spacing: -1.15px;
}

.adultos-pollo .span-7 {
  letter-spacing: -0.22px;
}

.adultos-pollo .span3-1 {
  letter-spacing: -0.43px;
}

.adultos-pollo .una-alimentacin {
  left: 88px;
  letter-spacing: 0;
  line-height: 43.2px;
  position: absolute;
  top: 191px;
  white-space: nowrap;
}

.adultos-pollo .span1-2 {
  letter-spacing: -0.47px;
}

.adultos-pollo .premium {
  left: 151px;
  letter-spacing: 0;
  line-height: 43.2px;
  position: absolute;
  top: 228px;
  white-space: nowrap;
}

.adultos-pollo .span-8 {
  letter-spacing: -0.29px;
}

.adultos-pollo .adultos-pollo-1 {
  left: 147px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 705px;
  white-space: nowrap;
}

.adultos-pollo .span1-3 {
  letter-spacing: -3.36px;
}

.adultos-pollo .span2-1 {
  letter-spacing: -0.44px;
}

.adultos-pollo .span4 {
  letter-spacing: -1.13px;
}

.adultos-pollo .path-476 {
  height: 57px;
  left: 67px;
  object-fit: cover;
  position: absolute;
  top: 551px;
  width: 336px;
}

.adultos-pollo .path-477 {
  height: 28px;
  left: 365px;
  object-fit: cover;
  position: absolute;
  top: 1169px;
  width: 24px;
}

.adultos-pollo .path-478 {
  height: 9px;
  left: 367px;
  object-fit: cover;
  position: absolute;
  top: 1157px;
  width: 11px;
}

.adultos-pollo .path-479 {
  height: 9px;
  left: 362px;
  object-fit: cover;
  position: absolute;
  top: 1197px;
  width: 10px;
}

.adultos-pollo .path-480 {
  height: 9px;
  left: 352px;
  object-fit: cover;
  position: absolute;
  top: 1167px;
  width: 10px;
}

.adultos-pollo .path-481 {
  height: 9px;
  left: 351px;
  object-fit: cover;
  position: absolute;
  top: 1185px;
  width: 9px;
}

.adultos-pollo .path-482 {
  height: 25px;
  left: 288px;
  object-fit: cover;
  position: absolute;
  top: 1179px;
  width: 24px;
}

.adultos-pollo .path-483 {
  height: 9px;
  left: 298px;
  object-fit: cover;
  position: absolute;
  top: 1166px;
  width: 9px;
}

.adultos-pollo .path-484 {
  height: 9px;
  left: 279px;
  object-fit: cover;
  position: absolute;
  top: 1197px;
  width: 9px;
}

.adultos-pollo .path-485 {
  height: 9px;
  left: 283px;
  object-fit: cover;
  position: absolute;
  top: 1169px;
  width: 9px;
}

.adultos-pollo .path-486 {
  height: 9px;
  left: 274px;
  object-fit: cover;
  position: absolute;
  top: 1183px;
  width: 8px;
}

.adultos-pollo .group-705 {
  height: 42px;
  left: 206px;
  position: absolute;
  top: 1143px;
  width: 34px;
}

.adultos-pollo .path-container {
  height: 31px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 25px;
}

.adultos-pollo .path-487 {
  height: 25px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 21px;
}

.adultos-pollo .path-488 {
  height: 7px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 9px;
}

.adultos-pollo .path-489 {
  height: 8px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 9px;
}

.adultos-pollo .path-490 {
  height: 7px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 9px;
}

.adultos-pollo .path-491 {
  height: 8px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 8px;
}

.adultos-pollo .group-704 {
  height: 41px;
  left: 138px;
  position: absolute;
  top: 1123px;
  width: 36px;
}

.adultos-pollo .path-container-1 {
  height: 36px;
  left: 6px;
  position: absolute;
  top: 5px;
  width: 30px;
}

.adultos-pollo .path-492 {
  height: 24px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 22px;
}

.adultos-pollo .path-494 {
  height: 8px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 9px;
}

.adultos-pollo .path-495 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 9px;
}

.adultos-pollo .path-493 {
  height: 8px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 9px;
}

.adultos-pollo .path-496 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 8px;
}

.adultos-pollo .los-gatos-adultos-requieren {
  left: 105px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 1604px;
  white-space: nowrap;
}

.adultos-pollo .span-9 {
  letter-spacing: 0.21px;
}

.adultos-pollo .span-10 {
  letter-spacing: 0.19px;
}

.adultos-pollo .span-11 {
  letter-spacing: 0.34px;
}

.adultos-pollo .span-12 {
  letter-spacing: 0.27px;
}

.adultos-pollo .span-13 {
  letter-spacing: 0.13px;
}

.adultos-pollo .span-14 {
  letter-spacing: 0.06px;
}

.adultos-pollo .span-15 {
  letter-spacing: 0.04px;
}

.adultos-pollo .componentes-nutricionales {
  left: 106px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 1629px;
  white-space: nowrap;
}

.adultos-pollo .span-16 {
  letter-spacing: 0.25px;
}

.adultos-pollo .span-17 {
  letter-spacing: 0.57px;
}

.adultos-pollo .ptimos-para-que-disfruten-de {
  left: 93px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 1654px;
  white-space: nowrap;
}

.adultos-pollo .span10 {
  letter-spacing: 0.82px;
}

.adultos-pollo .una-vida-llena-de-vitalidad {
  left: 108px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 1679px;
  white-space: nowrap;
}

.adultos-pollo .pro-cat-care-adultos {
  left: 88px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 1704px;
  white-space: nowrap;
}

.adultos-pollo .span0-2 {
  letter-spacing: 0.48px;
}

.adultos-pollo .span-18 {
  letter-spacing: 0.36px;
}

.adultos-pollo .span5 {
  letter-spacing: 0.15px;
}

.adultos-pollo .span7 {
  letter-spacing: -0.27px;
}

.adultos-pollo .te-ofrece {
  left: 309px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 1704px;
  white-space: nowrap;
}

.adultos-pollo .dos-deliciosos-sabores-que-tus {
  left: 92px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 1730px;
  white-space: nowrap;
}

.adultos-pollo .gatos-amarn {
  left: 172px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 1755px;
  white-space: nowrap;
}

.adultos-pollo .path-497 {
  height: 58px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 759px;
  width: 307px;
}

.adultos-pollo .path-498 {
  height: 80px;
  left: 63px;
  object-fit: cover;
  position: absolute;
  top: 748px;
  width: 80px;
}

.adultos-pollo .ellipse-4 {
  left: 62px;
  top: 747px;
  transform: rotate(-52.02deg);
}

.adultos-pollo .salud-urinaria {
  left: 192px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 770px;
  white-space: nowrap;
}

.adultos-pollo .span-19 {
  letter-spacing: 0.22px;
}

.adultos-pollo .span2-2 {
  letter-spacing: 0.29px;
}

.adultos-pollo .span-20 {
  letter-spacing: 0.26px;
}

.adultos-pollo .span-21 {
  letter-spacing: 0.20px;
}

.adultos-pollo .path-499 {
  height: 58px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 888px;
  width: 307px;
}

.adultos-pollo .path-500 {
  height: 80px;
  left: 323px;
  object-fit: cover;
  position: absolute;
  top: 877px;
  width: 80px;
}

.adultos-pollo .ellipse-5 {
  left: 322px;
  top: 876px;
  transform: rotate(-55.28deg);
}

.adultos-pollo .control-de {
  left: 144px;
  line-height: 26.4px;
  top: 889px;
}

.adultos-pollo .bolas-de-pelo {
  left: 127px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 910px;
  white-space: nowrap;
}

.adultos-pollo .path-501 {
  height: 58px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 1022px;
  width: 307px;
}

.adultos-pollo .path-502 {
  height: 80px;
  left: 63px;
  object-fit: cover;
  position: absolute;
  top: 1011px;
  width: 80px;
}

.adultos-pollo .ellipse-6 {
  left: 62px;
  top: 1010px;
  transform: rotate(-52.02deg);
}

.adultos-pollo .salud-de-piel-y-pelaje {
  left: 156px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 1035px;
  white-space: nowrap;
}

.adultos-pollo .path-503 {
  height: 44px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 1028px;
  width: 32px;
}

.adultos-pollo .path-504 {
  height: 54px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: 1026px;
  width: 37px;
}

.adultos-pollo .path-505 {
  height: 2px;
  left: 101px;
  object-fit: cover;
  position: absolute;
  top: 1067px;
  width: 6px;
}

.adultos-pollo .path-506 {
  height: 2px;
  left: 90px;
  object-fit: cover;
  position: absolute;
  top: 1071px;
  width: 30px;
}

.adultos-pollo .path-507 {
  height: 7px;
  left: 106px;
  object-fit: cover;
  position: absolute;
  top: 1032px;
  width: 2px;
}

.adultos-pollo .path-508 {
  height: 6px;
  left: 110px;
  object-fit: cover;
  position: absolute;
  top: 1036px;
  width: 6px;
}

.adultos-pollo .path-509 {
  height: 7px;
  left: 109px;
  object-fit: cover;
  position: absolute;
  top: 1033px;
  width: 4px;
}

.adultos-pollo .path-510 {
  height: 16px;
  left: 98px;
  object-fit: cover;
  position: absolute;
  top: 1057px;
  width: 6px;
}

.adultos-pollo .path-511 {
  height: 156px;
  left: 311px;
  object-fit: cover;
  position: absolute;
  top: 2304px;
  width: 179px;
}

.adultos-pollo .path-512 {
  height: 81px;
  left: 343px;
  object-fit: cover;
  position: absolute;
  top: 2204px;
  width: 67px;
}

.adultos-pollo .path-513 {
  height: 79px;
  left: 271px;
  object-fit: cover;
  position: absolute;
  top: 2235px;
  width: 69px;
}

.adultos-pollo .path-514 {
  height: 74px;
  left: 423px;
  object-fit: cover;
  position: absolute;
  top: 2236px;
  width: 63px;
}

.adultos-pollo .path-515 {
  height: 72px;
  left: 241px;
  object-fit: cover;
  position: absolute;
  top: 2315px;
  width: 66px;
}

.adultos-pollo .path-516 {
  height: 156px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2598px;
  width: 179px;
}

.adultos-pollo .path-517 {
  height: 81px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 2498px;
  width: 67px;
}

.adultos-pollo .path-518 {
  height: 79px;
  left: 149px;
  object-fit: cover;
  position: absolute;
  top: 2528px;
  width: 69px;
}

.adultos-pollo .path-519 {
  height: 74px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 2530px;
  width: 63px;
}

.adultos-pollo .path-520 {
  height: 72px;
  left: 183px;
  object-fit: cover;
  position: absolute;
  top: 2609px;
  width: 66px;
}

.adultos-pollo .path-521 {
  height: 1109px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 2064px;
  width: 412px;
}

.adultos-pollo .line-22 {
  height: 60px;
  left: 332px;
  top: 885px;
  width: 60px;
}

.adultos-pollo .group-703 {
  height: 41px;
  left: 74px;
  position: absolute;
  top: 1120px;
  width: 35px;
}

.adultos-pollo .path-container-2 {
  height: 36px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 29px;
}

.adultos-pollo .path-522 {
  height: 25px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 22px;
}

.adultos-pollo .path-523 {
  height: 8px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 9px;
}

.adultos-pollo .path-526 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 8px;
}

.adultos-pollo .path-524 {
  height: 8px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 33px;
  width: 9px;
}

.adultos-pollo .path-525 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 9px;
}

.adultos-pollo .gua-de-alimentacin {
  left: 108px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 2474px;
  white-space: nowrap;
}

.adultos-pollo .span0-3 {
  letter-spacing: -0.17px;
}

.adultos-pollo .span2-3 {
  letter-spacing: -1.91px;
}

.adultos-pollo .span3-2 {
  letter-spacing: -0.90px;
}

.adultos-pollo .span-22 {
  letter-spacing: -0.13px;
}

.adultos-pollo .diaria {
  left: 198px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 2495px;
  white-space: nowrap;
}

.adultos-pollo .path-527 {
  height: 25px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 2713px;
  width: 305px;
}

.adultos-pollo .path-528 {
  height: 26px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 2713px;
  width: 306px;
}

.adultos-pollo .line-23 {
  height: 19px;
  left: 287px;
  top: 2716px;
  width: 1px;
}

.adultos-pollo .line-24 {
  height: 19px;
  left: 170px;
  top: 2716px;
  width: 1px;
}

.adultos-pollo .path-529 {
  height: 25px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 2619px;
  width: 305px;
}

.adultos-pollo .path-530 {
  height: 25px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 2685px;
  width: 305px;
}

.adultos-pollo .path-531 {
  height: 25px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 2580px;
  width: 305px;
}

.adultos-pollo .path-532 {
  height: 26px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 2580px;
  width: 306px;
}

.adultos-pollo .path-533 {
  height: 25px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 2553px;
  width: 305px;
}

.adultos-pollo .peso-kg {
  left: 199px;
  letter-spacing: 0;
  line-height: 21.6px;
  position: absolute;
  top: 2557px;
  white-space: nowrap;
}

.adultos-pollo .path-534 {
  height: 25px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 2647px;
  width: 305px;
}

.adultos-pollo .path-535 {
  height: 26px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 2647px;
  width: 306px;
}

.adultos-pollo .line-25 {
  height: 19px;
  left: 291px;
  top: 2651px;
  width: 1px;
}

.adultos-pollo .line-26 {
  height: 19px;
  left: 174px;
  top: 2651px;
  width: 1px;
}

.adultos-pollo .cantidades-g {
  left: 174px;
  letter-spacing: 0;
  line-height: 21.6px;
  position: absolute;
  top: 2624px;
  white-space: nowrap;
}

.adultos-pollo .span1 {
  letter-spacing: -0.23px;
}

.adultos-pollo .span5-1 {
  letter-spacing: -0.41px;
}

.adultos-pollo .cantidad-tazas {
  left: 165px;
  letter-spacing: 0;
  line-height: 21.6px;
  position: absolute;
  top: 2689px;
  white-space: nowrap;
}

.adultos-pollo .span5-2 {
  letter-spacing: -0.74px;
}

.adultos-pollo .address {
  left: 109px;
  letter-spacing: 0;
  line-height: 21.6px;
  position: absolute;
  top: 2580px;
  white-space: nowrap;
}

.adultos-pollo .address-1 {
  left: 317px;
  top: 2579px;
}

.adultos-pollo .x13-a-12 {
  left: 92px;
  letter-spacing: 0;
  line-height: 21.6px;
  position: absolute;
  top: 2712px;
  white-space: nowrap;
}

.adultos-pollo .x34-a-1 {
  left: 308px;
  letter-spacing: 0;
  line-height: 21.6px;
  position: absolute;
  top: 2712px;
  white-space: nowrap;
}

.adultos-pollo .span-23 {
  letter-spacing: -0.72px;
}

.adultos-pollo .line-27 {
  height: 19px;
  left: 292px;
  top: 2583px;
  width: 1px;
}

.adultos-pollo .address-2 {
  left: 212px;
  top: 2580px;
}

.adultos-pollo .x12-a-34 {
  left: 194px;
  letter-spacing: 0;
  line-height: 21.6px;
  position: absolute;
  top: 2712px;
  white-space: nowrap;
}

.adultos-pollo .span1-4 {
  letter-spacing: -0.58px;
}

.adultos-pollo .line-28 {
  height: 19px;
  left: 175px;
  top: 2583px;
  width: 1px;
}

.adultos-pollo .address-3 {
  left: 98px;
  top: 2647px;
}

.adultos-pollo .address-4 {
  left: 301px;
  top: 2647px;
}

.adultos-pollo .address-5 {
  left: 201px;
  top: 2647px;
}

.adultos-pollo .cmo-alimentar-a {
  left: 87px;
  letter-spacing: 0;
  line-height: 33.6px;
  position: absolute;
  top: 2261px;
  white-space: nowrap;
}

.adultos-pollo .span1-5 {
  letter-spacing: -2.55px;
}

.adultos-pollo .tu-minino {
  left: 153px;
  letter-spacing: 0;
  line-height: 33.6px;
  position: absolute;
  top: 2297px;
  white-space: nowrap;
}

.adultos-pollo .span1-6 {
  letter-spacing: -0.62px;
}

.adultos-pollo .span2-4 {
  letter-spacing: -0.48px;
}

.adultos-pollo .considera-su-peso-y-edad {
  left: 114px;
  letter-spacing: 0;
  line-height: 23.1px;
  position: absolute;
  top: 2347px;
  white-space: nowrap;
}

.adultos-pollo .mientras-ms-conozcas-a-tu-minino {
  left: 69px;
  letter-spacing: 0;
  line-height: 23.1px;
  position: absolute;
  top: 2368px;
  white-space: nowrap;
}

.adultos-pollo .span1-7 {
  letter-spacing: -0.37px;
}

.adultos-pollo .mejor-lo-alimentars {
  left: 136px;
  letter-spacing: 0;
  line-height: 23.1px;
  position: absolute;
  top: 2389px;
  white-space: nowrap;
}

.adultos-pollo .span5-3 {
  letter-spacing: -0.38px;
}

.adultos-pollo .path-536 {
  height: 42px;
  left: 193px;
  object-fit: cover;
  position: absolute;
  top: 2202px;
  width: 80px;
}

.adultos-pollo .path-537 {
  height: 5px;
  left: 230px;
  object-fit: cover;
  position: absolute;
  top: 2233px;
  width: 7px;
}

.adultos-pollo .path-538 {
  height: 3px;
  left: 234px;
  object-fit: cover;
  position: absolute;
  top: 2229px;
  width: 3px;
}

.adultos-pollo .path-539 {
  height: 3px;
  left: 231px;
  object-fit: cover;
  position: absolute;
  top: 2229px;
  width: 3px;
}

.adultos-pollo .path-540 {
  height: 2px;
  left: 228px;
  object-fit: cover;
  position: absolute;
  top: 2232px;
  width: 2px;
}

.adultos-pollo .path-541 {
  height: 2px;
  left: 237px;
  object-fit: cover;
  position: absolute;
  top: 2232px;
  width: 2px;
}

.adultos-pollo .path-542 {
  height: 164px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 1985px;
  width: 234px;
}

.adultos-pollo .path-543 {
  height: 157px;
  left: 294px;
  object-fit: cover;
  position: absolute;
  top: 1993px;
  width: 114px;
}

.adultos-pollo .path-544 {
  height: 42px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 1951px;
  width: 348px;
}

.adultos-pollo .percent {
  left: 330px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 1995px;
  white-space: nowrap;
}

.adultos-pollo .span-24 {
  letter-spacing: 0.67px;
}

.adultos-pollo .span-25 {
  letter-spacing: 0.66px;
}

.adultos-pollo .span-26 {
  letter-spacing: 0.69px;
}

.adultos-pollo .percent-1 {
  left: 330px;
  top: 2017px;
}

.adultos-pollo .percent-2 {
  left: 333px;
  top: 2038px;
}

.adultos-pollo .span-27 {
  letter-spacing: 0.70px;
}

.adultos-pollo .percent-3 {
  left: 333px;
  top: 2060px;
}

.adultos-pollo .percent-4 {
  left: 334px;
  top: 2103px;
}

.adultos-pollo .percent-5 {
  left: 333px;
  top: 2126px;
}

.adultos-pollo .line-29 {
  height: 1px;
  left: 60px;
  top: 2013px;
  width: 348px;
}

.adultos-pollo .line-30 {
  height: 1px;
  left: 60px;
  top: 2035px;
  width: 348px;
}

.adultos-pollo .line-31 {
  height: 1px;
  left: 60px;
  top: 2056px;
  width: 348px;
}

.adultos-pollo .line-32 {
  height: 1px;
  left: 60px;
  top: 2078px;
  width: 348px;
}

.adultos-pollo .line-33 {
  height: 1px;
  left: 60px;
  top: 2100px;
  width: 348px;
}

.adultos-pollo .line-34 {
  height: 1px;
  left: 60px;
  top: 2123px;
  width: 348px;
}

.adultos-pollo .line-35 {
  height: 157px;
  left: 294px;
  top: 1993px;
  width: 1px;
}

.adultos-pollo .path-545 {
  height: 199px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 1951px;
  width: 349px;
}

.adultos-pollo .anlisis-garantizado {
  left: 109px;
  letter-spacing: 0;
  line-height: 23.0px;
  position: absolute;
  top: 1964px;
  white-space: nowrap;
}

.adultos-pollo .span-28 {
  letter-spacing: 1.15px;
}

.adultos-pollo .span-29 {
  letter-spacing: 1.13px;
}

.adultos-pollo .percent-6 {
  left: 330px;
  top: 2082px;
}

.adultos-pollo .path-546 {
  height: 10px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 1999px;
  width: 8px;
}

.adultos-pollo .path-547 {
  height: 10px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 1999px;
  width: 8px;
}

.adultos-pollo .path-548 {
  height: 10px;
  left: 100px;
  object-fit: cover;
  position: absolute;
  top: 1999px;
  width: 9px;
}

.adultos-pollo .path-549 {
  height: 10px;
  left: 109px;
  object-fit: cover;
  position: absolute;
  top: 1999px;
  width: 8px;
}

.adultos-pollo .path-550 {
  height: 10px;
  left: 116px;
  object-fit: cover;
  position: absolute;
  top: 1999px;
  width: 7px;
}

.adultos-pollo .path-551 {
  height: 12px;
  left: 123px;
  object-fit: cover;
  position: absolute;
  top: 1997px;
  width: 4px;
}

.adultos-pollo .path-552 {
  height: 10px;
  left: 127px;
  object-fit: cover;
  position: absolute;
  top: 1999px;
  width: 8px;
}

.adultos-pollo .path-553 {
  height: 10px;
  left: 134px;
  object-fit: cover;
  position: absolute;
  top: 1999px;
  width: 9px;
}

.adultos-pollo .path-555 {
  height: 10px;
  left: 154px;
  object-fit: cover;
  position: absolute;
  top: 1999px;
  width: 8px;
}

.adultos-pollo .path-556 {
  height: 10px;
  left: 161px;
  object-fit: cover;
  position: absolute;
  top: 1999px;
  width: 8px;
}

.adultos-pollo .path-557 {
  height: 10px;
  left: 169px;
  object-fit: cover;
  position: absolute;
  top: 1999px;
  width: 8px;
}

.adultos-pollo .path-558 {
  height: 10px;
  left: 176px;
  object-fit: cover;
  position: absolute;
  top: 1999px;
  width: 9px;
}

.adultos-pollo .path-559 {
  height: 11px;
  left: 187px;
  object-fit: cover;
  position: absolute;
  top: 1999px;
  width: 5px;
}

.adultos-pollo .path-560 {
  height: 10px;
  left: 192px;
  object-fit: cover;
  position: absolute;
  top: 1999px;
  width: 10px;
}

.adultos-pollo .path-561 {
  height: 12px;
  left: 201px;
  object-fit: cover;
  position: absolute;
  top: 1997px;
  width: 4px;
}

.adultos-pollo .path-562 {
  height: 10px;
  left: 205px;
  object-fit: cover;
  position: absolute;
  top: 1999px;
  width: 8px;
}

.adultos-pollo .path-563 {
  height: 4px;
  left: 212px;
  object-fit: cover;
  position: absolute;
  top: 2006px;
  width: 4px;
}

.adultos-pollo .path-564 {
  height: 11px;
  left: 215px;
  object-fit: cover;
  position: absolute;
  top: 1999px;
  width: 5px;
}

.adultos-pollo .path-565 {
  height: 10px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 2020px;
  width: 9px;
}

.adultos-pollo .path-566 {
  height: 10px;
  left: 94px;
  object-fit: cover;
  position: absolute;
  top: 2020px;
  width: 8px;
}

.adultos-pollo .path-567 {
  height: 10px;
  left: 102px;
  object-fit: cover;
  position: absolute;
  top: 2020px;
  width: 9px;
}

.adultos-pollo .path-568 {
  height: 10px;
  left: 110px;
  object-fit: cover;
  position: absolute;
  top: 2020px;
  width: 8px;
}

.adultos-pollo .path-569 {
  height: 10px;
  left: 117px;
  object-fit: cover;
  position: absolute;
  top: 2020px;
  width: 9px;
}

.adultos-pollo .path-570 {
  height: 10px;
  left: 128px;
  object-fit: cover;
  position: absolute;
  top: 2020px;
  width: 9px;
}

.adultos-pollo .path-571 {
  height: 10px;
  left: 136px;
  object-fit: cover;
  position: absolute;
  top: 2020px;
  width: 8px;
}

.adultos-pollo .path-573 {
  height: 10px;
  left: 152px;
  object-fit: cover;
  position: absolute;
  top: 2020px;
  width: 8px;
}

.adultos-pollo .path-574 {
  height: 10px;
  left: 159px;
  object-fit: cover;
  position: absolute;
  top: 2020px;
  width: 9px;
}

.adultos-pollo .path-575 {
  height: 11px;
  left: 170px;
  object-fit: cover;
  position: absolute;
  top: 2019px;
  width: 5px;
}

.adultos-pollo .path-576 {
  height: 10px;
  left: 174px;
  object-fit: cover;
  position: absolute;
  top: 2020px;
  width: 10px;
}

.adultos-pollo .path-577 {
  height: 12px;
  left: 184px;
  object-fit: cover;
  position: absolute;
  top: 2018px;
  width: 4px;
}

.adultos-pollo .path-578 {
  height: 10px;
  left: 187px;
  object-fit: cover;
  position: absolute;
  top: 2020px;
  width: 8px;
}

.adultos-pollo .path-579 {
  height: 4px;
  left: 195px;
  object-fit: cover;
  position: absolute;
  top: 2026px;
  width: 4px;
}

.adultos-pollo .path-580 {
  height: 11px;
  left: 198px;
  object-fit: cover;
  position: absolute;
  top: 2019px;
  width: 5px;
}

.adultos-pollo .path-581 {
  height: 10px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 2042px;
  width: 7px;
}

.adultos-pollo .path-582 {
  height: 10px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 2042px;
  width: 4px;
}

.adultos-pollo .path-583 {
  height: 10px;
  left: 96px;
  object-fit: cover;
  position: absolute;
  top: 2042px;
  width: 8px;
}

.adultos-pollo .path-584 {
  height: 10px;
  left: 104px;
  object-fit: cover;
  position: absolute;
  top: 2042px;
  width: 8px;
}

.adultos-pollo .path-585 {
  height: 10px;
  left: 111px;
  object-fit: cover;
  position: absolute;
  top: 2042px;
  width: 9px;
}

.adultos-pollo .path-586 {
  height: 10px;
  left: 122px;
  object-fit: cover;
  position: absolute;
  top: 2042px;
  width: 9px;
}

.adultos-pollo .path-587 {
  height: 10px;
  left: 130px;
  object-fit: cover;
  position: absolute;
  top: 2042px;
  width: 8px;
}

.adultos-pollo .path-588 {
  height: 10px;
  left: 138px;
  object-fit: cover;
  position: absolute;
  top: 2042px;
  width: 8px;
}

.adultos-pollo .path-590 {
  height: 10px;
  left: 153px;
  object-fit: cover;
  position: absolute;
  top: 2042px;
  width: 9px;
}

.adultos-pollo .path-591 {
  height: 11px;
  left: 164px;
  object-fit: cover;
  position: absolute;
  top: 2042px;
  width: 5px;
}

.adultos-pollo .path-592 {
  height: 10px;
  left: 168px;
  object-fit: cover;
  position: absolute;
  top: 2042px;
  width: 10px;
}

.adultos-pollo .path-593 {
  height: 12px;
  left: 177px;
  object-fit: cover;
  position: absolute;
  top: 2040px;
  width: 9px;
}

.adultos-pollo .path-594 {
  height: 10px;
  left: 186px;
  object-fit: cover;
  position: absolute;
  top: 2042px;
  width: 9px;
}

.adultos-pollo .path-595 {
  height: 4px;
  left: 194px;
  object-fit: cover;
  position: absolute;
  top: 2048px;
  width: 4px;
}

.adultos-pollo .path-596 {
  height: 11px;
  left: 197px;
  object-fit: cover;
  position: absolute;
  top: 2042px;
  width: 5px;
}

.adultos-pollo .path-597 {
  height: 10px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 2064px;
  width: 9px;
}

.adultos-pollo .path-598 {
  height: 10px;
  left: 94px;
  object-fit: cover;
  position: absolute;
  top: 2064px;
  width: 7px;
}

.adultos-pollo .path-599 {
  height: 10px;
  left: 100px;
  object-fit: cover;
  position: absolute;
  top: 2064px;
  width: 8px;
}

.adultos-pollo .path-600 {
  height: 10px;
  left: 108px;
  object-fit: cover;
  position: absolute;
  top: 2064px;
  width: 4px;
}

.adultos-pollo .path-601 {
  height: 10px;
  left: 112px;
  object-fit: cover;
  position: absolute;
  top: 2064px;
  width: 7px;
}

.adultos-pollo .path-602 {
  height: 10px;
  left: 119px;
  object-fit: cover;
  position: absolute;
  top: 2064px;
  width: 9px;
}

.adultos-pollo .path-603 {
  height: 11px;
  left: 130px;
  object-fit: cover;
  position: absolute;
  top: 2064px;
  width: 5px;
}

.adultos-pollo .path-605 {
  height: 12px;
  left: 143px;
  object-fit: cover;
  position: absolute;
  top: 2062px;
  width: 9px;
}

.adultos-pollo .path-606 {
  height: 10px;
  left: 151px;
  object-fit: cover;
  position: absolute;
  top: 2064px;
  width: 9px;
}

.adultos-pollo .path-607 {
  height: 4px;
  left: 159px;
  object-fit: cover;
  position: absolute;
  top: 2071px;
  width: 4px;
}

.adultos-pollo .path-608 {
  height: 11px;
  left: 163px;
  object-fit: cover;
  position: absolute;
  top: 2064px;
  width: 5px;
}

.adultos-pollo .path-609 {
  height: 10px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 2107px;
  width: 9px;
}

.adultos-pollo .path-610 {
  height: 10px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 2107px;
  width: 9px;
}

.adultos-pollo .path-611 {
  height: 10px;
  left: 102px;
  object-fit: cover;
  position: absolute;
  top: 2107px;
  width: 7px;
}

.adultos-pollo .path-612 {
  height: 10px;
  left: 108px;
  object-fit: cover;
  position: absolute;
  top: 2107px;
  width: 9px;
}

.adultos-pollo .path-613 {
  height: 10px;
  left: 116px;
  object-fit: cover;
  position: absolute;
  top: 2107px;
  width: 4px;
}

.adultos-pollo .path-614 {
  height: 10px;
  left: 120px;
  object-fit: cover;
  position: absolute;
  top: 2107px;
  width: 9px;
}

.adultos-pollo .path-617 {
  height: 12px;
  left: 145px;
  object-fit: cover;
  position: absolute;
  top: 2105px;
  width: 4px;
}

.adultos-pollo .path-618 {
  height: 10px;
  left: 149px;
  object-fit: cover;
  position: absolute;
  top: 2107px;
  width: 8px;
}

.adultos-pollo .path-619 {
  height: 4px;
  left: 156px;
  object-fit: cover;
  position: absolute;
  top: 2114px;
  width: 4px;
}

.adultos-pollo .path-620 {
  height: 11px;
  left: 159px;
  object-fit: cover;
  position: absolute;
  top: 2107px;
  width: 5px;
}

.adultos-pollo .path-621 {
  height: 10px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 2130px;
  width: 7px;
}

.adultos-pollo .path-622 {
  height: 12px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 2127px;
  width: 9px;
}

.adultos-pollo .path-623 {
  height: 10px;
  left: 101px;
  object-fit: cover;
  position: absolute;
  top: 2130px;
  width: 8px;
}

.adultos-pollo .path-624 {
  height: 10px;
  left: 108px;
  object-fit: cover;
  position: absolute;
  top: 2130px;
  width: 7px;
}

.adultos-pollo .path-625 {
  height: 10px;
  left: 115px;
  object-fit: cover;
  position: absolute;
  top: 2130px;
  width: 9px;
}

.adultos-pollo .path-626 {
  height: 10px;
  left: 124px;
  object-fit: cover;
  position: absolute;
  top: 2130px;
  width: 8px;
}

.adultos-pollo .path-627 {
  height: 10px;
  left: 131px;
  object-fit: cover;
  position: absolute;
  top: 2130px;
  width: 9px;
}

.adultos-pollo .path-628 {
  height: 11px;
  left: 143px;
  object-fit: cover;
  position: absolute;
  top: 2129px;
  width: 5px;
}

.adultos-pollo .path-629 {
  height: 10px;
  left: 147px;
  object-fit: cover;
  position: absolute;
  top: 2130px;
  width: 10px;
}

.adultos-pollo .path-630 {
  height: 12px;
  left: 156px;
  object-fit: cover;
  position: absolute;
  top: 2127px;
  width: 4px;
}

.adultos-pollo .path-631 {
  height: 10px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 2130px;
  width: 8px;
}

.adultos-pollo .path-632 {
  height: 4px;
  left: 168px;
  object-fit: cover;
  position: absolute;
  top: 2136px;
  width: 4px;
}

.adultos-pollo .path-633 {
  height: 11px;
  left: 171px;
  object-fit: cover;
  position: absolute;
  top: 2129px;
  width: 5px;
}

.adultos-pollo .path-634 {
  height: 10px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 2086px;
  width: 8px;
}

.adultos-pollo .path-635 {
  height: 10px;
  left: 94px;
  object-fit: cover;
  position: absolute;
  top: 2086px;
  width: 8px;
}

.adultos-pollo .path-636 {
  height: 10px;
  left: 101px;
  object-fit: cover;
  position: absolute;
  top: 2086px;
  width: 10px;
}

.adultos-pollo .path-637 {
  height: 10px;
  left: 110px;
  object-fit: cover;
  position: absolute;
  top: 2086px;
  width: 7px;
}

.adultos-pollo .path-638 {
  height: 10px;
  left: 117px;
  object-fit: cover;
  position: absolute;
  top: 2086px;
  width: 8px;
}

.adultos-pollo .path-639 {
  height: 10px;
  left: 125px;
  object-fit: cover;
  position: absolute;
  top: 2086px;
  width: 9px;
}

.adultos-pollo .path-641 {
  height: 11px;
  left: 144px;
  object-fit: cover;
  position: absolute;
  top: 2085px;
  width: 5px;
}

.adultos-pollo .path-642 {
  height: 10px;
  left: 148px;
  object-fit: cover;
  position: absolute;
  top: 2086px;
  width: 10px;
}

.adultos-pollo .path-643 {
  height: 12px;
  left: 157px;
  object-fit: cover;
  position: absolute;
  top: 2084px;
  width: 9px;
}

.adultos-pollo .path-644 {
  height: 10px;
  left: 165px;
  object-fit: cover;
  position: absolute;
  top: 2086px;
  width: 9px;
}

.adultos-pollo .path-645 {
  height: 4px;
  left: 173px;
  object-fit: cover;
  position: absolute;
  top: 2092px;
  width: 4px;
}

.adultos-pollo .path-646 {
  height: 11px;
  left: 177px;
  object-fit: cover;
  position: absolute;
  top: 2085px;
  width: 5px;
}

.adultos-pollo .protena-cruda-mn {
  left: 86px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 1997px;
  white-space: nowrap;
}

.adultos-pollo .span0-4 {
  letter-spacing: 0.85px;
}

.adultos-pollo .span3-3 {
  letter-spacing: 0.59px;
}

.adultos-pollo .span-30 {
  letter-spacing: 0.72px;
}

.adultos-pollo .span-31 {
  letter-spacing: 0.09px;
}

.adultos-pollo .grasa-cruda-mn {
  left: 86px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 2017px;
  white-space: nowrap;
}

.adultos-pollo .span0-5 {
  letter-spacing: 0.77px;
}

.adultos-pollo .span-32 {
  letter-spacing: 0.16px;
}

.adultos-pollo .span2-5 {
  letter-spacing: 0.42px;
}

.adultos-pollo .span3-4 {
  letter-spacing: 0.46px;
}

.adultos-pollo .span-33 {
  letter-spacing: 0.10px;
}

.adultos-pollo .fibra-cruda-mx {
  left: 86px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 2039px;
  white-space: nowrap;
}

.adultos-pollo .span1-8 {
  letter-spacing: 0.74px;
}

.adultos-pollo .ceniza-mx {
  left: 86px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 2060px;
  white-space: nowrap;
}

.adultos-pollo .span2 {
  letter-spacing: 0.75px;
}

.adultos-pollo .calcio-mn {
  left: 86px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 2105px;
  white-space: nowrap;
}

.adultos-pollo .fsforo-mn {
  left: 86px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 2129px;
  white-space: nowrap;
}

.adultos-pollo .humedad-mx {
  left: 86px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 2083px;
  white-space: nowrap;
}

.adultos-pollo .path-647 {
  height: 23px;
  left: 78px;
  object-fit: cover;
  position: absolute;
  top: 782px;
  width: 50px;
}

.adultos-pollo .path-648 {
  height: 12px;
  left: 96px;
  object-fit: cover;
  position: absolute;
  top: 767px;
  width: 13px;
}

.adultos-pollo .path-649 {
  height: 7px;
  left: 110px;
  object-fit: cover;
  position: absolute;
  top: 765px;
  width: 7px;
}

.adultos-pollo .path-650 {
  height: 5px;
  left: 99px;
  object-fit: cover;
  position: absolute;
  top: 795px;
  width: 8px;
}

.adultos-pollo .path-651 {
  height: 2px;
  left: 100px;
  object-fit: cover;
  position: absolute;
  top: 793px;
  width: 2px;
}

.adultos-pollo .path-652 {
  height: 2px;
  left: 103px;
  object-fit: cover;
  position: absolute;
  top: 792px;
  width: 2px;
}

.adultos-pollo .path-653 {
  height: 2px;
  left: 107px;
  object-fit: cover;
  position: absolute;
  top: 795px;
  width: 2px;
}

.adultos-pollo .path-654 {
  height: 2px;
  left: 98px;
  object-fit: cover;
  position: absolute;
  top: 795px;
  width: 1px;
}

.adultos-pollo .path-655 {
  height: 43px;
  left: 336px;
  object-fit: cover;
  position: absolute;
  top: 899px;
  width: 55px;
}

.adultos-pollo .group-190 {
  height: 118px;
  left: 164px;
  object-fit: cover;
  position: absolute;
  top: 603px;
  width: 141px;
}

.adultos-pollo .path-656 {
  height: 219px;
  left: 191px;
  object-fit: cover;
  position: absolute;
  top: 1319px;
  width: 220px;
}

.adultos-pollo .rectangle-161 {
  height: 321px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 1268px;
  width: 250px;
}

.adultos-pollo .path-714 {
  height: 54px;
  left: 301px;
  object-fit: cover;
  position: absolute;
  top: 1284px;
  width: 89px;
}

.adultos-pollo .rectangle-164 {
  border: 7px solid;
  border-color: var(--bay-of-many-2);
  border-radius: 24.94px 24.94px 24.94px 24.94px;
  height: 61px;
  left: 298px;
  position: absolute;
  top: 1280px;
  width: 96px;
}

.adultos-pollo .protena {
  left: 319px;
  letter-spacing: 0;
  line-height: 14.5px;
  position: absolute;
  top: 1313px;
  white-space: nowrap;
}

.adultos-pollo .span0-6 {
  letter-spacing: 0.33px;
}

.adultos-pollo .span-34 {
  letter-spacing: 0.12px;
}

.adultos-pollo .span5-4 {
  letter-spacing: 0.11px;
}

.adultos-pollo .path-715 {
  height: 19px;
  left: 323px;
  object-fit: cover;
  position: absolute;
  top: 1294px;
  width: 14px;
}

.adultos-pollo .path-716 {
  height: 19px;
  left: 337px;
  object-fit: cover;
  position: absolute;
  top: 1294px;
  width: 14px;
}

.adultos-pollo .path-717 {
  height: 19px;
  left: 353px;
  object-fit: cover;
  position: absolute;
  top: 1294px;
  width: 20px;
}

.adultos-pollo .path-718 {
  height: 41px;
  left: 144px;
  object-fit: cover;
  position: absolute;
  top: 88px;
  width: 179px;
}

.adultos-pollo .path-1259 {
  height: 40px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 570px;
  width: 204px;
}

.adultos-pollo .adultos-1 {
  left: 180px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 96px;
  white-space: nowrap;
}

.adultos-pollo .span1-9 {
  letter-spacing: -2.50px;
}

.adultos-pollo .group-186 {
  height: 351px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 278px;
  width: 273px;
}

.adultos-pollo .adorable-red-cat-iso {
  height: 254px;
  left: 184px;
  object-fit: cover;
  position: absolute;
  top: 1343px;
  width: 233px;
}

.adultos-pollo .group-712 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 14px;
  left: 55px;
  min-width: 86px;
  padding: 0 0.0px;
  position: absolute;
  top: 27px;
}

.adultos-pollo .path-container-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 14px;
  width: 27px;
}

.adultos-pollo .sello-ingrediente {
  height: 79px;
  left: 57px;
  object-fit: cover;
  position: absolute;
  top: 1268px;
  width: 79px;
}

.adultos-pollo .address-6 {
  letter-spacing: 0;
  line-height: 21.6px;
  position: absolute;
  white-space: nowrap;
}

.adultos-pollo .line {
  object-fit: cover;
  position: absolute;
}

.adultos-pollo .percent-7 {
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  white-space: nowrap;
}
