/* screen - adultos-pollo */

.adultos-pollo {
  background-color: var(--white);
  height: 3198px;
  overflow: hidden;
  position: relative;
  width: 412px;
}

.adultos-pollo .path-2004 {
  height: 1323px;
  left: -15px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 447px;
}

.adultos-pollo .path-2518 {
  height: 735px;
  left: -2px;
  object-fit: cover;
  position: absolute;
  top: 1131px;
  width: 412px;
}

.adultos-pollo .path-464 {
  height: 490px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 2774px;
  width: 412px;
}

.adultos-pollo .path-466 {
  height: 1053px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1810px;
  width: 412px;
}

.adultos-pollo .path-467 {
  height: 596px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1290px;
  width: 412px;
}

.adultos-pollo .otros-productos {
  left: 75px;
  letter-spacing: 0;
  line-height: 33.6px;
  position: absolute;
  top: 2885px;
  white-space: nowrap;
}

.adultos-pollo .span-1 {
  letter-spacing: -0.36px;
}

.adultos-pollo .span-2 {
  letter-spacing: -0.59px;
}

.adultos-pollo .path-465 {
  height: 40px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 3071px;
  width: 391px;
}

.adultos-pollo .group-112 {
  cursor: pointer;
  height: 182px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 2925px;
  width: 141px;
}

.adultos-pollo .adultos {
  left: 183px;
  letter-spacing: 0;
  line-height: 15.8px;
  position: absolute;
  top: 3118px;
  white-space: nowrap;
}

.adultos-pollo .span0 {
  letter-spacing: -0.26px;
}

.adultos-pollo .span-3 {
  letter-spacing: -0.12px;
}

.adultos-pollo .span-4 {
  letter-spacing: -0.09px;
}

.adultos-pollo .span3 {
  letter-spacing: -0.07px;
}

.adultos-pollo .control-peso {
  left: 175px;
  line-height: 12.3px;
  top: 3129px;
}

.adultos-pollo .span-5 {
  letter-spacing: -0.19px;
}

.adultos-pollo .senior {
  left: 301px;
  letter-spacing: 0;
  line-height: 16.7px;
  position: absolute;
  top: 3118px;
  white-space: nowrap;
}

.adultos-pollo .span-6 {
  letter-spacing: -0.06px;
}

.adultos-pollo .group-116 {
  height: 185px;
  left: 249px;
  object-fit: cover;
  position: absolute;
  top: 2923px;
  width: 144px;
}

.adultos-pollo .group-120 {
  cursor: pointer;
  height: 185px;
  left: 249px;
  object-fit: cover;
  position: absolute;
  top: 2923px;
  width: 144px;
}

.adultos-pollo .gatitos {
  left: 72px;
  letter-spacing: 0;
  line-height: 16.1px;
  position: absolute;
  top: 3119px;
  white-space: nowrap;
}

.adultos-pollo .span1-1 {
  letter-spacing: -0.20px;
}

.adultos-pollo .group-124 {
  height: 184px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 2923px;
  width: 143px;
}

.adultos-pollo .group-128 {
  cursor: pointer;
  height: 184px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 2923px;
  width: 143px;
}

.adultos-pollo .path-468 {
  height: 1187px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: -4px;
  width: 417px;
}

.adultos-pollo .rectangle-128 {
  height: 55px;
  left: 157px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 97px;
}

.adultos-pollo .rectangle-130 {
  cursor: pointer;
  height: 55px;
  left: 157px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 97px;
}

.adultos-pollo .line-2 {
  height: 1px;
  left: 9px;
  top: 52px;
  width: 394px;
}

.adultos-pollo .nutre-su-vida-con {
  left: 54px;
  letter-spacing: 0;
  line-height: 43.2px;
  position: absolute;
  top: 150px;
  white-space: nowrap;
}

.adultos-pollo .span0-1 {
  letter-spacing: -1.15px;
}

.adultos-pollo .span-7 {
  letter-spacing: -0.22px;
}

.adultos-pollo .span3-1 {
  letter-spacing: -0.43px;
}

.adultos-pollo .una-alimentacin {
  left: 60px;
  letter-spacing: 0;
  line-height: 43.2px;
  position: absolute;
  top: 187px;
  white-space: nowrap;
}

.adultos-pollo .span1-2 {
  letter-spacing: -0.47px;
}

.adultos-pollo .premium {
  left: 123px;
  letter-spacing: 0;
  line-height: 43.2px;
  position: absolute;
  top: 224px;
  white-space: nowrap;
}

.adultos-pollo .span-8 {
  letter-spacing: -0.29px;
}

.adultos-pollo .adultos-pollo-1 {
  left: 119px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 701px;
  white-space: nowrap;
}

.adultos-pollo .span1-3 {
  letter-spacing: -3.36px;
}

.adultos-pollo .span2-1 {
  letter-spacing: -0.44px;
}

.adultos-pollo .span4 {
  letter-spacing: -1.13px;
}

.adultos-pollo .path-476 {
  height: 57px;
  left: 39px;
  object-fit: cover;
  position: absolute;
  top: 547px;
  width: 336px;
}

.adultos-pollo .path-477 {
  height: 28px;
  left: 337px;
  object-fit: cover;
  position: absolute;
  top: 1165px;
  width: 24px;
}

.adultos-pollo .path-478 {
  height: 9px;
  left: 339px;
  object-fit: cover;
  position: absolute;
  top: 1153px;
  width: 11px;
}

.adultos-pollo .path-479 {
  height: 9px;
  left: 334px;
  object-fit: cover;
  position: absolute;
  top: 1193px;
  width: 10px;
}

.adultos-pollo .path-480 {
  height: 9px;
  left: 324px;
  object-fit: cover;
  position: absolute;
  top: 1163px;
  width: 10px;
}

.adultos-pollo .path-481 {
  height: 9px;
  left: 323px;
  object-fit: cover;
  position: absolute;
  top: 1181px;
  width: 9px;
}

.adultos-pollo .path-482 {
  height: 25px;
  left: 260px;
  object-fit: cover;
  position: absolute;
  top: 1175px;
  width: 24px;
}

.adultos-pollo .path-483 {
  height: 9px;
  left: 270px;
  object-fit: cover;
  position: absolute;
  top: 1162px;
  width: 9px;
}

.adultos-pollo .path-484 {
  height: 9px;
  left: 251px;
  object-fit: cover;
  position: absolute;
  top: 1193px;
  width: 9px;
}

.adultos-pollo .path-485 {
  height: 9px;
  left: 255px;
  object-fit: cover;
  position: absolute;
  top: 1165px;
  width: 9px;
}

.adultos-pollo .path-486 {
  height: 9px;
  left: 246px;
  object-fit: cover;
  position: absolute;
  top: 1179px;
  width: 8px;
}

.adultos-pollo .group-705 {
  height: 42px;
  left: 178px;
  position: absolute;
  top: 1139px;
  width: 34px;
}

.adultos-pollo .path-container {
  height: 31px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 25px;
}

.adultos-pollo .path-487 {
  height: 25px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 21px;
}

.adultos-pollo .path-488 {
  height: 7px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 9px;
}

.adultos-pollo .path-489 {
  height: 8px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 9px;
}

.adultos-pollo .path-490 {
  height: 7px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 9px;
}

.adultos-pollo .path-491 {
  height: 8px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 8px;
}

.adultos-pollo .group-704 {
  height: 41px;
  left: 110px;
  position: absolute;
  top: 1119px;
  width: 36px;
}

.adultos-pollo .path-container-1 {
  height: 36px;
  left: 6px;
  position: absolute;
  top: 5px;
  width: 30px;
}

.adultos-pollo .path-492 {
  height: 24px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 22px;
}

.adultos-pollo .path-494 {
  height: 8px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 9px;
}

.adultos-pollo .path-495 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 9px;
}

.adultos-pollo .path-493 {
  height: 8px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 9px;
}

.adultos-pollo .path-496 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 8px;
}

.adultos-pollo .los-gatos-adultos-requieren {
  left: 77px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 1600px;
  white-space: nowrap;
}

.adultos-pollo .span-9 {
  letter-spacing: 0.21px;
}

.adultos-pollo .span-10 {
  letter-spacing: 0.19px;
}

.adultos-pollo .span-11 {
  letter-spacing: 0.34px;
}

.adultos-pollo .span-12 {
  letter-spacing: 0.27px;
}

.adultos-pollo .span-13 {
  letter-spacing: 0.13px;
}

.adultos-pollo .span-14 {
  letter-spacing: 0.06px;
}

.adultos-pollo .span-15 {
  letter-spacing: 0.04px;
}

.adultos-pollo .componentes-nutricionales {
  left: 78px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 1625px;
  white-space: nowrap;
}

.adultos-pollo .span-16 {
  letter-spacing: 0.25px;
}

.adultos-pollo .span-17 {
  letter-spacing: 0.57px;
}

.adultos-pollo .ptimos-para-que-disfruten-de {
  left: 65px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 1650px;
  white-space: nowrap;
}

.adultos-pollo .span10 {
  letter-spacing: 0.82px;
}

.adultos-pollo .una-vida-llena-de-vitalidad {
  left: 80px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 1675px;
  white-space: nowrap;
}

.adultos-pollo .pro-cat-care-adultos {
  left: 60px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 1700px;
  white-space: nowrap;
}

.adultos-pollo .span0-2 {
  letter-spacing: 0.48px;
}

.adultos-pollo .span-18 {
  letter-spacing: 0.36px;
}

.adultos-pollo .span5 {
  letter-spacing: 0.15px;
}

.adultos-pollo .span7 {
  letter-spacing: -0.27px;
}

.adultos-pollo .te-ofrece {
  left: 281px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 1700px;
  white-space: nowrap;
}

.adultos-pollo .dos-deliciosos-sabores-que-tus {
  left: 64px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 1726px;
  white-space: nowrap;
}

.adultos-pollo .gatos-amarn {
  left: 144px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 1751px;
  white-space: nowrap;
}

.adultos-pollo .path-497 {
  height: 58px;
  left: 69px;
  object-fit: cover;
  position: absolute;
  top: 755px;
  width: 307px;
}

.adultos-pollo .path-498 {
  height: 80px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 744px;
  width: 80px;
}

.adultos-pollo .ellipse-4 {
  left: 34px;
  top: 743px;
  transform: rotate(-52.02deg);
}

.adultos-pollo .salud-urinaria {
  left: 164px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 766px;
  white-space: nowrap;
}

.adultos-pollo .span-19 {
  letter-spacing: 0.22px;
}

.adultos-pollo .span2-2 {
  letter-spacing: 0.29px;
}

.adultos-pollo .span-20 {
  letter-spacing: 0.26px;
}

.adultos-pollo .span-21 {
  letter-spacing: 0.20px;
}

.adultos-pollo .path-499 {
  height: 58px;
  left: 37px;
  object-fit: cover;
  position: absolute;
  top: 884px;
  width: 307px;
}

.adultos-pollo .path-500 {
  height: 80px;
  left: 295px;
  object-fit: cover;
  position: absolute;
  top: 873px;
  width: 80px;
}

.adultos-pollo .ellipse-5 {
  left: 294px;
  top: 872px;
  transform: rotate(-55.28deg);
}

.adultos-pollo .control-de {
  left: 116px;
  line-height: 26.4px;
  top: 885px;
}

.adultos-pollo .bolas-de-pelo {
  left: 99px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 906px;
  white-space: nowrap;
}

.adultos-pollo .path-501 {
  height: 58px;
  left: 69px;
  object-fit: cover;
  position: absolute;
  top: 1018px;
  width: 307px;
}

.adultos-pollo .path-502 {
  height: 80px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 1007px;
  width: 80px;
}

.adultos-pollo .ellipse-6 {
  left: 34px;
  top: 1006px;
  transform: rotate(-52.02deg);
}

.adultos-pollo .salud-de-piel-y-pelaje {
  left: 128px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 1031px;
  white-space: nowrap;
}

.adultos-pollo .path-503 {
  height: 44px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 1024px;
  width: 32px;
}

.adultos-pollo .path-504 {
  height: 54px;
  left: 57px;
  object-fit: cover;
  position: absolute;
  top: 1022px;
  width: 37px;
}

.adultos-pollo .path-505 {
  height: 2px;
  left: 73px;
  object-fit: cover;
  position: absolute;
  top: 1063px;
  width: 6px;
}

.adultos-pollo .path-506 {
  height: 2px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 1067px;
  width: 30px;
}

.adultos-pollo .path-507 {
  height: 7px;
  left: 78px;
  object-fit: cover;
  position: absolute;
  top: 1028px;
  width: 2px;
}

.adultos-pollo .path-508 {
  height: 6px;
  left: 82px;
  object-fit: cover;
  position: absolute;
  top: 1032px;
  width: 6px;
}

.adultos-pollo .path-509 {
  height: 7px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 1029px;
  width: 4px;
}

.adultos-pollo .path-510 {
  height: 16px;
  left: 70px;
  object-fit: cover;
  position: absolute;
  top: 1053px;
  width: 6px;
}

.adultos-pollo .path-511 {
  height: 156px;
  left: 283px;
  object-fit: cover;
  position: absolute;
  top: 2300px;
  width: 179px;
}

.adultos-pollo .path-512 {
  height: 81px;
  left: 315px;
  object-fit: cover;
  position: absolute;
  top: 2200px;
  width: 67px;
}

.adultos-pollo .path-513 {
  height: 79px;
  left: 243px;
  object-fit: cover;
  position: absolute;
  top: 2231px;
  width: 69px;
}

.adultos-pollo .path-514 {
  height: 74px;
  left: 395px;
  object-fit: cover;
  position: absolute;
  top: 2232px;
  width: 63px;
}

.adultos-pollo .path-515 {
  height: 72px;
  left: 213px;
  object-fit: cover;
  position: absolute;
  top: 2311px;
  width: 66px;
}

.adultos-pollo .path-516 {
  height: 156px;
  left: -28px;
  object-fit: cover;
  position: absolute;
  top: 2594px;
  width: 179px;
}

.adultos-pollo .path-517 {
  height: 81px;
  left: 52px;
  object-fit: cover;
  position: absolute;
  top: 2494px;
  width: 67px;
}

.adultos-pollo .path-518 {
  height: 79px;
  left: 121px;
  object-fit: cover;
  position: absolute;
  top: 2524px;
  width: 69px;
}

.adultos-pollo .path-519 {
  height: 74px;
  left: -24px;
  object-fit: cover;
  position: absolute;
  top: 2526px;
  width: 63px;
}

.adultos-pollo .path-520 {
  height: 72px;
  left: 155px;
  object-fit: cover;
  position: absolute;
  top: 2605px;
  width: 66px;
}

.adultos-pollo .path-521 {
  height: 1109px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2060px;
  width: 412px;
}

.adultos-pollo .line-22 {
  height: 60px;
  left: 304px;
  top: 881px;
  width: 60px;
}

.adultos-pollo .group-703 {
  height: 41px;
  left: 46px;
  position: absolute;
  top: 1116px;
  width: 35px;
}

.adultos-pollo .path-container-2 {
  height: 36px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 29px;
}

.adultos-pollo .path-522 {
  height: 25px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 22px;
}

.adultos-pollo .path-523 {
  height: 8px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 9px;
}

.adultos-pollo .path-526 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 8px;
}

.adultos-pollo .path-524 {
  height: 8px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 33px;
  width: 9px;
}

.adultos-pollo .path-525 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 9px;
}

.adultos-pollo .gua-de-alimentacin {
  left: 80px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 2470px;
  white-space: nowrap;
}

.adultos-pollo .span0-3 {
  letter-spacing: -0.17px;
}

.adultos-pollo .span2-3 {
  letter-spacing: -1.91px;
}

.adultos-pollo .span3-2 {
  letter-spacing: -0.90px;
}

.adultos-pollo .span-22 {
  letter-spacing: -0.13px;
}

.adultos-pollo .diaria {
  left: 170px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 2491px;
  white-space: nowrap;
}

.adultos-pollo .path-527 {
  height: 25px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 2709px;
  width: 305px;
}

.adultos-pollo .path-528 {
  height: 26px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 2709px;
  width: 306px;
}

.adultos-pollo .line-23 {
  height: 19px;
  left: 259px;
  top: 2712px;
  width: 1px;
}

.adultos-pollo .line-24 {
  height: 19px;
  left: 142px;
  top: 2712px;
  width: 1px;
}

.adultos-pollo .path-529 {
  height: 25px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 2615px;
  width: 305px;
}

.adultos-pollo .path-530 {
  height: 25px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 2681px;
  width: 305px;
}

.adultos-pollo .path-531 {
  height: 25px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 2576px;
  width: 305px;
}

.adultos-pollo .path-532 {
  height: 26px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 2576px;
  width: 306px;
}

.adultos-pollo .path-533 {
  height: 25px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 2549px;
  width: 305px;
}

.adultos-pollo .peso-kg {
  left: 171px;
  letter-spacing: 0;
  line-height: 21.6px;
  position: absolute;
  top: 2553px;
  white-space: nowrap;
}

.adultos-pollo .path-534 {
  height: 25px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 2643px;
  width: 305px;
}

.adultos-pollo .path-535 {
  height: 26px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 2643px;
  width: 306px;
}

.adultos-pollo .line-25 {
  height: 19px;
  left: 263px;
  top: 2647px;
  width: 1px;
}

.adultos-pollo .line-26 {
  height: 19px;
  left: 146px;
  top: 2647px;
  width: 1px;
}

.adultos-pollo .cantidades-g {
  left: 146px;
  letter-spacing: 0;
  line-height: 21.6px;
  position: absolute;
  top: 2620px;
  white-space: nowrap;
}

.adultos-pollo .span1 {
  letter-spacing: -0.23px;
}

.adultos-pollo .span5-1 {
  letter-spacing: -0.41px;
}

.adultos-pollo .cantidad-tazas {
  left: 137px;
  letter-spacing: 0;
  line-height: 21.6px;
  position: absolute;
  top: 2685px;
  white-space: nowrap;
}

.adultos-pollo .span5-2 {
  letter-spacing: -0.74px;
}

.adultos-pollo .address {
  left: 81px;
  letter-spacing: 0;
  line-height: 21.6px;
  position: absolute;
  top: 2576px;
  white-space: nowrap;
}

.adultos-pollo .address-1 {
  left: 289px;
  top: 2575px;
}

.adultos-pollo .x13-a-12 {
  left: 64px;
  letter-spacing: 0;
  line-height: 21.6px;
  position: absolute;
  top: 2708px;
  white-space: nowrap;
}

.adultos-pollo .x34-a-1 {
  left: 280px;
  letter-spacing: 0;
  line-height: 21.6px;
  position: absolute;
  top: 2708px;
  white-space: nowrap;
}

.adultos-pollo .span-23 {
  letter-spacing: -0.72px;
}

.adultos-pollo .line-27 {
  height: 19px;
  left: 264px;
  top: 2579px;
  width: 1px;
}

.adultos-pollo .address-2 {
  left: 184px;
  top: 2576px;
}

.adultos-pollo .x12-a-34 {
  left: 166px;
  letter-spacing: 0;
  line-height: 21.6px;
  position: absolute;
  top: 2708px;
  white-space: nowrap;
}

.adultos-pollo .span1-4 {
  letter-spacing: -0.58px;
}

.adultos-pollo .line-28 {
  height: 19px;
  left: 147px;
  top: 2579px;
  width: 1px;
}

.adultos-pollo .address-3 {
  left: 70px;
  top: 2643px;
}

.adultos-pollo .address-4 {
  left: 273px;
  top: 2643px;
}

.adultos-pollo .address-5 {
  left: 173px;
  top: 2643px;
}

.adultos-pollo .cmo-alimentar-a {
  left: 59px;
  letter-spacing: 0;
  line-height: 33.6px;
  position: absolute;
  top: 2257px;
  white-space: nowrap;
}

.adultos-pollo .span1-5 {
  letter-spacing: -2.55px;
}

.adultos-pollo .tu-minino {
  left: 125px;
  letter-spacing: 0;
  line-height: 33.6px;
  position: absolute;
  top: 2293px;
  white-space: nowrap;
}

.adultos-pollo .span1-6 {
  letter-spacing: -0.62px;
}

.adultos-pollo .span2-4 {
  letter-spacing: -0.48px;
}

.adultos-pollo .considera-su-peso-y-edad {
  left: 86px;
  letter-spacing: 0;
  line-height: 23.1px;
  position: absolute;
  top: 2343px;
  white-space: nowrap;
}

.adultos-pollo .mientras-ms-conozcas-a-tu-minino {
  left: 41px;
  letter-spacing: 0;
  line-height: 23.1px;
  position: absolute;
  top: 2364px;
  white-space: nowrap;
}

.adultos-pollo .span1-7 {
  letter-spacing: -0.37px;
}

.adultos-pollo .mejor-lo-alimentars {
  left: 108px;
  letter-spacing: 0;
  line-height: 23.1px;
  position: absolute;
  top: 2385px;
  white-space: nowrap;
}

.adultos-pollo .span5-3 {
  letter-spacing: -0.38px;
}

.adultos-pollo .path-536 {
  height: 42px;
  left: 165px;
  object-fit: cover;
  position: absolute;
  top: 2198px;
  width: 80px;
}

.adultos-pollo .path-537 {
  height: 5px;
  left: 202px;
  object-fit: cover;
  position: absolute;
  top: 2229px;
  width: 7px;
}

.adultos-pollo .path-538 {
  height: 3px;
  left: 206px;
  object-fit: cover;
  position: absolute;
  top: 2225px;
  width: 3px;
}

.adultos-pollo .path-539 {
  height: 3px;
  left: 203px;
  object-fit: cover;
  position: absolute;
  top: 2225px;
  width: 3px;
}

.adultos-pollo .path-540 {
  height: 2px;
  left: 200px;
  object-fit: cover;
  position: absolute;
  top: 2228px;
  width: 2px;
}

.adultos-pollo .path-541 {
  height: 2px;
  left: 209px;
  object-fit: cover;
  position: absolute;
  top: 2228px;
  width: 2px;
}

.adultos-pollo .path-542 {
  height: 164px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 1981px;
  width: 234px;
}

.adultos-pollo .path-543 {
  height: 157px;
  left: 266px;
  object-fit: cover;
  position: absolute;
  top: 1989px;
  width: 114px;
}

.adultos-pollo .path-544 {
  height: 42px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 1947px;
  width: 348px;
}

.adultos-pollo .percent {
  left: 302px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 1991px;
  white-space: nowrap;
}

.adultos-pollo .span-24 {
  letter-spacing: 0.67px;
}

.adultos-pollo .span-25 {
  letter-spacing: 0.66px;
}

.adultos-pollo .span-26 {
  letter-spacing: 0.69px;
}

.adultos-pollo .percent-1 {
  left: 302px;
  top: 2013px;
}

.adultos-pollo .percent-2 {
  left: 305px;
  top: 2034px;
}

.adultos-pollo .span-27 {
  letter-spacing: 0.70px;
}

.adultos-pollo .percent-3 {
  left: 305px;
  top: 2056px;
}

.adultos-pollo .percent-4 {
  left: 306px;
  top: 2099px;
}

.adultos-pollo .percent-5 {
  left: 305px;
  top: 2122px;
}

.adultos-pollo .line-29 {
  height: 1px;
  left: 32px;
  top: 2009px;
  width: 348px;
}

.adultos-pollo .line-30 {
  height: 1px;
  left: 32px;
  top: 2031px;
  width: 348px;
}

.adultos-pollo .line-31 {
  height: 1px;
  left: 32px;
  top: 2052px;
  width: 348px;
}

.adultos-pollo .line-32 {
  height: 1px;
  left: 32px;
  top: 2074px;
  width: 348px;
}

.adultos-pollo .line-33 {
  height: 1px;
  left: 32px;
  top: 2096px;
  width: 348px;
}

.adultos-pollo .line-34 {
  height: 1px;
  left: 32px;
  top: 2119px;
  width: 348px;
}

.adultos-pollo .line-35 {
  height: 157px;
  left: 266px;
  top: 1989px;
  width: 1px;
}

.adultos-pollo .path-545 {
  height: 199px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 1947px;
  width: 349px;
}

.adultos-pollo .anlisis-garantizado {
  left: 81px;
  letter-spacing: 0;
  line-height: 23.0px;
  position: absolute;
  top: 1960px;
  white-space: nowrap;
}

.adultos-pollo .span-28 {
  letter-spacing: 1.15px;
}

.adultos-pollo .span-29 {
  letter-spacing: 1.13px;
}

.adultos-pollo .percent-6 {
  left: 302px;
  top: 2078px;
}

.adultos-pollo .path-546 {
  height: 10px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 1995px;
  width: 8px;
}

.adultos-pollo .path-547 {
  height: 10px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 1995px;
  width: 8px;
}

.adultos-pollo .path-548 {
  height: 10px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  top: 1995px;
  width: 9px;
}

.adultos-pollo .path-549 {
  height: 10px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 1995px;
  width: 8px;
}

.adultos-pollo .path-550 {
  height: 10px;
  left: 88px;
  object-fit: cover;
  position: absolute;
  top: 1995px;
  width: 7px;
}

.adultos-pollo .path-551 {
  height: 12px;
  left: 95px;
  object-fit: cover;
  position: absolute;
  top: 1993px;
  width: 4px;
}

.adultos-pollo .path-552 {
  height: 10px;
  left: 99px;
  object-fit: cover;
  position: absolute;
  top: 1995px;
  width: 8px;
}

.adultos-pollo .path-553 {
  height: 10px;
  left: 106px;
  object-fit: cover;
  position: absolute;
  top: 1995px;
  width: 9px;
}

.adultos-pollo .path-555 {
  height: 10px;
  left: 126px;
  object-fit: cover;
  position: absolute;
  top: 1995px;
  width: 8px;
}

.adultos-pollo .path-556 {
  height: 10px;
  left: 133px;
  object-fit: cover;
  position: absolute;
  top: 1995px;
  width: 8px;
}

.adultos-pollo .path-557 {
  height: 10px;
  left: 141px;
  object-fit: cover;
  position: absolute;
  top: 1995px;
  width: 8px;
}

.adultos-pollo .path-558 {
  height: 10px;
  left: 148px;
  object-fit: cover;
  position: absolute;
  top: 1995px;
  width: 9px;
}

.adultos-pollo .path-559 {
  height: 11px;
  left: 159px;
  object-fit: cover;
  position: absolute;
  top: 1995px;
  width: 5px;
}

.adultos-pollo .path-560 {
  height: 10px;
  left: 164px;
  object-fit: cover;
  position: absolute;
  top: 1995px;
  width: 10px;
}

.adultos-pollo .path-561 {
  height: 12px;
  left: 173px;
  object-fit: cover;
  position: absolute;
  top: 1993px;
  width: 4px;
}

.adultos-pollo .path-562 {
  height: 10px;
  left: 177px;
  object-fit: cover;
  position: absolute;
  top: 1995px;
  width: 8px;
}

.adultos-pollo .path-563 {
  height: 4px;
  left: 184px;
  object-fit: cover;
  position: absolute;
  top: 2002px;
  width: 4px;
}

.adultos-pollo .path-564 {
  height: 11px;
  left: 187px;
  object-fit: cover;
  position: absolute;
  top: 1995px;
  width: 5px;
}

.adultos-pollo .path-565 {
  height: 10px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 2016px;
  width: 9px;
}

.adultos-pollo .path-566 {
  height: 10px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 2016px;
  width: 8px;
}

.adultos-pollo .path-567 {
  height: 10px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: 2016px;
  width: 9px;
}

.adultos-pollo .path-568 {
  height: 10px;
  left: 82px;
  object-fit: cover;
  position: absolute;
  top: 2016px;
  width: 8px;
}

.adultos-pollo .path-569 {
  height: 10px;
  left: 89px;
  object-fit: cover;
  position: absolute;
  top: 2016px;
  width: 9px;
}

.adultos-pollo .path-570 {
  height: 10px;
  left: 100px;
  object-fit: cover;
  position: absolute;
  top: 2016px;
  width: 9px;
}

.adultos-pollo .path-571 {
  height: 10px;
  left: 108px;
  object-fit: cover;
  position: absolute;
  top: 2016px;
  width: 8px;
}

.adultos-pollo .path-573 {
  height: 10px;
  left: 124px;
  object-fit: cover;
  position: absolute;
  top: 2016px;
  width: 8px;
}

.adultos-pollo .path-574 {
  height: 10px;
  left: 131px;
  object-fit: cover;
  position: absolute;
  top: 2016px;
  width: 9px;
}

.adultos-pollo .path-575 {
  height: 11px;
  left: 142px;
  object-fit: cover;
  position: absolute;
  top: 2015px;
  width: 5px;
}

.adultos-pollo .path-576 {
  height: 10px;
  left: 146px;
  object-fit: cover;
  position: absolute;
  top: 2016px;
  width: 10px;
}

.adultos-pollo .path-577 {
  height: 12px;
  left: 156px;
  object-fit: cover;
  position: absolute;
  top: 2014px;
  width: 4px;
}

.adultos-pollo .path-578 {
  height: 10px;
  left: 159px;
  object-fit: cover;
  position: absolute;
  top: 2016px;
  width: 8px;
}

.adultos-pollo .path-579 {
  height: 4px;
  left: 167px;
  object-fit: cover;
  position: absolute;
  top: 2022px;
  width: 4px;
}

.adultos-pollo .path-580 {
  height: 11px;
  left: 170px;
  object-fit: cover;
  position: absolute;
  top: 2015px;
  width: 5px;
}

.adultos-pollo .path-581 {
  height: 10px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 2038px;
  width: 7px;
}

.adultos-pollo .path-582 {
  height: 10px;
  left: 64px;
  object-fit: cover;
  position: absolute;
  top: 2038px;
  width: 4px;
}

.adultos-pollo .path-583 {
  height: 10px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 2038px;
  width: 8px;
}

.adultos-pollo .path-584 {
  height: 10px;
  left: 76px;
  object-fit: cover;
  position: absolute;
  top: 2038px;
  width: 8px;
}

.adultos-pollo .path-585 {
  height: 10px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 2038px;
  width: 9px;
}

.adultos-pollo .path-586 {
  height: 10px;
  left: 94px;
  object-fit: cover;
  position: absolute;
  top: 2038px;
  width: 9px;
}

.adultos-pollo .path-587 {
  height: 10px;
  left: 102px;
  object-fit: cover;
  position: absolute;
  top: 2038px;
  width: 8px;
}

.adultos-pollo .path-588 {
  height: 10px;
  left: 110px;
  object-fit: cover;
  position: absolute;
  top: 2038px;
  width: 8px;
}

.adultos-pollo .path-590 {
  height: 10px;
  left: 125px;
  object-fit: cover;
  position: absolute;
  top: 2038px;
  width: 9px;
}

.adultos-pollo .path-591 {
  height: 11px;
  left: 136px;
  object-fit: cover;
  position: absolute;
  top: 2038px;
  width: 5px;
}

.adultos-pollo .path-592 {
  height: 10px;
  left: 140px;
  object-fit: cover;
  position: absolute;
  top: 2038px;
  width: 10px;
}

.adultos-pollo .path-593 {
  height: 12px;
  left: 149px;
  object-fit: cover;
  position: absolute;
  top: 2036px;
  width: 9px;
}

.adultos-pollo .path-594 {
  height: 10px;
  left: 158px;
  object-fit: cover;
  position: absolute;
  top: 2038px;
  width: 9px;
}

.adultos-pollo .path-595 {
  height: 4px;
  left: 166px;
  object-fit: cover;
  position: absolute;
  top: 2044px;
  width: 4px;
}

.adultos-pollo .path-596 {
  height: 11px;
  left: 169px;
  object-fit: cover;
  position: absolute;
  top: 2038px;
  width: 5px;
}

.adultos-pollo .path-597 {
  height: 10px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 2060px;
  width: 9px;
}

.adultos-pollo .path-598 {
  height: 10px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 2060px;
  width: 7px;
}

.adultos-pollo .path-599 {
  height: 10px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  top: 2060px;
  width: 8px;
}

.adultos-pollo .path-600 {
  height: 10px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 2060px;
  width: 4px;
}

.adultos-pollo .path-601 {
  height: 10px;
  left: 84px;
  object-fit: cover;
  position: absolute;
  top: 2060px;
  width: 7px;
}

.adultos-pollo .path-602 {
  height: 10px;
  left: 91px;
  object-fit: cover;
  position: absolute;
  top: 2060px;
  width: 9px;
}

.adultos-pollo .path-603 {
  height: 11px;
  left: 102px;
  object-fit: cover;
  position: absolute;
  top: 2060px;
  width: 5px;
}

.adultos-pollo .path-605 {
  height: 12px;
  left: 115px;
  object-fit: cover;
  position: absolute;
  top: 2058px;
  width: 9px;
}

.adultos-pollo .path-606 {
  height: 10px;
  left: 123px;
  object-fit: cover;
  position: absolute;
  top: 2060px;
  width: 9px;
}

.adultos-pollo .path-607 {
  height: 4px;
  left: 131px;
  object-fit: cover;
  position: absolute;
  top: 2067px;
  width: 4px;
}

.adultos-pollo .path-608 {
  height: 11px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 2060px;
  width: 5px;
}

.adultos-pollo .path-609 {
  height: 10px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 2103px;
  width: 9px;
}

.adultos-pollo .path-610 {
  height: 10px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 2103px;
  width: 9px;
}

.adultos-pollo .path-611 {
  height: 10px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: 2103px;
  width: 7px;
}

.adultos-pollo .path-612 {
  height: 10px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 2103px;
  width: 9px;
}

.adultos-pollo .path-613 {
  height: 10px;
  left: 88px;
  object-fit: cover;
  position: absolute;
  top: 2103px;
  width: 4px;
}

.adultos-pollo .path-614 {
  height: 10px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 2103px;
  width: 9px;
}

.adultos-pollo .path-617 {
  height: 12px;
  left: 117px;
  object-fit: cover;
  position: absolute;
  top: 2101px;
  width: 4px;
}

.adultos-pollo .path-618 {
  height: 10px;
  left: 121px;
  object-fit: cover;
  position: absolute;
  top: 2103px;
  width: 8px;
}

.adultos-pollo .path-619 {
  height: 4px;
  left: 128px;
  object-fit: cover;
  position: absolute;
  top: 2110px;
  width: 4px;
}

.adultos-pollo .path-620 {
  height: 11px;
  left: 131px;
  object-fit: cover;
  position: absolute;
  top: 2103px;
  width: 5px;
}

.adultos-pollo .path-621 {
  height: 10px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 2126px;
  width: 7px;
}

.adultos-pollo .path-622 {
  height: 12px;
  left: 64px;
  object-fit: cover;
  position: absolute;
  top: 2123px;
  width: 9px;
}

.adultos-pollo .path-623 {
  height: 10px;
  left: 73px;
  object-fit: cover;
  position: absolute;
  top: 2126px;
  width: 8px;
}

.adultos-pollo .path-624 {
  height: 10px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 2126px;
  width: 7px;
}

.adultos-pollo .path-625 {
  height: 10px;
  left: 87px;
  object-fit: cover;
  position: absolute;
  top: 2126px;
  width: 9px;
}

.adultos-pollo .path-626 {
  height: 10px;
  left: 96px;
  object-fit: cover;
  position: absolute;
  top: 2126px;
  width: 8px;
}

.adultos-pollo .path-627 {
  height: 10px;
  left: 103px;
  object-fit: cover;
  position: absolute;
  top: 2126px;
  width: 9px;
}

.adultos-pollo .path-628 {
  height: 11px;
  left: 115px;
  object-fit: cover;
  position: absolute;
  top: 2125px;
  width: 5px;
}

.adultos-pollo .path-629 {
  height: 10px;
  left: 119px;
  object-fit: cover;
  position: absolute;
  top: 2126px;
  width: 10px;
}

.adultos-pollo .path-630 {
  height: 12px;
  left: 128px;
  object-fit: cover;
  position: absolute;
  top: 2123px;
  width: 4px;
}

.adultos-pollo .path-631 {
  height: 10px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 2126px;
  width: 8px;
}

.adultos-pollo .path-632 {
  height: 4px;
  left: 140px;
  object-fit: cover;
  position: absolute;
  top: 2132px;
  width: 4px;
}

.adultos-pollo .path-633 {
  height: 11px;
  left: 143px;
  object-fit: cover;
  position: absolute;
  top: 2125px;
  width: 5px;
}

.adultos-pollo .path-634 {
  height: 10px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 2082px;
  width: 8px;
}

.adultos-pollo .path-635 {
  height: 10px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 2082px;
  width: 8px;
}

.adultos-pollo .path-636 {
  height: 10px;
  left: 73px;
  object-fit: cover;
  position: absolute;
  top: 2082px;
  width: 10px;
}

.adultos-pollo .path-637 {
  height: 10px;
  left: 82px;
  object-fit: cover;
  position: absolute;
  top: 2082px;
  width: 7px;
}

.adultos-pollo .path-638 {
  height: 10px;
  left: 89px;
  object-fit: cover;
  position: absolute;
  top: 2082px;
  width: 8px;
}

.adultos-pollo .path-639 {
  height: 10px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 2082px;
  width: 9px;
}

.adultos-pollo .path-641 {
  height: 11px;
  left: 116px;
  object-fit: cover;
  position: absolute;
  top: 2081px;
  width: 5px;
}

.adultos-pollo .path-642 {
  height: 10px;
  left: 120px;
  object-fit: cover;
  position: absolute;
  top: 2082px;
  width: 10px;
}

.adultos-pollo .path-643 {
  height: 12px;
  left: 129px;
  object-fit: cover;
  position: absolute;
  top: 2080px;
  width: 9px;
}

.adultos-pollo .path-644 {
  height: 10px;
  left: 137px;
  object-fit: cover;
  position: absolute;
  top: 2082px;
  width: 9px;
}

.adultos-pollo .path-645 {
  height: 4px;
  left: 145px;
  object-fit: cover;
  position: absolute;
  top: 2088px;
  width: 4px;
}

.adultos-pollo .path-646 {
  height: 11px;
  left: 149px;
  object-fit: cover;
  position: absolute;
  top: 2081px;
  width: 5px;
}

.adultos-pollo .protena-cruda-mn {
  left: 58px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 1993px;
  white-space: nowrap;
}

.adultos-pollo .span0-4 {
  letter-spacing: 0.85px;
}

.adultos-pollo .span3-3 {
  letter-spacing: 0.59px;
}

.adultos-pollo .span-30 {
  letter-spacing: 0.72px;
}

.adultos-pollo .span-31 {
  letter-spacing: 0.09px;
}

.adultos-pollo .grasa-cruda-mn {
  left: 58px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 2013px;
  white-space: nowrap;
}

.adultos-pollo .span0-5 {
  letter-spacing: 0.77px;
}

.adultos-pollo .span-32 {
  letter-spacing: 0.16px;
}

.adultos-pollo .span2-5 {
  letter-spacing: 0.42px;
}

.adultos-pollo .span3-4 {
  letter-spacing: 0.46px;
}

.adultos-pollo .span-33 {
  letter-spacing: 0.10px;
}

.adultos-pollo .fibra-cruda-mx {
  left: 58px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 2035px;
  white-space: nowrap;
}

.adultos-pollo .span1-8 {
  letter-spacing: 0.74px;
}

.adultos-pollo .ceniza-mx {
  left: 58px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 2056px;
  white-space: nowrap;
}

.adultos-pollo .span2 {
  letter-spacing: 0.75px;
}

.adultos-pollo .calcio-mn {
  left: 58px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 2101px;
  white-space: nowrap;
}

.adultos-pollo .fsforo-mn {
  left: 58px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 2125px;
  white-space: nowrap;
}

.adultos-pollo .humedad-mx {
  left: 58px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 2079px;
  white-space: nowrap;
}

.adultos-pollo .path-647 {
  height: 23px;
  left: 50px;
  object-fit: cover;
  position: absolute;
  top: 778px;
  width: 50px;
}

.adultos-pollo .path-648 {
  height: 12px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 763px;
  width: 13px;
}

.adultos-pollo .path-649 {
  height: 7px;
  left: 82px;
  object-fit: cover;
  position: absolute;
  top: 761px;
  width: 7px;
}

.adultos-pollo .path-650 {
  height: 5px;
  left: 71px;
  object-fit: cover;
  position: absolute;
  top: 791px;
  width: 8px;
}

.adultos-pollo .path-651 {
  height: 2px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  top: 789px;
  width: 2px;
}

.adultos-pollo .path-652 {
  height: 2px;
  left: 75px;
  object-fit: cover;
  position: absolute;
  top: 788px;
  width: 2px;
}

.adultos-pollo .path-653 {
  height: 2px;
  left: 79px;
  object-fit: cover;
  position: absolute;
  top: 791px;
  width: 2px;
}

.adultos-pollo .path-654 {
  height: 2px;
  left: 70px;
  object-fit: cover;
  position: absolute;
  top: 791px;
  width: 1px;
}

.adultos-pollo .path-655 {
  height: 43px;
  left: 308px;
  object-fit: cover;
  position: absolute;
  top: 895px;
  width: 55px;
}

.adultos-pollo .group-190 {
  height: 118px;
  left: 136px;
  object-fit: cover;
  position: absolute;
  top: 599px;
  width: 141px;
}

.adultos-pollo .path-656 {
  height: 219px;
  left: 163px;
  object-fit: cover;
  position: absolute;
  top: 1315px;
  width: 220px;
}

.adultos-pollo .rectangle-161 {
  height: 321px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 1264px;
  width: 250px;
}

.adultos-pollo .path-657 {
  height: 79px;
  left: 31px;
  object-fit: cover;
  position: absolute;
  top: 1260px;
  width: 79px;
}

.adultos-pollo .path-658 {
  height: 80px;
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 1259px;
  width: 80px;
}

.adultos-pollo .path-659 {
  height: 70px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 1264px;
  width: 70px;
}

.adultos-pollo .path-660 {
  height: 15px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 1287px;
  width: 14px;
}

.adultos-pollo .path-661 {
  height: 16px;
  left: 75px;
  object-fit: cover;
  position: absolute;
  top: 1286px;
  width: 8px;
}

.adultos-pollo .path-662 {
  height: 4px;
  left: 41px;
  object-fit: cover;
  position: absolute;
  top: 1287px;
  width: 6px;
}

.adultos-pollo .path-663 {
  height: 5px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  top: 1287px;
  width: 7px;
}

.adultos-pollo .path-664 {
  height: 8px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  top: 1281px;
  width: 8px;
}

.adultos-pollo .path-665 {
  height: 8px;
  left: 42px;
  object-fit: cover;
  position: absolute;
  top: 1281px;
  width: 9px;
}

.adultos-pollo .path-666 {
  height: 7px;
  left: 49px;
  object-fit: cover;
  position: absolute;
  top: 1277px;
  width: 6px;
}

.adultos-pollo .path-667 {
  height: 7px;
  left: 49px;
  object-fit: cover;
  position: absolute;
  top: 1276px;
  width: 7px;
}

.adultos-pollo .path-668 {
  height: 7px;
  left: 55px;
  object-fit: cover;
  position: absolute;
  top: 1273px;
  width: 7px;
}

.adultos-pollo .path-669 {
  height: 8px;
  left: 55px;
  object-fit: cover;
  position: absolute;
  top: 1273px;
  width: 7px;
}

.adultos-pollo .path-670 {
  height: 7px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 1271px;
  width: 5px;
}

.adultos-pollo .path-671 {
  height: 8px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 1270px;
  width: 6px;
}

.adultos-pollo .path-672 {
  height: 7px;
  left: 69px;
  object-fit: cover;
  position: absolute;
  top: 1270px;
  width: 5px;
}

.adultos-pollo .path-673 {
  height: 7px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 1270px;
  width: 6px;
}

.adultos-pollo .path-674 {
  height: 7px;
  left: 75px;
  object-fit: cover;
  position: absolute;
  top: 1271px;
  width: 2px;
}

.adultos-pollo .path-675 {
  height: 7px;
  left: 75px;
  object-fit: cover;
  position: absolute;
  top: 1271px;
  width: 3px;
}

.adultos-pollo .path-67 {
  height: 8px;
  left: 78px;
  object-fit: cover;
  position: absolute;
  top: 1272px;
  width: 6px;
}

.adultos-pollo .path-678 {
  height: 8px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 1275px;
  width: 8px;
}

.adultos-pollo .path-679 {
  height: 9px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 1274px;
  width: 8px;
}

.adultos-pollo .path-68 {
  height: 7px;
  left: 89px;
  object-fit: cover;
  position: absolute;
  top: 1279px;
  width: 7px;
}

.adultos-pollo .path-68-1 {
  height: 7px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 1284px;
  width: 8px;
}

.adultos-pollo .path-684 {
  height: 1px;
  left: 79px;
  object-fit: cover;
  position: absolute;
  top: 1305px;
  width: 1px;
}

.adultos-pollo .path-685 {
  height: 1px;
  left: 79px;
  object-fit: cover;
  position: absolute;
  top: 1305px;
  width: 2px;
}

.adultos-pollo .path-686 {
  height: 7px;
  left: 46px;
  object-fit: cover;
  position: absolute;
  top: 1308px;
  width: 5px;
}

.adultos-pollo .path-687 {
  height: 7px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 1307px;
  width: 5px;
}

.adultos-pollo .path-688 {
  height: 7px;
  left: 52px;
  object-fit: cover;
  position: absolute;
  top: 1308px;
  width: 5px;
}

.adultos-pollo .path-689 {
  height: 7px;
  left: 52px;
  object-fit: cover;
  position: absolute;
  top: 1307px;
  width: 5px;
}

.adultos-pollo .path-690 {
  height: 7px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 1307px;
  width: 6px;
}

.adultos-pollo .path-691 {
  height: 8px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 1307px;
  width: 7px;
}

.adultos-pollo .path-692 {
  height: 7px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 1308px;
  width: 5px;
}

.adultos-pollo .path-693 {
  height: 7px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 1307px;
  width: 5px;
}

.adultos-pollo .path-694 {
  height: 7px;
  left: 73px;
  object-fit: cover;
  position: absolute;
  top: 1308px;
  width: 4px;
}

.adultos-pollo .path-695 {
  height: 7px;
  left: 73px;
  object-fit: cover;
  position: absolute;
  top: 1307px;
  width: 5px;
}

.adultos-pollo .path-696 {
  height: 7px;
  left: 79px;
  object-fit: cover;
  position: absolute;
  top: 1308px;
  width: 1px;
}

.adultos-pollo .path-697 {
  height: 7px;
  left: 79px;
  object-fit: cover;
  position: absolute;
  top: 1307px;
  width: 2px;
}

.adultos-pollo .path-698 {
  height: 7px;
  left: 82px;
  object-fit: cover;
  position: absolute;
  top: 1308px;
  width: 5px;
}

.adultos-pollo .path-699 {
  height: 7px;
  left: 82px;
  object-fit: cover;
  position: absolute;
  top: 1307px;
  width: 6px;
}

.adultos-pollo .path-700 {
  height: 7px;
  left: 89px;
  object-fit: cover;
  position: absolute;
  top: 1308px;
  width: 6px;
}

.adultos-pollo .path-701 {
  height: 7px;
  left: 88px;
  object-fit: cover;
  position: absolute;
  top: 1307px;
  width: 6px;
}

.adultos-pollo .path-70 {
  height: 7px;
  left: 51px;
  object-fit: cover;
  position: absolute;
  top: 1317px;
  width: 6px;
}

.adultos-pollo .path-704 {
  height: 7px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 1317px;
  width: 5px;
}

.adultos-pollo .path-705 {
  height: 7px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 1317px;
  width: 6px;
}

.adultos-pollo .path-706 {
  height: 7px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 1317px;
  width: 1px;
}

.adultos-pollo .path-707 {
  height: 7px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 1317px;
  width: 2px;
}

.adultos-pollo .path-708 {
  height: 7px;
  left: 69px;
  object-fit: cover;
  position: absolute;
  top: 1317px;
  width: 6px;
}

.adultos-pollo .path-709 {
  height: 7px;
  left: 69px;
  object-fit: cover;
  position: absolute;
  top: 1317px;
  width: 7px;
}

.adultos-pollo .path-71 {
  height: 7px;
  left: 77px;
  object-fit: cover;
  position: absolute;
  top: 1317px;
  width: 6px;
}

.adultos-pollo .path-712 {
  height: 7px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: 1317px;
  width: 4px;
}

.adultos-pollo .path-713 {
  height: 7px;
  left: 84px;
  object-fit: cover;
  position: absolute;
  top: 1317px;
  width: 5px;
}

.adultos-pollo .path-714 {
  height: 54px;
  left: 273px;
  object-fit: cover;
  position: absolute;
  top: 1280px;
  width: 89px;
}

.adultos-pollo .rectangle-164 {
  border: 7px solid;
  border-color: var(--bay-of-many-2);
  border-radius: 24.94px 24.94px 24.94px 24.94px;
  height: 61px;
  left: 270px;
  position: absolute;
  top: 1276px;
  width: 96px;
}

.adultos-pollo .protena {
  left: 291px;
  letter-spacing: 0;
  line-height: 14.5px;
  position: absolute;
  top: 1309px;
  white-space: nowrap;
}

.adultos-pollo .span0-6 {
  letter-spacing: 0.33px;
}

.adultos-pollo .span-34 {
  letter-spacing: 0.12px;
}

.adultos-pollo .span5-4 {
  letter-spacing: 0.11px;
}

.adultos-pollo .path-715 {
  height: 19px;
  left: 295px;
  object-fit: cover;
  position: absolute;
  top: 1290px;
  width: 14px;
}

.adultos-pollo .path-716 {
  height: 19px;
  left: 309px;
  object-fit: cover;
  position: absolute;
  top: 1290px;
  width: 14px;
}

.adultos-pollo .path-717 {
  height: 19px;
  left: 325px;
  object-fit: cover;
  position: absolute;
  top: 1290px;
  width: 20px;
}

.adultos-pollo .path-718 {
  height: 41px;
  left: 116px;
  object-fit: cover;
  position: absolute;
  top: 84px;
  width: 179px;
}

.adultos-pollo .adultos-1 {
  left: 152px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 92px;
  white-space: nowrap;
}

.adultos-pollo .span1-9 {
  letter-spacing: -2.50px;
}

.adultos-pollo .group-186 {
  height: 351px;
  left: 69px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 273px;
}

.adultos-pollo .adorable-red-cat-iso {
  height: 254px;
  left: 156px;
  object-fit: cover;
  position: absolute;
  top: 1339px;
  width: 233px;
}

.adultos-pollo .group-712 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 14px;
  left: 27px;
  min-width: 86px;
  padding: 0 0.0px;
  position: absolute;
  top: 23px;
}

.adultos-pollo .path-container-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 14px;
  width: 27px;
}

.adultos-pollo .address-6 {
  letter-spacing: 0;
  line-height: 21.6px;
  position: absolute;
  white-space: nowrap;
}

.adultos-pollo .line {
  object-fit: cover;
  position: absolute;
}

.adultos-pollo .percent-7 {
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  white-space: nowrap;
}
