/* screen - alimento-humedo-pavo */

.alimento-humedo-pavo {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3082px;
  overflow: hidden;
  width: 412px;
}

.alimento-humedo-pavo .overlap-group1 {
  height: 3129px;
  margin-top: 0;
  position: relative;
  width: 412px;
}

.alimento-humedo-pavo .path-1970 {
  height: 490px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2639px;
  width: 412px;
}

.alimento-humedo-pavo .path-1971 {
  height: 1089px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1612px;
  width: 412px;
}

.alimento-humedo-pavo .path-1972 {
  height: 694px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 995px;
  width: 412px;
}

.alimento-humedo-pavo .path-1973 {
  height: 1056px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 412px;
}

.alimento-humedo-pavo .group-540 {
  height: 55px;
  left: 157px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 97px;
}

.alimento-humedo-pavo .group-544 {
  cursor: pointer;
  height: 55px;
  left: 157px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 97px;
}

.alimento-humedo-pavo .line-9 {
  height: 1px;
  left: 9px;
  top: 55px;
  width: 394px;
}

.alimento-humedo-pavo .path-1981 {
  height: 28px;
  left: 339px;
  object-fit: cover;
  position: absolute;
  top: 1041px;
  width: 24px;
}

.alimento-humedo-pavo .path-1982 {
  height: 9px;
  left: 341px;
  object-fit: cover;
  position: absolute;
  top: 1029px;
  width: 11px;
}

.alimento-humedo-pavo .path-1983 {
  height: 9px;
  left: 336px;
  object-fit: cover;
  position: absolute;
  top: 1068px;
  width: 10px;
}

.alimento-humedo-pavo .path-1984 {
  height: 9px;
  left: 327px;
  object-fit: cover;
  position: absolute;
  top: 1038px;
  width: 10px;
}

.alimento-humedo-pavo .path-1985 {
  height: 9px;
  left: 325px;
  object-fit: cover;
  position: absolute;
  top: 1056px;
  width: 9px;
}

.alimento-humedo-pavo .path-1986 {
  height: 40px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 2937px;
  width: 391px;
}

.alimento-humedo-pavo .title {
  left: 74px;
  letter-spacing: 0;
  line-height: 33.6px;
  position: absolute;
  top: 2748px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span-1 {
  letter-spacing: -0.36px;
}

.alimento-humedo-pavo .span5 {
  letter-spacing: -0.59px;
}

.alimento-humedo-pavo .path-1987 {
  height: 99px;
  left: 48px;
  object-fit: cover;
  position: absolute;
  top: 2623px;
  width: 129px;
}

.alimento-humedo-pavo .path-1988 {
  height: 21px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 2656px;
  width: 12px;
}

.alimento-humedo-pavo .path-1989 {
  height: 11px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 2676px;
  width: 5px;
}

.alimento-humedo-pavo .path-1990 {
  height: 12px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 2649px;
  width: 5px;
}

.alimento-humedo-pavo .path-1991 {
  height: 25px;
  left: 268px;
  object-fit: cover;
  position: absolute;
  top: 1044px;
  width: 24px;
}

.alimento-humedo-pavo .path-1992 {
  height: 9px;
  left: 279px;
  object-fit: cover;
  position: absolute;
  top: 1032px;
  width: 9px;
}

.alimento-humedo-pavo .path-1993 {
  height: 9px;
  left: 259px;
  object-fit: cover;
  position: absolute;
  top: 1063px;
  width: 9px;
}

.alimento-humedo-pavo .path-1994 {
  height: 9px;
  left: 263px;
  object-fit: cover;
  position: absolute;
  top: 1034px;
  width: 9px;
}

.alimento-humedo-pavo .path-1995 {
  height: 9px;
  left: 255px;
  object-fit: cover;
  position: absolute;
  top: 1048px;
  width: 8px;
}

.alimento-humedo-pavo .path-1996 {
  height: 25px;
  left: 197px;
  object-fit: cover;
  position: absolute;
  top: 1019px;
  width: 21px;
}

.alimento-humedo-pavo .path-1997 {
  height: 7px;
  left: 193px;
  object-fit: cover;
  position: absolute;
  top: 1013px;
  width: 9px;
}

.alimento-humedo-pavo .path-1998 {
  height: 8px;
  left: 201px;
  object-fit: cover;
  position: absolute;
  top: 1047px;
  width: 9px;
}

.alimento-humedo-pavo .path-1999 {
  height: 7px;
  left: 184px;
  object-fit: cover;
  position: absolute;
  top: 1026px;
  width: 9px;
}

.alimento-humedo-pavo .path-2000 {
  height: 8px;
  left: 188px;
  object-fit: cover;
  position: absolute;
  top: 1041px;
  width: 8px;
}

.alimento-humedo-pavo .path-2001 {
  height: 24px;
  left: 125px;
  object-fit: cover;
  position: absolute;
  top: 993px;
  width: 22px;
}

.alimento-humedo-pavo .path-2002 {
  height: 8px;
  left: 131px;
  object-fit: cover;
  position: absolute;
  top: 981px;
  width: 9px;
}

.alimento-humedo-pavo .path-2003 {
  height: 8px;
  left: 118px;
  object-fit: cover;
  position: absolute;
  top: 1014px;
  width: 9px;
}

.alimento-humedo-pavo .path-2004 {
  height: 8px;
  left: 117px;
  object-fit: cover;
  position: absolute;
  top: 986px;
  width: 9px;
}

.alimento-humedo-pavo .path-2005 {
  height: 8px;
  left: 111px;
  object-fit: cover;
  position: absolute;
  top: 1001px;
  width: 8px;
}

.alimento-humedo-pavo .path-2006 {
  height: 25px;
  left: 52px;
  object-fit: cover;
  position: absolute;
  top: 990px;
  width: 22px;
}

.alimento-humedo-pavo .path-2007 {
  height: 8px;
  left: 47px;
  object-fit: cover;
  position: absolute;
  top: 985px;
  width: 9px;
}

.alimento-humedo-pavo .path-2008 {
  height: 8px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 1019px;
  width: 9px;
}

.alimento-humedo-pavo .path-2009 {
  height: 8px;
  left: 39px;
  object-fit: cover;
  position: absolute;
  top: 999px;
  width: 9px;
}

.alimento-humedo-pavo .path-2010 {
  height: 8px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 1013px;
  width: 8px;
}

.alimento-humedo-pavo .path-2011 {
  height: 156px;
  left: 139px;
  object-fit: cover;
  position: absolute;
  top: 2106px;
  width: 179px;
}

.alimento-humedo-pavo .path-2012 {
  height: 81px;
  left: 171px;
  object-fit: cover;
  position: absolute;
  top: 2005px;
  width: 67px;
}

.alimento-humedo-pavo .path-2013 {
  height: 79px;
  left: 99px;
  object-fit: cover;
  position: absolute;
  top: 2036px;
  width: 69px;
}

.alimento-humedo-pavo .path-2014 {
  height: 74px;
  left: 251px;
  object-fit: cover;
  position: absolute;
  top: 2037px;
  width: 63px;
}

.alimento-humedo-pavo .path-2015 {
  height: 72px;
  left: 69px;
  object-fit: cover;
  position: absolute;
  top: 2116px;
  width: 66px;
}

.alimento-humedo-pavo .path-2016 {
  height: 41px;
  left: 89px;
  object-fit: cover;
  position: absolute;
  top: 81px;
  width: 234px;
}

.alimento-humedo-pavo .gatos-y-gatitos {
  left: 102px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 90px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span-2 {
  letter-spacing: -2.26px;
}

.alimento-humedo-pavo .place {
  left: 177px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 461px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span0 {
  letter-spacing: -1.41px;
}

.alimento-humedo-pavo .span1-1 {
  letter-spacing: -2.29px;
}

.alimento-humedo-pavo .span2 {
  letter-spacing: -0.15px;
}

.alimento-humedo-pavo .path-2017 {
  height: 58px;
  left: 71px;
  object-fit: cover;
  position: absolute;
  top: 550px;
  width: 307px;
}

.alimento-humedo-pavo .path-2018 {
  height: 80px;
  left: 36px;
  object-fit: cover;
  position: absolute;
  top: 539px;
  width: 80px;
}

.alimento-humedo-pavo .ellipse-19 {
  left: 35px;
  top: 538px;
  transform: rotate(-52.02deg);
}

.alimento-humedo-pavo .con-taurina {
  left: 177px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 561px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span-3 {
  letter-spacing: 0.22px;
}

.alimento-humedo-pavo .span-4 {
  letter-spacing: 0.20px;
}

.alimento-humedo-pavo .span-5 {
  letter-spacing: 0.29px;
}

.alimento-humedo-pavo .span5-1 {
  letter-spacing: 0.57px;
}

.alimento-humedo-pavo .span-6 {
  letter-spacing: 0.26px;
}

.alimento-humedo-pavo .path-2019 {
  height: 58px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  top: 679px;
  width: 307px;
}

.alimento-humedo-pavo .path-2020 {
  height: 80px;
  left: 297px;
  object-fit: cover;
  position: absolute;
  top: 668px;
  width: 80px;
}

.alimento-humedo-pavo .ellipse-20 {
  left: 296px;
  top: 667px;
  transform: rotate(-55.28deg);
}

.alimento-humedo-pavo .fuente-de-hidratacin {
  left: 56px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 692px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span1-2 {
  letter-spacing: -0.22px;
}

.alimento-humedo-pavo .span-7 {
  letter-spacing: 0.04px;
}

.alimento-humedo-pavo .span-8 {
  letter-spacing: 0.13px;
}

.alimento-humedo-pavo .path-2021 {
  height: 58px;
  left: 71px;
  object-fit: cover;
  position: absolute;
  top: 813px;
  width: 307px;
}

.alimento-humedo-pavo .path-2022 {
  height: 80px;
  left: 37px;
  object-fit: cover;
  position: absolute;
  top: 802px;
  width: 80px;
}

.alimento-humedo-pavo .ellipse-21 {
  left: 36px;
  top: 801px;
  transform: rotate(-52.02deg);
}

.alimento-humedo-pavo .estimula-su-apetito {
  left: 140px;
  letter-spacing: 0;
  line-height: 26.4px;
  position: absolute;
  top: 827px;
  white-space: nowrap;
}

.alimento-humedo-pavo .path-2023 {
  height: 38px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 819px;
  width: 28px;
}

.alimento-humedo-pavo .path-2024 {
  height: 46px;
  left: 56px;
  object-fit: cover;
  position: absolute;
  top: 817px;
  width: 32px;
}

.alimento-humedo-pavo .path-2025 {
  height: 2px;
  left: 69px;
  object-fit: cover;
  position: absolute;
  top: 853px;
  width: 5px;
}

.alimento-humedo-pavo .path-2026 {
  height: 2px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 856px;
  width: 26px;
}

.alimento-humedo-pavo .path-2027 {
  height: 13px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  top: 844px;
  width: 5px;
}

.alimento-humedo-pavo .path-2028 {
  height: 42px;
  left: 54px;
  object-fit: cover;
  position: absolute;
  top: 558px;
  width: 44px;
}

.alimento-humedo-pavo .path-2029 {
  height: 8px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 566px;
  width: 7px;
}

.alimento-humedo-pavo .path-2030 {
  height: 48px;
  left: 317px;
  object-fit: cover;
  position: absolute;
  top: 683px;
  width: 37px;
}

.alimento-humedo-pavo .path-2031 {
  height: 13px;
  left: 335px;
  object-fit: cover;
  position: absolute;
  top: 712px;
  width: 14px;
}

.alimento-humedo-pavo .path-2032 {
  height: 188px;
  left: 122px;
  object-fit: cover;
  position: absolute;
  top: 1224px;
  width: 215px;
}

.alimento-humedo-pavo .path-2033 {
  height: 98px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 1103px;
  width: 81px;
}

.alimento-humedo-pavo .path-2034 {
  height: 95px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: 1140px;
  width: 83px;
}

.alimento-humedo-pavo .path-2035 {
  height: 90px;
  left: 256px;
  object-fit: cover;
  position: absolute;
  top: 1142px;
  width: 75px;
}

.alimento-humedo-pavo .path-2036 {
  height: 87px;
  left: 37px;
  object-fit: cover;
  position: absolute;
  top: 1237px;
  width: 80px;
}

.alimento-humedo-pavo .path-2037 {
  height: 66px;
  left: 181px;
  object-fit: cover;
  position: absolute;
  top: 1160px;
  width: 84px;
}

.alimento-humedo-pavo .rectangle-410 {
  border: 4px solid;
  border-color: var(--white);
  border-radius: 10.94px 10.94px 10.94px 10.94px;
  height: 70px;
  left: 179px;
  position: absolute;
  top: 1158px;
  width: 88px;
}

.alimento-humedo-pavo .path-2038 {
  height: 31px;
  left: 183px;
  object-fit: cover;
  position: absolute;
  top: 1193px;
  width: 79px;
}

.alimento-humedo-pavo .alto-en {
  left: 197px;
  letter-spacing: 0;
  line-height: 14.4px;
  position: absolute;
  top: 1168px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span1-3 {
  letter-spacing: -1.25px;
}

.alimento-humedo-pavo .protena {
  left: 194px;
  letter-spacing: 0;
  line-height: 14.4px;
  position: absolute;
  top: 1180px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span1 {
  letter-spacing: -0.16px;
}

.alimento-humedo-pavo .span3-1 {
  letter-spacing: -0.24px;
}

.alimento-humedo-pavo .address {
  left: 193px;
  letter-spacing: 0;
  line-height: 10.8px;
  position: absolute;
  top: 1194px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span1-4 {
  letter-spacing: 0.08px;
}

.alimento-humedo-pavo .span3-2 {
  letter-spacing: -0.65px;
}

.alimento-humedo-pavo .span-9 {
  letter-spacing: 0.06px;
}

.alimento-humedo-pavo .span-10 {
  letter-spacing: 0.05px;
}

.alimento-humedo-pavo .span8 {
  letter-spacing: -0.19px;
}

.alimento-humedo-pavo .y-minerales {
  left: 196px;
  letter-spacing: 0;
  line-height: 10.8px;
  position: absolute;
  top: 1205px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span5-2 {
  letter-spacing: -0.41px;
}

.alimento-humedo-pavo .path-2039 {
  height: 164px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 1761px;
  width: 235px;
}

.alimento-humedo-pavo .path-2041 {
  height: 42px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 1727px;
  width: 348px;
}

.alimento-humedo-pavo .line-99 {
  height: 1px;
  left: 32px;
  top: 1789px;
  width: 348px;
}

.alimento-humedo-pavo .line-100 {
  height: 1px;
  left: 32px;
  top: 1811px;
  width: 348px;
}

.alimento-humedo-pavo .line-101 {
  height: 1px;
  left: 32px;
  top: 1832px;
  width: 348px;
}

.alimento-humedo-pavo .line-102 {
  height: 1px;
  left: 32px;
  top: 1854px;
  width: 348px;
}

.alimento-humedo-pavo .line-103 {
  height: 1px;
  left: 32px;
  top: 1876px;
  width: 348px;
}

.alimento-humedo-pavo .line-104 {
  height: 1px;
  left: 32px;
  top: 1899px;
  width: 348px;
}

.alimento-humedo-pavo .line-105 {
  height: 157px;
  left: 266px;
  top: 1769px;
  width: 1px;
}

.alimento-humedo-pavo .anlisis-garantizado {
  left: 81px;
  letter-spacing: 0;
  line-height: 23.0px;
  position: absolute;
  top: 1740px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span-11 {
  letter-spacing: 1.15px;
}

.alimento-humedo-pavo .span-12 {
  letter-spacing: 1.13px;
}

.alimento-humedo-pavo .protena-cruda-mn {
  left: 59px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 1774px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span-13 {
  letter-spacing: 0.67px;
}

.alimento-humedo-pavo .span-14 {
  letter-spacing: 0.56px;
}

.alimento-humedo-pavo .span-15 {
  letter-spacing: 0.34px;
}

.alimento-humedo-pavo .span-16 {
  letter-spacing: 0.66px;
}

.alimento-humedo-pavo .span7 {
  letter-spacing: 0.10px;
}

.alimento-humedo-pavo .path-2043 {
  height: 10px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 1775px;
  width: 8px;
}

.alimento-humedo-pavo .path-2044 {
  height: 10px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 1775px;
  width: 8px;
}

.alimento-humedo-pavo .path-2045 {
  height: 10px;
  left: 73px;
  object-fit: cover;
  position: absolute;
  top: 1775px;
  width: 9px;
}

.alimento-humedo-pavo .path-2046 {
  height: 10px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 1775px;
  width: 8px;
}

.alimento-humedo-pavo .path-2047 {
  height: 10px;
  left: 89px;
  object-fit: cover;
  position: absolute;
  top: 1775px;
  width: 7px;
}

.alimento-humedo-pavo .path-2048 {
  height: 12px;
  left: 95px;
  object-fit: cover;
  position: absolute;
  top: 1773px;
  width: 4px;
}

.alimento-humedo-pavo .path-2049 {
  height: 10px;
  left: 99px;
  object-fit: cover;
  position: absolute;
  top: 1775px;
  width: 8px;
}

.alimento-humedo-pavo .path-2050 {
  height: 10px;
  left: 107px;
  object-fit: cover;
  position: absolute;
  top: 1775px;
  width: 9px;
}

.alimento-humedo-pavo .path-2051 {
  height: 10px;
  left: 118px;
  object-fit: cover;
  position: absolute;
  top: 1775px;
  width: 9px;
}

.alimento-humedo-pavo .path-2052 {
  height: 10px;
  left: 126px;
  object-fit: cover;
  position: absolute;
  top: 1775px;
  width: 8px;
}

.alimento-humedo-pavo .path-2053 {
  height: 10px;
  left: 134px;
  object-fit: cover;
  position: absolute;
  top: 1775px;
  width: 8px;
}

.alimento-humedo-pavo .path-2054 {
  height: 10px;
  left: 141px;
  object-fit: cover;
  position: absolute;
  top: 1775px;
  width: 8px;
}

.alimento-humedo-pavo .path-2055 {
  height: 10px;
  left: 149px;
  object-fit: cover;
  position: absolute;
  top: 1775px;
  width: 9px;
}

.alimento-humedo-pavo .path-2056 {
  height: 11px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 1775px;
  width: 5px;
}

.alimento-humedo-pavo .path-2057 {
  height: 10px;
  left: 164px;
  object-fit: cover;
  position: absolute;
  top: 1775px;
  width: 10px;
}

.alimento-humedo-pavo .path-2058 {
  height: 12px;
  left: 173px;
  object-fit: cover;
  position: absolute;
  top: 1773px;
  width: 4px;
}

.alimento-humedo-pavo .path-2059 {
  height: 10px;
  left: 177px;
  object-fit: cover;
  position: absolute;
  top: 1775px;
  width: 8px;
}

.alimento-humedo-pavo .path-2060 {
  height: 4px;
  left: 185px;
  object-fit: cover;
  position: absolute;
  top: 1782px;
  width: 4px;
}

.alimento-humedo-pavo .path-2061 {
  height: 11px;
  left: 188px;
  object-fit: cover;
  position: absolute;
  top: 1775px;
  width: 5px;
}

.alimento-humedo-pavo .grasa-cruda-mn {
  left: 59px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 1795px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span-17 {
  letter-spacing: 0.45px;
}

.alimento-humedo-pavo .span-18 {
  letter-spacing: 0.11px;
}

.alimento-humedo-pavo .path-2062 {
  height: 10px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 1796px;
  width: 9px;
}

.alimento-humedo-pavo .path-2063 {
  height: 10px;
  left: 67px;
  object-fit: cover;
  position: absolute;
  top: 1796px;
  width: 8px;
}

.alimento-humedo-pavo .path-2064 {
  height: 10px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: 1796px;
  width: 9px;
}

.alimento-humedo-pavo .path-2065 {
  height: 10px;
  left: 82px;
  object-fit: cover;
  position: absolute;
  top: 1796px;
  width: 8px;
}

.alimento-humedo-pavo .path-2066 {
  height: 10px;
  left: 89px;
  object-fit: cover;
  position: absolute;
  top: 1796px;
  width: 9px;
}

.alimento-humedo-pavo .path-2067 {
  height: 10px;
  left: 101px;
  object-fit: cover;
  position: absolute;
  top: 1796px;
  width: 9px;
}

.alimento-humedo-pavo .path-2068 {
  height: 10px;
  left: 109px;
  object-fit: cover;
  position: absolute;
  top: 1796px;
  width: 8px;
}

.alimento-humedo-pavo .path-2069 {
  height: 10px;
  left: 116px;
  object-fit: cover;
  position: absolute;
  top: 1796px;
  width: 8px;
}

.alimento-humedo-pavo .path-2070 {
  height: 10px;
  left: 124px;
  object-fit: cover;
  position: absolute;
  top: 1796px;
  width: 8px;
}

.alimento-humedo-pavo .path-2071 {
  height: 10px;
  left: 131px;
  object-fit: cover;
  position: absolute;
  top: 1796px;
  width: 9px;
}

.alimento-humedo-pavo .path-2072 {
  height: 11px;
  left: 142px;
  object-fit: cover;
  position: absolute;
  top: 1795px;
  width: 5px;
}

.alimento-humedo-pavo .path-2073 {
  height: 10px;
  left: 147px;
  object-fit: cover;
  position: absolute;
  top: 1796px;
  width: 10px;
}

.alimento-humedo-pavo .path-2074 {
  height: 12px;
  left: 156px;
  object-fit: cover;
  position: absolute;
  top: 1794px;
  width: 4px;
}

.alimento-humedo-pavo .path-2075 {
  height: 10px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 1796px;
  width: 8px;
}

.alimento-humedo-pavo .path-2076 {
  height: 4px;
  left: 167px;
  object-fit: cover;
  position: absolute;
  top: 1802px;
  width: 4px;
}

.alimento-humedo-pavo .path-2077 {
  height: 11px;
  left: 171px;
  object-fit: cover;
  position: absolute;
  top: 1795px;
  width: 5px;
}

.alimento-humedo-pavo .fibra-cruda-mx {
  left: 59px;
  letter-spacing: 0;
  line-height: 13.4px;
  top: 1817px;
}

.alimento-humedo-pavo .path-2078 {
  height: 10px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 1818px;
  width: 7px;
}

.alimento-humedo-pavo .path-2079 {
  height: 10px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 1818px;
  width: 4px;
}

.alimento-humedo-pavo .path-2080 {
  height: 10px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 1818px;
  width: 8px;
}

.alimento-humedo-pavo .path-2081 {
  height: 10px;
  left: 76px;
  object-fit: cover;
  position: absolute;
  top: 1818px;
  width: 8px;
}

.alimento-humedo-pavo .path-2082 {
  height: 10px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 1818px;
  width: 9px;
}

.alimento-humedo-pavo .path-2083 {
  height: 10px;
  left: 95px;
  object-fit: cover;
  position: absolute;
  top: 1818px;
  width: 9px;
}

.alimento-humedo-pavo .path-2084 {
  height: 10px;
  left: 103px;
  object-fit: cover;
  position: absolute;
  top: 1818px;
  width: 8px;
}

.alimento-humedo-pavo .path-2085 {
  height: 10px;
  left: 110px;
  object-fit: cover;
  position: absolute;
  top: 1818px;
  width: 8px;
}

.alimento-humedo-pavo .path-2086 {
  height: 10px;
  left: 118px;
  object-fit: cover;
  position: absolute;
  top: 1818px;
  width: 8px;
}

.alimento-humedo-pavo .path-2087 {
  height: 10px;
  left: 125px;
  object-fit: cover;
  position: absolute;
  top: 1818px;
  width: 9px;
}

.alimento-humedo-pavo .path-2088 {
  height: 11px;
  left: 136px;
  object-fit: cover;
  position: absolute;
  top: 1818px;
  width: 5px;
}

.alimento-humedo-pavo .path-2089 {
  height: 10px;
  left: 141px;
  object-fit: cover;
  position: absolute;
  top: 1818px;
  width: 10px;
}

.alimento-humedo-pavo .path-2090 {
  height: 12px;
  left: 150px;
  object-fit: cover;
  position: absolute;
  top: 1816px;
  width: 9px;
}

.alimento-humedo-pavo .path-2091 {
  height: 10px;
  left: 158px;
  object-fit: cover;
  position: absolute;
  top: 1818px;
  width: 9px;
}

.alimento-humedo-pavo .path-2092 {
  height: 4px;
  left: 166px;
  object-fit: cover;
  position: absolute;
  top: 1824px;
  width: 4px;
}

.alimento-humedo-pavo .path-2093 {
  height: 11px;
  left: 169px;
  object-fit: cover;
  position: absolute;
  top: 1818px;
  width: 5px;
}

.alimento-humedo-pavo .ceniza-mx {
  left: 59px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 1839px;
  white-space: nowrap;
}

.alimento-humedo-pavo .path-2094 {
  height: 10px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 1840px;
  width: 9px;
}

.alimento-humedo-pavo .path-2095 {
  height: 10px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 1840px;
  width: 7px;
}

.alimento-humedo-pavo .path-2096 {
  height: 10px;
  left: 73px;
  object-fit: cover;
  position: absolute;
  top: 1840px;
  width: 8px;
}

.alimento-humedo-pavo .path-2097 {
  height: 10px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 1840px;
  width: 4px;
}

.alimento-humedo-pavo .path-2098 {
  height: 10px;
  left: 84px;
  object-fit: cover;
  position: absolute;
  top: 1840px;
  width: 7px;
}

.alimento-humedo-pavo .path-2099 {
  height: 10px;
  left: 91px;
  object-fit: cover;
  position: absolute;
  top: 1840px;
  width: 9px;
}

.alimento-humedo-pavo .path-2100 {
  height: 11px;
  left: 102px;
  object-fit: cover;
  position: absolute;
  top: 1840px;
  width: 5px;
}

.alimento-humedo-pavo .path-2101 {
  height: 10px;
  left: 106px;
  object-fit: cover;
  position: absolute;
  top: 1840px;
  width: 10px;
}

.alimento-humedo-pavo .path-2102 {
  height: 12px;
  left: 115px;
  object-fit: cover;
  position: absolute;
  top: 1838px;
  width: 9px;
}

.alimento-humedo-pavo .path-2103 {
  height: 10px;
  left: 124px;
  object-fit: cover;
  position: absolute;
  top: 1840px;
  width: 9px;
}

.alimento-humedo-pavo .path-2104 {
  height: 4px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 1847px;
  width: 4px;
}

.alimento-humedo-pavo .path-2105 {
  height: 11px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 1840px;
  width: 5px;
}

.alimento-humedo-pavo .calcio-mn {
  left: 59px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 1882px;
  white-space: nowrap;
}

.alimento-humedo-pavo .path-2106 {
  height: 10px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 1883px;
  width: 9px;
}

.alimento-humedo-pavo .path-2107 {
  height: 10px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 1883px;
  width: 9px;
}

.alimento-humedo-pavo .path-2108 {
  height: 10px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: 1883px;
  width: 7px;
}

.alimento-humedo-pavo .path-2109 {
  height: 10px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 1883px;
  width: 9px;
}

.alimento-humedo-pavo .path-2110 {
  height: 10px;
  left: 88px;
  object-fit: cover;
  position: absolute;
  top: 1883px;
  width: 4px;
}

.alimento-humedo-pavo .path-2111 {
  height: 10px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 1883px;
  width: 9px;
}

.alimento-humedo-pavo .path-2112 {
  height: 11px;
  left: 104px;
  object-fit: cover;
  position: absolute;
  top: 1883px;
  width: 5px;
}

.alimento-humedo-pavo .path-2113 {
  height: 10px;
  left: 108px;
  object-fit: cover;
  position: absolute;
  top: 1883px;
  width: 10px;
}

.alimento-humedo-pavo .path-2114 {
  height: 12px;
  left: 117px;
  object-fit: cover;
  position: absolute;
  top: 1881px;
  width: 4px;
}

.alimento-humedo-pavo .path-2115 {
  height: 10px;
  left: 121px;
  object-fit: cover;
  position: absolute;
  top: 1883px;
  width: 8px;
}

.alimento-humedo-pavo .path-2116 {
  height: 4px;
  left: 129px;
  object-fit: cover;
  position: absolute;
  top: 1890px;
  width: 4px;
}

.alimento-humedo-pavo .path-2117 {
  height: 11px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 1883px;
  width: 5px;
}

.alimento-humedo-pavo .fsforo-mn {
  left: 59px;
  letter-spacing: 0;
  line-height: 13.4px;
  position: absolute;
  top: 1905px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span3-3 {
  letter-spacing: 0.32px;
}

.alimento-humedo-pavo .path-2118 {
  height: 10px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 1906px;
  width: 7px;
}

.alimento-humedo-pavo .path-2119 {
  height: 12px;
  left: 64px;
  object-fit: cover;
  position: absolute;
  top: 1903px;
  width: 9px;
}

.alimento-humedo-pavo .path-2120 {
  height: 10px;
  left: 73px;
  object-fit: cover;
  position: absolute;
  top: 1905px;
  width: 8px;
}

.alimento-humedo-pavo .path-2121 {
  height: 10px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 1906px;
  width: 7px;
}

.alimento-humedo-pavo .path-2122 {
  height: 10px;
  left: 87px;
  object-fit: cover;
  position: absolute;
  top: 1906px;
  width: 9px;
}

.alimento-humedo-pavo .path-2123 {
  height: 10px;
  left: 96px;
  object-fit: cover;
  position: absolute;
  top: 1906px;
  width: 8px;
}

.alimento-humedo-pavo .path-2124 {
  height: 10px;
  left: 103px;
  object-fit: cover;
  position: absolute;
  top: 1906px;
  width: 9px;
}

.alimento-humedo-pavo .path-2125 {
  height: 11px;
  left: 115px;
  object-fit: cover;
  position: absolute;
  top: 1905px;
  width: 5px;
}

.alimento-humedo-pavo .path-2126 {
  height: 10px;
  left: 119px;
  object-fit: cover;
  position: absolute;
  top: 1906px;
  width: 10px;
}

.alimento-humedo-pavo .path-2127 {
  height: 12px;
  left: 129px;
  object-fit: cover;
  position: absolute;
  top: 1903px;
  width: 4px;
}

.alimento-humedo-pavo .path-2128 {
  height: 10px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 1906px;
  width: 8px;
}

.alimento-humedo-pavo .path-2129 {
  height: 4px;
  left: 140px;
  object-fit: cover;
  position: absolute;
  top: 1912px;
  width: 4px;
}

.alimento-humedo-pavo .path-2130 {
  height: 11px;
  left: 143px;
  object-fit: cover;
  position: absolute;
  top: 1905px;
  width: 5px;
}

.alimento-humedo-pavo .humedad-mx {
  left: 59px;
  letter-spacing: 0;
  line-height: 13.4px;
  top: 1861px;
}

.alimento-humedo-pavo .path-2131 {
  height: 10px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 1862px;
  width: 8px;
}

.alimento-humedo-pavo .path-2132 {
  height: 10px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 1862px;
  width: 8px;
}

.alimento-humedo-pavo .path-2133 {
  height: 10px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: 1862px;
  width: 10px;
}

.alimento-humedo-pavo .path-2134 {
  height: 10px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 1862px;
  width: 7px;
}

.alimento-humedo-pavo .path-2135 {
  height: 10px;
  left: 90px;
  object-fit: cover;
  position: absolute;
  top: 1862px;
  width: 8px;
}

.alimento-humedo-pavo .path-2136 {
  height: 10px;
  left: 97px;
  object-fit: cover;
  position: absolute;
  top: 1862px;
  width: 9px;
}

.alimento-humedo-pavo .path-2137 {
  height: 10px;
  left: 105px;
  object-fit: cover;
  position: absolute;
  top: 1862px;
  width: 8px;
}

.alimento-humedo-pavo .path-2138 {
  height: 11px;
  left: 116px;
  object-fit: cover;
  position: absolute;
  top: 1861px;
  width: 5px;
}

.alimento-humedo-pavo .path-2139 {
  height: 10px;
  left: 120px;
  object-fit: cover;
  position: absolute;
  top: 1862px;
  width: 10px;
}

.alimento-humedo-pavo .path-2140 {
  height: 12px;
  left: 129px;
  object-fit: cover;
  position: absolute;
  top: 1860px;
  width: 9px;
}

.alimento-humedo-pavo .path-2141 {
  height: 10px;
  left: 138px;
  object-fit: cover;
  position: absolute;
  top: 1862px;
  width: 9px;
}

.alimento-humedo-pavo .path-2142 {
  height: 4px;
  left: 146px;
  object-fit: cover;
  position: absolute;
  top: 1868px;
  width: 4px;
}

.alimento-humedo-pavo .path-2143 {
  height: 11px;
  left: 149px;
  object-fit: cover;
  position: absolute;
  top: 1861px;
  width: 5px;
}

.alimento-humedo-pavo .cmo-alimentar-a {
  left: 60px;
  letter-spacing: 0;
  line-height: 33.6px;
  position: absolute;
  top: 2049px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span1-5 {
  letter-spacing: -2.55px;
}

.alimento-humedo-pavo .tu-gatito {
  left: 124px;
  letter-spacing: 0;
  line-height: 33.6px;
  position: absolute;
  top: 2085px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span1-6 {
  letter-spacing: -2.63px;
}

.alimento-humedo-pavo .span3-4 {
  letter-spacing: -0.48px;
}

.alimento-humedo-pavo .gua-de-alimentacin {
  left: 81px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 2224px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span-19 {
  letter-spacing: -0.17px;
}

.alimento-humedo-pavo .span2-1 {
  letter-spacing: -1.91px;
}

.alimento-humedo-pavo .span3-5 {
  letter-spacing: -0.90px;
}

.alimento-humedo-pavo .span-20 {
  letter-spacing: -0.13px;
}

.alimento-humedo-pavo .diaria {
  left: 170px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 2245px;
  white-space: nowrap;
}

.alimento-humedo-pavo .considera-su-peso-y-edad {
  left: 87px;
  letter-spacing: 0;
  line-height: 23.1px;
  position: absolute;
  top: 2135px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span3-6 {
  letter-spacing: -0.06px;
}

.alimento-humedo-pavo .mientras-ms-conozcas-a-tu-minino {
  left: 42px;
  letter-spacing: 0;
  line-height: 23.1px;
  position: absolute;
  top: 2156px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span1-7 {
  letter-spacing: -0.37px;
}

.alimento-humedo-pavo .span9 {
  letter-spacing: -0.12px;
}

.alimento-humedo-pavo .mejor-lo-alimentars {
  left: 108px;
  letter-spacing: 0;
  line-height: 23.1px;
  position: absolute;
  top: 2177px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span6 {
  letter-spacing: -0.38px;
}

.alimento-humedo-pavo .path-2160 {
  height: 42px;
  left: 166px;
  object-fit: cover;
  position: absolute;
  top: 1971px;
  width: 80px;
}

.alimento-humedo-pavo .path-2161 {
  height: 5px;
  left: 203px;
  object-fit: cover;
  position: absolute;
  top: 2002px;
  width: 7px;
}

.alimento-humedo-pavo .path-2162 {
  height: 3px;
  left: 207px;
  object-fit: cover;
  position: absolute;
  top: 1998px;
  width: 3px;
}

.alimento-humedo-pavo .path-2163 {
  height: 3px;
  left: 203px;
  object-fit: cover;
  position: absolute;
  top: 1998px;
  width: 3px;
}

.alimento-humedo-pavo .path-2164 {
  height: 2px;
  left: 200px;
  object-fit: cover;
  position: absolute;
  top: 2001px;
  width: 2px;
}

.alimento-humedo-pavo .path-2165 {
  height: 2px;
  left: 209px;
  object-fit: cover;
  position: absolute;
  top: 2001px;
  width: 2px;
}

.alimento-humedo-pavo .group-603 {
  cursor: pointer;
  height: 168px;
  left: 208px;
  object-fit: cover;
  position: absolute;
  top: 2804px;
  width: 137px;
}

.alimento-humedo-pavo .rectangle-431 {
  cursor: pointer;
  height: 168px;
  left: 49px;
  object-fit: cover;
  position: absolute;
  top: 2805px;
  width: 137px;
}

.alimento-humedo-pavo .alimento {
  left: 86px;
  letter-spacing: 0;
  line-height: 15.8px;
  position: absolute;
  top: 2984px;
  white-space: nowrap;
}

.alimento-humedo-pavo .hmedo {
  left: 88px;
  letter-spacing: 0;
  line-height: 15.8px;
  position: absolute;
  top: 2997px;
  white-space: nowrap;
}

.alimento-humedo-pavo .hgado {
  left: 92px;
  letter-spacing: 0;
  line-height: 15.8px;
  position: absolute;
  top: 3010px;
  white-space: nowrap;
}

.alimento-humedo-pavo .alimento-1 {
  left: 249px;
  letter-spacing: 0;
  line-height: 15.8px;
  position: absolute;
  top: 2984px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span1-8 {
  letter-spacing: -0.18px;
}

.alimento-humedo-pavo .hmedo-1 {
  left: 251px;
  letter-spacing: 0;
  line-height: 15.8px;
  position: absolute;
  top: 2997px;
  white-space: nowrap;
}

.alimento-humedo-pavo .pollo {
  left: 261px;
  letter-spacing: 0;
  line-height: 15.8px;
  position: absolute;
  top: 3010px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span3-7 {
  letter-spacing: -0.05px;
}

.alimento-humedo-pavo .rectangle-117 {
  height: 308px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 169px;
  width: 256px;
}

.alimento-humedo-pavo .rectangle-561 {
  height: 194px;
  left: 180px;
  object-fit: cover;
  position: absolute;
  top: 1235px;
  width: 162px;
}

.alimento-humedo-pavo .x10235349 {
  height: 194px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 1246px;
  width: 284px;
}

.alimento-humedo-pavo .pro-cat-care-delicia {
  left: 44px;
  letter-spacing: 0.18px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 1434px;
  white-space: nowrap;
}

.alimento-humedo-pavo .overlap-group {
  height: 200px;
  left: 31px;
  position: absolute;
  top: 1726px;
  width: 350px;
}

.alimento-humedo-pavo .path-767 {
  height: 44px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 349px;
}

.alimento-humedo-pavo .anlisis-garantizado-1 {
  left: 49px;
  letter-spacing: 1.14px;
  line-height: 19px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.alimento-humedo-pavo .percent {
  left: 273px;
  letter-spacing: 0.60px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 47px;
  white-space: nowrap;
}

.alimento-humedo-pavo .percent-1 {
  left: 273px;
  top: 68px;
}

.alimento-humedo-pavo .percent-2 {
  left: 273px;
  top: 90px;
}

.alimento-humedo-pavo .percent-3 {
  left: 273px;
  top: 112px;
}

.alimento-humedo-pavo .percent-4 {
  left: 269px;
  top: 155px;
}

.alimento-humedo-pavo .percent-5 {
  left: 269px;
  top: 178px;
}

.alimento-humedo-pavo .percent-6 {
  left: 269px;
  top: 134px;
}

.alimento-humedo-pavo .protena-cruda-mn-1 {
  -webkit-text-stroke: 0.4px var(--white);
  left: 28px;
  letter-spacing: 0.90px;
  line-height: 20px;
  position: absolute;
  top: 43px;
  white-space: nowrap;
}

.alimento-humedo-pavo .grasa-cruda-mn-1 {
  -webkit-text-stroke: 0.4px var(--white);
  left: 28px;
  letter-spacing: 0.90px;
  line-height: 20px;
  position: absolute;
  top: 65px;
  white-space: nowrap;
}

.alimento-humedo-pavo .fibra-cruda-max {
  -webkit-text-stroke: 0.4px var(--white);
  left: 28px;
  letter-spacing: 0.90px;
  line-height: 20px;
  top: 87px;
}

.alimento-humedo-pavo .minerales-totales-max {
  -webkit-text-stroke: 0.4px var(--white);
  left: 28px;
  letter-spacing: 0.90px;
  line-height: 20px;
  position: absolute;
  top: 106px;
  white-space: nowrap;
}

.alimento-humedo-pavo .humedad-max {
  -webkit-text-stroke: 0.4px var(--white);
  left: 28px;
  letter-spacing: 0.90px;
  line-height: 20px;
  top: 129px;
}

.alimento-humedo-pavo .calcio-mn-1 {
  -webkit-text-stroke: 0.4px var(--white);
  left: 28px;
  letter-spacing: 0.90px;
  line-height: 20px;
  position: absolute;
  top: 152px;
  white-space: nowrap;
}

.alimento-humedo-pavo .fsforo-mn-1 {
  -webkit-text-stroke: 0.4px var(--white);
  left: 28px;
  letter-spacing: 0.90px;
  line-height: 20px;
  position: absolute;
  top: 175px;
  white-space: nowrap;
}

.alimento-humedo-pavo .edad-meses {
  left: 168px;
  letter-spacing: 0;
  line-height: 14.4px;
  position: absolute;
  top: 2307px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span-21 {
  letter-spacing: -0.49px;
}

.alimento-humedo-pavo .cantidades-g {
  left: 166px;
  letter-spacing: 0;
  line-height: 14.4px;
  position: absolute;
  top: 2375px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span3 {
  letter-spacing: -0.14px;
}

.alimento-humedo-pavo .span5-3 {
  letter-spacing: -0.28px;
}

.alimento-humedo-pavo .cantidad-tazas {
  left: 160px;
  letter-spacing: 0;
  line-height: 14.4px;
  position: absolute;
  top: 2440px;
  white-space: nowrap;
}

.alimento-humedo-pavo .veces-al-da {
  left: 172px;
  letter-spacing: 0;
  line-height: 14.4px;
  position: absolute;
  top: 2510px;
  white-space: nowrap;
}

.alimento-humedo-pavo .span0-1 {
  letter-spacing: -0.83px;
}

.alimento-humedo-pavo .text-2 {
  left: 93px;
  letter-spacing: 0;
  line-height: 21.6px;
  position: absolute;
  text-align: center;
  top: 2465px;
  white-space: nowrap;
}

.alimento-humedo-pavo .address-1 {
  left: 81px;
  top: 2534px;
}

.alimento-humedo-pavo .address-2 {
  left: 296px;
  top: 2533px;
}

.alimento-humedo-pavo .address-3 {
  left: 170px;
  top: 2332px;
}

.alimento-humedo-pavo .address-4 {
  left: 184px;
  top: 2534px;
}

.alimento-humedo-pavo .group-712 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 14px;
  left: 27px;
  min-width: 86px;
  padding: 0 0.0px;
  position: absolute;
  top: 23px;
}

.alimento-humedo-pavo .path-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 14px;
  width: 27px;
}

.alimento-humedo-pavo .address-5 {
  letter-spacing: 0;
  line-height: 21.6px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.alimento-humedo-pavo .line {
  object-fit: cover;
  position: absolute;
}

.alimento-humedo-pavo .percent-7 {
  letter-spacing: 0.60px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
