/* screen - quienes-somos */

.quienes-somos {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1361px;
  overflow: hidden;
  width: 412px;
}

.quienes-somos .overlap-group {
  height: 1660px;
  margin-left: -5px;
  margin-top: -13px;
  position: relative;
  width: 425px;
}

.quienes-somos .recurso-5-pw {
  height: 1196px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 420px;
}

.quienes-somos .path-2397 {
  height: 473px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 412px;
}

.quienes-somos .path-2398 {
  height: 804px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 856px;
  width: 418px;
}

.quienes-somos .path-2399 {
  height: 473px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 431px;
  width: 414px;
}

.quienes-somos .rectangle-514 {
  height: 55px;
  left: 161px;
  top: 16px;
  width: 97px;
}

.quienes-somos .rectangle-517 {
  cursor: pointer;
  height: 55px;
  left: 161px;
  top: 16px;
  width: 97px;
}

.quienes-somos .line-13 {
  height: 1px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 67px;
  width: 394px;
}

.quienes-somos .quines-somos {
  left: 83px;
  letter-spacing: 0;
  line-height: 43.2px;
  position: absolute;
  top: 106px;
  white-space: nowrap;
}

.quienes-somos .pro-cat-care-es-una-lnea-de {
  left: 53px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 174px;
  white-space: nowrap;
}

.quienes-somos .span {
  letter-spacing: 0.15px;
}

.quienes-somos .span1 {
  letter-spacing: -0.13px;
}

.quienes-somos .span-2 {
  letter-spacing: 0.06px;
}

.quienes-somos .span-3 {
  letter-spacing: 4.94px;
}

.quienes-somos .span-4 {
  letter-spacing: -0.15px;
}

.quienes-somos .span9 {
  letter-spacing: 4.96px;
}

.quienes-somos .span-5 {
  letter-spacing: 0.04px;
}

.quienes-somos .productos-enfocada-en-el {
  left: 53px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 199px;
  white-space: nowrap;
}

.quienes-somos .span-6 {
  letter-spacing: 19.43px;
}

.quienes-somos .span5 {
  letter-spacing: -0.88px;
}

.quienes-somos .span-7 {
  letter-spacing: -0.06px;
}

.quienes-somos .bienestar-de-los-gastos-que-ha {
  left: 53px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 224px;
  white-space: nowrap;
}

.quienes-somos .span-8 {
  letter-spacing: 1.74px;
}

.quienes-somos .span-9 {
  letter-spacing: 1.72px;
}

.quienes-somos .path-2407 {
  height: 21px;
  left: 54px;
  object-fit: cover;
  position: absolute;
  top: 255px;
  width: 311px;
}

.quienes-somos .con-ingredientes-de-excelente {
  left: 53px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 274px;
  white-space: nowrap;
}

.quienes-somos .span1-1 {
  letter-spacing: 4.35px;
}

.quienes-somos .span-10 {
  letter-spacing: -0.40px;
}

.quienes-somos .span8 {
  letter-spacing: 4.37px;
}

.quienes-somos .span11 {
  letter-spacing: -0.19px;
}

.quienes-somos .span12 {
  letter-spacing: -0.67px;
}

.quienes-somos .calidad-y-digestibilidad {
  left: 90px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: absolute;
  top: 300px;
  white-space: nowrap;
}

.quienes-somos .gracias-a-la-inclusin-de {
  left: 68px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 697px;
  white-space: nowrap;
}

.quienes-somos .span-11 {
  letter-spacing: -0.14px;
}

.quienes-somos .span2 {
  letter-spacing: -0.07px;
}

.quienes-somos .span-12 {
  letter-spacing: 0.05px;
}

.quienes-somos .span-13 {
  letter-spacing: 0.07px;
}

.quienes-somos .protena-animal-como-su {
  left: 64px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 726px;
  white-space: nowrap;
}

.quienes-somos .span-14 {
  letter-spacing: -0.17px;
}

.quienes-somos .primer-ingrediente-ofrece {
  left: 59px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 754px;
  white-space: nowrap;
}

.quienes-somos .span1-2 {
  letter-spacing: 0.38px;
}

.quienes-somos .span8-1 {
  letter-spacing: -0.48px;
}

.quienes-somos .ptimos-niveles-de-protena {
  left: 49px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 783px;
  white-space: nowrap;
}

.quienes-somos .span4 {
  letter-spacing: 0.31px;
}

.quienes-somos .span5-1 {
  letter-spacing: -0.38px;
}

.quienes-somos .para-su-desarrollo {
  left: 104px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  top: 812px;
  white-space: nowrap;
}

.quienes-somos .path-2408 {
  height: 143px;
  left: 323px;
  object-fit: cover;
  position: absolute;
  top: 523px;
  width: 87px;
}

.quienes-somos .path-2409 {
  height: 26px;
  left: 350px;
  object-fit: cover;
  position: absolute;
  top: 552px;
  width: 26px;
}

.quienes-somos .path-2410 {
  height: 12px;
  left: 347px;
  object-fit: cover;
  position: absolute;
  top: 533px;
  width: 11px;
}

.quienes-somos .path-2411 {
  height: 11px;
  left: 335px;
  object-fit: cover;
  position: absolute;
  top: 542px;
  width: 12px;
}

.quienes-somos .path-2412 {
  height: 12px;
  left: 363px;
  object-fit: cover;
  position: absolute;
  top: 534px;
  width: 11px;
}

.quienes-somos .path-2413 {
  height: 11px;
  left: 332px;
  object-fit: cover;
  position: absolute;
  top: 558px;
  width: 12px;
}

.quienes-somos .path-2414 {
  height: 9px;
  left: 397px;
  object-fit: cover;
  position: absolute;
  top: 637px;
  width: 19px;
}

.quienes-somos .path-2415 {
  height: 18px;
  left: 386px;
  object-fit: cover;
  position: absolute;
  top: 586px;
  width: 18px;
}

.quienes-somos .path-2416 {
  height: 10px;
  left: 377px;
  object-fit: cover;
  position: absolute;
  top: 609px;
  width: 21px;
}

.quienes-somos .path-2417 {
  height: 4px;
  left: 405px;
  object-fit: cover;
  position: absolute;
  top: 615px;
  width: 8px;
}

.quienes-somos .path-2418 {
  height: 6px;
  left: 384px;
  object-fit: cover;
  position: absolute;
  top: 623px;
  width: 16px;
}

.quienes-somos .path-2419 {
  height: 14px;
  left: 386px;
  object-fit: cover;
  position: absolute;
  top: 571px;
  width: 7px;
}

.quienes-somos .path-2420 {
  height: 4px;
  left: 359px;
  object-fit: cover;
  position: absolute;
  top: 589px;
  width: 15px;
}

.quienes-somos .path-2 {
  height: 39px;
  left: 323px;
  object-fit: cover;
  position: absolute;
  top: 634px;
  width: 39px;
}

.quienes-somos .path-2422 {
  height: 193px;
  left: 134px;
  object-fit: cover;
  position: absolute;
  top: 1095px;
  width: 221px;
}

.quienes-somos .path-2423 {
  height: 100px;
  left: 174px;
  object-fit: cover;
  position: absolute;
  top: 971px;
  width: 83px;
}

.quienes-somos .path-2424 {
  height: 98px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: 1009px;
  width: 85px;
}

.quienes-somos .path-2425 {
  height: 92px;
  left: 272px;
  object-fit: cover;
  position: absolute;
  top: 1011px;
  width: 77px;
}

.quienes-somos .path-2426 {
  height: 89px;
  left: 47px;
  object-fit: cover;
  position: absolute;
  top: 1108px;
  width: 82px;
}

.quienes-somos .path-2427 {
  height: 159px;
  left: 131px;
  object-fit: cover;
  position: absolute;
  top: 512px;
  width: 159px;
}

.quienes-somos .path-2428 {
  height: 159px;
  left: 130px;
  object-fit: cover;
  position: absolute;
  top: 512px;
  width: 159px;
}

.quienes-somos .path-2429 {
  height: 140px;
  left: 140px;
  object-fit: cover;
  position: absolute;
  top: 522px;
  width: 140px;
}

.quienes-somos .path-2430 {
  height: 30px;
  left: 186px;
  object-fit: cover;
  position: absolute;
  top: 567px;
  width: 28px;
}

.quienes-somos .path-2431 {
  height: 32px;
  left: 219px;
  object-fit: cover;
  position: absolute;
  top: 565px;
  width: 16px;
}

.quienes-somos .path-2432 {
  height: 9px;
  left: 150px;
  object-fit: cover;
  position: absolute;
  top: 567px;
  width: 13px;
}

.quienes-somos .path-2433 {
  height: 10px;
  left: 150px;
  object-fit: cover;
  position: absolute;
  top: 567px;
  width: 14px;
}

.quienes-somos .path-2434 {
  height: 16px;
  left: 154px;
  object-fit: cover;
  position: absolute;
  top: 555px;
  width: 17px;
}

.quienes-somos .path-2435 {
  height: 17px;
  left: 154px;
  object-fit: cover;
  position: absolute;
  top: 554px;
  width: 17px;
}

.quienes-somos .path-2436 {
  height: 14px;
  left: 167px;
  object-fit: cover;
  position: absolute;
  top: 546px;
  width: 13px;
}

.quienes-somos .path-2437 {
  height: 14px;
  left: 167px;
  object-fit: cover;
  position: absolute;
  top: 545px;
  width: 14px;
}

.quienes-somos .path-2438 {
  height: 15px;
  left: 179px;
  object-fit: cover;
  position: absolute;
  top: 538px;
  width: 14px;
}

.quienes-somos .path-2439 {
  height: 16px;
  left: 179px;
  object-fit: cover;
  position: absolute;
  top: 538px;
  width: 15px;
}

.quienes-somos .path-244 {
  height: 15px;
  left: 193px;
  object-fit: cover;
  position: absolute;
  top: 534px;
  width: 11px;
}

.quienes-somos .path-2442 {
  height: 14px;
  left: 207px;
  object-fit: cover;
  position: absolute;
  top: 533px;
  width: 11px;
}

.quienes-somos .path-2443 {
  height: 14px;
  left: 206px;
  object-fit: cover;
  position: absolute;
  top: 533px;
  width: 11px;
}

.quienes-somos .path-2444 {
  height: 14px;
  left: 220px;
  object-fit: cover;
  position: absolute;
  top: 535px;
  width: 5px;
}

.quienes-somos .path-2445 {
  height: 14px;
  left: 219px;
  object-fit: cover;
  position: absolute;
  top: 534px;
  width: 6px;
}

.quienes-somos .path-244-1 {
  height: 16px;
  left: 225px;
  object-fit: cover;
  position: absolute;
  top: 536px;
  width: 13px;
}

.quienes-somos .path-2448 {
  height: 17px;
  left: 235px;
  object-fit: cover;
  position: absolute;
  top: 542px;
  width: 16px;
}

.quienes-somos .path-2449 {
  height: 17px;
  left: 235px;
  object-fit: cover;
  position: absolute;
  top: 541px;
  width: 16px;
}

.quienes-somos .path-245 {
  height: 14px;
  left: 248px;
  object-fit: cover;
  position: absolute;
  top: 550px;
  width: 14px;
}

.quienes-somos .path-2452 {
  height: 14px;
  left: 254px;
  object-fit: cover;
  position: absolute;
  top: 561px;
  width: 16px;
}

.quienes-somos .path-2453 {
  height: 15px;
  left: 253px;
  object-fit: cover;
  position: absolute;
  top: 561px;
  width: 16px;
}

.quienes-somos .path-2454 {
  height: 2px;
  left: 227px;
  object-fit: cover;
  position: absolute;
  top: 603px;
  width: 3px;
}

.quienes-somos .path-2455 {
  height: 3px;
  left: 227px;
  object-fit: cover;
  position: absolute;
  top: 603px;
  width: 3px;
}

.quienes-somos .path-2456 {
  height: 14px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 608px;
  width: 10px;
}

.quienes-somos .path-2457 {
  height: 15px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 607px;
  width: 11px;
}

.quienes-somos .path-2458 {
  height: 14px;
  left: 173px;
  object-fit: cover;
  position: absolute;
  top: 608px;
  width: 10px;
}

.quienes-somos .path-2459 {
  height: 15px;
  left: 173px;
  object-fit: cover;
  position: absolute;
  top: 607px;
  width: 11px;
}

.quienes-somos .path-246 {
  height: 15px;
  left: 186px;
  object-fit: cover;
  position: absolute;
  top: 607px;
  width: 13px;
}

.quienes-somos .path-2462 {
  height: 14px;
  left: 201px;
  object-fit: cover;
  position: absolute;
  top: 608px;
  width: 10px;
}

.quienes-somos .path-2463 {
  height: 15px;
  left: 201px;
  object-fit: cover;
  position: absolute;
  top: 607px;
  width: 11px;
}

.quienes-somos .path-2464 {
  height: 14px;
  left: 215px;
  object-fit: cover;
  position: absolute;
  top: 608px;
  width: 9px;
}

.quienes-somos .path-2465 {
  height: 15px;
  left: 215px;
  object-fit: cover;
  position: absolute;
  top: 607px;
  width: 9px;
}

.quienes-somos .path-2466 {
  height: 14px;
  left: 227px;
  object-fit: cover;
  position: absolute;
  top: 608px;
  width: 3px;
}

.quienes-somos .path-2467 {
  height: 15px;
  left: 227px;
  object-fit: cover;
  position: absolute;
  top: 607px;
  width: 3px;
}

.quienes-somos .path-2468 {
  height: 14px;
  left: 233px;
  object-fit: cover;
  position: absolute;
  top: 608px;
  width: 11px;
}

.quienes-somos .path-2469 {
  height: 15px;
  left: 233px;
  object-fit: cover;
  position: absolute;
  top: 607px;
  width: 11px;
}

.quienes-somos .path-2470 {
  height: 14px;
  left: 247px;
  object-fit: cover;
  position: absolute;
  top: 608px;
  width: 12px;
}

.quienes-somos .path-2471 {
  height: 15px;
  left: 246px;
  object-fit: cover;
  position: absolute;
  top: 607px;
  width: 13px;
}

.quienes-somos .path-2472 {
  height: 14px;
  left: 172px;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 12px;
}

.quienes-somos .path-2473 {
  height: 15px;
  left: 172px;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 13px;
}

.quienes-somos .path-2474 {
  height: 14px;
  left: 187px;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 11px;
}

.quienes-somos .path-2475 {
  height: 15px;
  left: 187px;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 11px;
}

.quienes-somos .path-2476 {
  height: 14px;
  left: 201px;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 3px;
}

.quienes-somos .path-2477 {
  height: 15px;
  left: 201px;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 3px;
}

.quienes-somos .path-2478 {
  height: 14px;
  left: 207px;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 13px;
}

.quienes-somos .path-2479 {
  height: 15px;
  left: 207px;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 14px;
}

.quienes-somos .path-2480 {
  height: 14px;
  left: 223px;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 12px;
}

.quienes-somos .path-2481 {
  height: 15px;
  left: 223px;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 13px;
}

.quienes-somos .path-2482 {
  height: 14px;
  left: 238px;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 9px;
}

.quienes-somos .path-2483 {
  height: 15px;
  left: 238px;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 9px;
}

.quienes-somos .nuestra {
  left: 128px;
  letter-spacing: 0;
  line-height: 43.2px;
  position: absolute;
  top: 959px;
  white-space: nowrap;
}

.quienes-somos .frmula {
  left: 125px;
  letter-spacing: 0;
  line-height: 43.2px;
  position: absolute;
  top: 995px;
  white-space: nowrap;
}

.quienes-somos .rectangle-522 {
  height: 413px;
  left: 0;
  top: 961px;
  width: 413px;
}

.quienes-somos .cada-frmula-posee-c {
  height: 224px;
  left: 35px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 1066px;
  width: 352px;
}

.quienes-somos .group-712 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 14px;
  left: 33px;
  min-width: 86px;
  padding: 0 0.0px;
  position: absolute;
  top: 36px;
}

.quienes-somos .path-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 14px;
  width: 27px;
}

.quienes-somos .rectangle {
  object-fit: cover;
  position: absolute;
}
